
.ccda1
{
/* padding-left:1px;
padding-right:1px; */
margin-left: 180px;
}
.ccda2
{
/* padding-left:1px;
padding-right:1px; */
margin-left: 10px;
margin-right: 30px;
}
.ccda
{
/* padding-left:1px;
padding-right:1px; */
margin-left: 180px;
}
.fiter_sidebar_btn{
  /* position: absolute;
  right: 15px;
  background: #5270D4; */
  font-size: 25px;
  position: absolute;
    right: 15px;
    top: 155px;
}
.sidebarOuter{
  right: 0;
  position: fixed;
  width: 300px;
  max-height: 100vh;
  background: #ffffff;
  z-index: 32;
  transition: all 0.5s ease-out;
  top: 42px;
  min-height: 100vh;
  overflow-y: auto;
  border-left: 1px solid #dfdfdf;
  box-shadow: -15px 5px 25px 0 rgba(0,0,0,0.1);
} 
.expandedSidebar{
  right: 0;
}
.sidebar_div{

  position: relative;
}
.sidebar_div span{
  position: absolute;
  right: 12px;
  top: 8px;
}
.sidebar_div input{
border-radius: 8px;
font-size: 12px;
  color: #333;
}
.filter_section{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  padding-left: 17px;
  margin-bottom: 15px;
}
button.close_filter{
  background: none;
  border: none;
  float: right;
}
button.apply_button{
  width: 270px;
  background: #5270D4;
  border-radius: 8px;
}
button.apply_button:hover{
  background: #ffffff;
  border: 1px solid #5270D4;
  color: #5270D4;
}


button.cancel_button{
  width: 270px;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 8px;
}
button.cancel_button:hover{
  background: #ffffff;
  border: 1px solid #ccc;
  color: #ccc
}
.filter_icon{
  margin-right: 15px;
  color: #5270D4;
  font-size: 22px;
}
.close_filter{
  font-size: 20px;
}

.inner-wrap { padding:15px;background:#fff;}
:host /deep/ .sidebar_div .mat-form-field-infix { width:230px;}
:host /deep/ .mat-form-field-type-mat-select .mat-form-field-label { font-size:14px;}
.sbmt-pp.stp-sb-rt .apply_button { margin:0 15px;width:calc(100% - 20px);}
.cls-wrp input.mat-input-element { border-bottom:1px solid #ccc !important;}
.cls-wrp.mat-form-field { margin-bottom:15px;}
.linkto-patient{color:#02a7fa; cursor: pointer;}



/*.pt-inner-wrap{ box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}*/