<div class="head-title">
  <div class="row">
    <div class="col-sm-6">
      <h2> Patient List</h2> 
    </div>

    <div class="col-sm-6 text-right pt-blk-top">
      <!-- <a [routerLink]="['/Admin/patient-ccda']"> <button type="button" class="btn btn-primary ccda" >Add CCDA</button></a> -->

      <button (click)="fnShowModel(template)" class="btn btn-primary btn-sm ccda1">Sync C-CDA</button>
      <button (click)="ClearFilters()" class="btn btn-primary btn-sm ccda2" style="margin-right:10px;">Clear
        Filters</button>
      <!-- <i class="fa fa fa-sliders btn btn-primary sidebarBtn" (click)="sidebarExp()" aria-hidden="true" style="padding:7px 10px;"></i> -->
      <img src="../assets/img/sidebar-control.png" class="sidebarBtn" alt="" (click)="sidebarExp()" />
    </div>
    <!-- <div class="col-sm-2 ">
            <button (click)="ClearFilters()" class="btn btn-primary ccda" >Clear Filters</button>
            </div> -->
    <!--<div class="fiter_sidebar_btn">
              
               <a [routerLink]="['/Admin/patient-filter']"> <button type="button" class="btn btn-primary" >Filters</button></a> 
            </div>-->
  </div>
</div>
<div class="inner-wrap pt-inner-wrap">
  <div class="row">
    <div class="col-sm-12">
      <div class="tbl-fm">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="cls-wrp" floatLabel="never">
              <span matPrefix class="fa fa-search"></span>
              <input matInput placeholder="Search" (input)="getSearchedData()" [(ngModel)]="search">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
          </div>
          <!-- <div class="col-sm-3 text-right">
                  <div class="slct-al-bk">
                    <mat-select placeholder="All" title="Search by organization">
                      <mat-option *ngFor="let organization of OrganizationDropDown"  [value]="organization.id" (click)="getFilteredList(organization.id)">
                        {{organization.name}}
                      </mat-option>
                    </mat-select>

                  </div>
                </div> -->

        </div>

      </div>
    </div>
    <div class="col-sm-4 text-right">

    </div>
  </div>



  <!-- <mat-select placeholder="Favorite food">
          <mat-option *ngFor="let food of foods" [value]="food.value">

          </mat-option>
        </mat-select> -->
       
  <div class="table-ui table-patient-list tbl-sort-icons">
      <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="PatientID">
        <mat-header-cell *matHeaderCellDef> PatientId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PatientID}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PatientName">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PatientName',$event)">
              Name
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PatientName}} </mat-cell>
        <!-- <mat-header-cell *matHeaderCellDef>
          <div class="org-nm-col">
            Name
            <div class="sort-nm-val">
              <i *ngIf="patientNameSortFlag" class="fa fa-sort-up" (click)="sortData('PatientName','asc')"></i>
              <i *ngIf="!patientNameSortFlag" class="fa fa-sort-down" (click)="sortData('PatientName','desc')"></i>
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="hd-avt-wrp">
          
            <div class="hd-avt-cntnt linkto-patient" [routerLink]="['/Admin/patientchart']"
              [queryParams]="{id:element.PatientID}">
              {{element.PatientName}}
            </div>
          </div>
        </mat-cell> -->
      </ng-container>


      <!-- <ng-container matColumnDef="GlobalType">
          <mat-header-cell *matHeaderCellDef> Type <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('GlobalType','asc')"></i><i class="fa fa-sort-down" (click)="sortData('GlobalType','desc')"></i></div></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.GlobalType}} </mat-cell>
        </ng-container> -->
      <ng-container matColumnDef="OrganizationId">
        <mat-header-cell *matHeaderCellDef> OrganizationId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.OrganizationId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="OrganizationName">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('OrganizationName',$event)">
              Organization
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.OrganizationName}} </mat-cell>
        <!-- <mat-header-cell *matHeaderCellDef>
          <div class="org-nm-col">
            Organization 
            <div class="sort-nm-val">
              <i *ngIf="organizationNameFlag" class="fa fa-sort-up"(click)="sortData('OrganizationName','asc')"></i>
              <i *ngIf="!organizationNameFlag" class="fa fa-sort-down" (click)="sortData('OrganizationName','desc')"></i>
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="hd-avt-wrp">
            <div class="hd-avt-cntnt">
              {{element.OrganizationName}}
            </div>
          </div>
        </mat-cell> -->
      </ng-container>
      <ng-container matColumnDef="DOB">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('DOB',$event)">
              DOB
          </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.DOB |  date: 'MM/dd/yyyy'}}</mat-cell>
        <!-- <mat-header-cell *matHeaderCellDef> 
          DOB 
          <div class="sort-nm-val">
            <i *ngIf="dOBFlag" class="fa fa-sort-up" (click)="sortData('DOB','asc')"></i>
            <i *ngIf="!dOBFlag" class="fa fa-sort-down" (click)="sortData('DOB','desc')"></i>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DOB |  date: 'MM/dd/yyyy'}} </mat-cell> -->
      </ng-container>
      <ng-container matColumnDef="Gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Gender',$event)">
              Gender
          </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.Gender}}</mat-cell>
        <!-- <mat-header-cell *matHeaderCellDef>
           Gender 
           <div class="sort-nm-val">
             <i *ngIf="genderFlag" class="fa fa-sort-up" (click)="sortData('Gender','asc')"></i>
             <i *ngIf="!genderFlag" class="fa fa-sort-down" (click)="sortData('Gender','desc')"></i>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Gender}} </mat-cell> -->
      </ng-container>
      <ng-container matColumnDef="PrimaryProvider">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PrimaryProvider',$event)">
            PCP Name
          </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.PrimaryProvider}}</mat-cell>
        <!-- <mat-header-cell *matHeaderCellDef> 
          P.Provider 
          <div class="sort-nm-val">
            <i *ngIf="primaryProviderFlag" class="fa fa-sort-up"(click)="sortData('PrimaryProvider','asc')"></i>
            <i  *ngIf="!primaryProviderFlag" class="fa fa-sort-down"(click)="sortData('PrimaryProvider','desc')"></i> </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PrimaryProvider}} </mat-cell> -->
      </ng-container>
      <ng-container matColumnDef="EthnicityName">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('EthnicityName',$event)">
              Ethnicity 
          </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.Ethnicity}}</mat-cell>
        <!-- <mat-header-cell *matHeaderCellDef> Ethnicity 
          <div class="sort-nm-val">
            <i *ngIf="ethnicityNameFlag" class="fa fa-sort-up" (click)="sortData('EthnicityName','asc')"></i>
            <i *ngIf="!ethnicityNameFlag" class="fa fa-sort-down" (click)="sortData('EthnicityName','desc')"></i> 
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Ethnicity}} </mat-cell> -->
      </ng-container>
      <ng-container matColumnDef="RaceName">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Race',$event)">
              Race 
          </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.Race}}</mat-cell>
        <!-- <mat-header-cell *matHeaderCellDef> Race
           <div class="sort-nm-val">
             <i *ngIf="raceNameFlag" class="fa fa-sort-up"(click)="sortData('RaceName','asc')"></i>
             <i *ngIf="!raceNameFlag" class="fa fa-sort-down"(click)="sortData('RaceName','desc')"></i> 
            </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Race}} </mat-cell> -->
      </ng-container>

      <!-- <ng-container matColumnDef="OrganizationWebSite">
        <mat-header-cell *matHeaderCellDef> WebSite <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationWebSite','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationWebSite','desc')"></i></div> </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a target="blank" href="{{element.OrganizationWebSite}}">{{element.OrganizationWebSite}}</a> </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i [routerLink]="['/Admin/patientchart']" style="cursor:pointer" [queryParams]="{id:element.PatientID}"
            class="fa fa-user-circle" aria-hidden="true" title="Patient Chart"></i>
          <i *ngIf="element.FileName" class="fa fa-eye" style="cursor:pointer" aria-hidden="true" aria-hidden="true" title="View Patient CCDA"
            (click)="fnGetPatientCDA(element)"></i>         
        </mat-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="getServerData($event)" (ngModelChange)="getServerData($event)">

  </mat-paginator>
</div>

<!--Model Pop-up-->
<!-- <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Delete Patient</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </ng-template> -->

<!--Model Pop-up-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sync C-CDA</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="auth-wrap-background">
      <div class="auth-center">
        <div class="auth-blur auth-size">
          <div class="auth-wrap-background"></div>
        </div>
      </div>
      <div class="auth-center">
        <div class="auth__inner auth-size">
          <!-- <img src="../assets/img/Logo.png" class="logo"> -->
          <div class="">
            <form [formGroup]="PatientFilterForm" (ngSubmit)="
                    onFilterFormSubmit(PatientFilterForm.value,0) &&
                    PatientFilterForm.valid
                  ">
              <div class="auth__form auth__inner__section">
                <div class="">
                  <div class="col-sm-12 ">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Organization" name="Type" formControlName="OrganizationID"
                        aria-describedby="emailHelp" (selectionChange)="getOrganizationDropDown($event.value)">
                        <mat-option *ngFor="
                                let organization of OrganizationListDropDown.Organization
                              " [value]="organization.id">
                          {{ organization.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <input ng2FileSelect type="file" accept=".xml" [uploader]="uploader" (onFileSelected)=onFileSelected($event)/>
                  </div>&nbsp;

                </div>
                <div class="pull-right btn-bl-set">
                  <button type="button" class="submit mat-btn cursor" (click)="UploadFile(file)" mat-button>Upload</button>&nbsp;
                  <button type="button" class="submit mat-btn cursor" (click)="fnSyncFile(file)"
                    mat-button>Sync</button>&nbsp;
                  <button class="submit mat-btn cursor" (click)="modalRef.hide()" mat-button>Cancel</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="sidebarOuter" id="sidebarMain" *ngIf="hide">
  <form [formGroup]="PatientFilterForm" (ngSubmit)="
        onFilterFormSubmit(PatientFilterForm.value) &&
        PatientFilterForm.valid
      ">
    <div class="filter_section">

      <i class="fa fa-sliders filter_icon" aria-hidden="true"></i> <span>Filters</span>

      <button (click)="sidebarCollapse()" class="sidebarBtn close_filter"> <i class="fa fa fa-times close_filter"
          aria-hidden="true"></i> </button>

    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 sidebar_div">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Ethnicity" name="Type" formControlName="EthnicityID"
            (selectionChange)="getEthnicityDropDown($event.value)">
            <mat-option *ngFor="
                          let ethnicity of EthnicityDropDown.ethnicity
                        " [value]="ethnicity.id">
              {{ ethnicity.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 sidebar_div">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Race" name="Type" formControlName="RaceID"
            (selectionChange)="getRaceDropDown($event.value)">
            <mat-option *ngFor="
                          let race of RaceDropDown.Race
                        " [value]="race.id">
              {{ race.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 sidebar_div">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Organization" name="Type" formControlName="OrganizationID"
            aria-describedby="emailHelp" (selectionChange)="getOrganizationDropDown($event.value)">
            <mat-option *ngFor="
                          let organization of OrganizationListDropDown.Organization
                        " [value]="organization.id">
              {{ organization.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 sidebar_div">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Gender" name="Type" formControlName="GenderID" aria-describedby="emailHelp"
            (selectionChange)="getGenderDropDown($event.value)">
            <mat-option *ngFor="
                        let gender of GenderDropDown.Gender
                      " [value]="gender.id">
              {{ gender.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="sbmt-pp stp-sb-rt">
        <button type="submit" class="btn btn-primary apply_button" mat-button>
          Apply
        </button>
      </div>
    </div>
  </form>
</div>