<div (click)="RemoveFilterSection($event)">
  <div class="head-title">
    <div class="row">
      <div class="col-sm-12">
        <h2 *ngIf="IsDetailPage"><i class="fa fa-arrow-left" aria-hidden="true" routerLink="/Admin/dashboard"></i>
          Patient List</h2>
        <div class="row">
          <div class="col-sm-10">
            <div class="scb-care">
              <div class="scb-wrap">
                <span (click)="FilterPatientAsPerFlag('1')" class="cg-item cg-item-danger cursor">Past Due</span>
                <span (click)="FilterPatientAsPerFlag('2')" class="cg-item cg-item-warning cursor">Deadline within 90
                  days</span>
                <span (click)="FilterPatientAsPerFlag('4')" class="cg-item cg-item-warning cursor">Deadline within 1
                  Year</span>
                <span (click)="FilterPatientAsPerFlag('3')" class="cg-item cg-item-success cursor">In-compliance</span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <button (click)="ClearFilter()" class="btn btn-primary btn-sm ccda2" style="margin-right:10px;">Clear
              Filters</button>
            <img _ngcontent-c5="" id="sidebar" alt="" class="sidebarBtn" src="../assets/img/sidebar-control.png"
              (click)="showAndHideFilters('true')">
          </div>
        </div>
      </div>
    </div>
    <div class="tbl-srch-fltr">
      <div class="row">
        <div class="col-sm-8">
          <ul class="tbl-hd-btns">
            <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger"><i
                  class="fa fa-search"></i> Search</button></li>
            <li> <button mat-raised-button color="accent" class="mat-raised-button mat-primary">Care Gaps</button></li>
            <li> <button mat-raised-button color="accent" class="mat-raised-button mat-warn">Attribution</button></li>
            <li> <button mat-raised-button color="accent" class="mat-raised-button mat-default">Reconciliation</button>
            </li>
            <li> <button mat-raised-button color="accent" class="mat-raised-button mat-accent">MPI Issue</button></li>
          </ul>
        </div>
        <div class="col-sm-4 clr-fltr-tbl">
          <ul class="tbl-hd-btns text-right">
            <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger">Clear filter</button>
            </li>
            <li> <button mat-raised-button color="accent" class="mat-raised-button mat-primary">Export</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-wrap">
    <div class="row">
      <div class="col-sm-12">
        <div class="tbl-fm">
          <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-5"></div>
          </div>

        </div>
      </div>
      <div class="col-sm-4 text-right">
      </div>
    </div>
    <div class="table-ui table-patient-list">
      <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>

        </ng-container>
        <ng-container matColumnDef="DOB">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('DOB',$event)">
            DOB
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.DOB | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Status',$event)">
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> <span *ngIf="element.Status==0">Non Compliant</span><span
              *ngIf="element.Status==1">Compliant</span> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ClinicName">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('ClinicName',$event)">
            Clinic Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ClinicName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="LastVisit">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('LastVisit',$event)">
            Last Visit
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.LastVisit | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="NextVisit">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('NextVisit',$event)">
            Next Visit
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.NextVisit | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Days">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Days',$event)">
            Days
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Days}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Gap">
          <mat-header-cell *matHeaderCellDef> Care Gap Flag <div class="sort-nm-val">
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <div class="scb-wrap">
              <span *ngIf="element.Status==0" class="cg-item cg-item-danger">Past Due</span>
              <span *ngIf="element.Status==1 && element.Gap>65 && element.Gap<=90 "
                class="cg-item cg-item-warning">Within 90 days</span>
              <span *ngIf="element.Status==1 && element.Gap>90" class="cg-item cg-item-warning">Within 1 year</span>
              <span *ngIf="element.Status==1 && element.Gap<65 " class="cg-item cg-item-success">In-compliance</span>

            </div>
          </mat-cell>

        </ng-container>

        <ng-container matColumnDef="Note">
          <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16" width="18">
              <g transform="translate(-187 -91)">
                <path data-name="Path 102" fill="#ced1d6"
                  d="M14,0H2A.945.945,0,0,0,1,1V16l3-2,2,2,2-2,2,2,2-2,3,2V1A.945.945,0,0,0,14,0ZM12,10H4V8h8Zm0-4H4V4h8Z"
                  transform="translate(186 91)" />
              </g>
            </svg>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <i [routerLink]="['/Admin/patientchart']" style="cursor:pointer" [queryParams]="{id:element.PatientId}"
              class="fa fa-user-circle" aria-hidden="true" title="Patient Chart"></i>
            &nbsp; &nbsp;
            <i class="fa fa-eye" style="cursor:pointer" aria-hidden="true" aria-hidden="true" title="View Patient CCDA"
              (click)="fnGetPatientCDA(element)"></i>
          </mat-cell>
          <mat-cell *matCellDef="let element"> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <div class="clearfix" *ngIf=true>
        <p style="padding: 10px;
                                    background-color: #f5f6fa;
                                    margin-top: 5px;
                                    text-align: center;
                                    color: #A3A6B4;">
          No record Found
        </p>
      </div>

    </div>
  </div>
  <!-- <mat-paginator *ngIf="!Emptylist" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="getServerData($event)" (ngModelChange)="getServerData($event)">

  </mat-paginator> -->
</div>
<!--Model Pop-up-->
<div *ngIf="showfilter=='true'">
  <app-filter (messageEvent)="receiveMessage($event)"></app-filter>
</div>