<div class="head-title">
  <h2>Inbox</h2>
</div>
<div class="app-content">
  <div class="action-panel mail-side-panel">
      <div class="action-panel-header">
        <a class="mat-btn mat-cstm" href="javascript:void(0);">Compose</a>
      </div>
      <div class="list-group">
        <a href="javascript:void(0);">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Inbox
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          Sent
        </a>   
        <a href="javascript:void(0);">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Drafts
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-folder" aria-hidden="true"></i>
          All Mail
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Spam
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Trash
        </a>
  </div>
</div>
  <div class="mail-content-bx">
     <div class="mail-toolbar">
    <div class="filter">
      <button>
        Filter
        <span>
          <i class="fa-down" aria-hidden="true"></i>
        </span>
      </button>
      <ul class="drop-down-filter">
        <li><a href="javascript:void(0);">Time</a></li>
        <li><a href="javascript:void(0);">Importance</a></li>
      </ul>
    </div>
    <div class="delete">
      <a class="slct-all-chk" matTooltip="Select All" matTooltipPosition="above" href="javascript:void(0);" >
        <mat-checkbox matTooltip="Select All" matTooltipPosition="above"></mat-checkbox>
      </a>
      <a matTooltip="Delete" matTooltipPosition="above" href="jabascript:void(0);" id="trash">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);" id="exclamation">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      </a>
    </div>
    <a matTooltip="Delete" matTooltip="Refresh" matTooltipPosition="above" href="javascript:location.reload(true)" class="refresh" >
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <div class="pull-right">
      <a href="javascript:void(0);" id="angle-l">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0);" id="angle-r">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="mail-item">
    <div class="mail-list">
        <mat-checkbox>&nbsp;</mat-checkbox>
        <div class="mail-container">
         <div class="avatar">
          <img src='assets/img/useravatar.png' alt="" />
       </div>
         <div class="center">
         <div>
           <h4>Peter Johnson</h4>
           <a href="javascript:void(0);" data-box="green">New</a>
         </div>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
</p>
       </div>
         <div class="right">
         <p>2 hours</p>
       </div>
       </div>
     </div>
    <div class="mail-list">
      <mat-checkbox>&nbsp;</mat-checkbox>
       <div class="mail-container">
         <div class="avatar">
         <img src="assets/img/useravatar.png" alt="" />
       </div>
         <div class="center">
         <div>
           <h4>David Pett</h4>
           <a href="javascript:void(0);" data-box="yellow">Personal</a>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo nemo sint
</p>
       </div>
         <div class="right">
         <p>2 hours</p>
       </div>
       </div>
     </div>
    <div class="mail-list">
      <mat-checkbox>&nbsp;</mat-checkbox>
       <div class="mail-container">
         <div class="avatar">
          <img src='assets/img/useravatar.png' alt="" />
       </div>
         <div class="center">
         <div>
           <h4>Michael Smith </h4>
           <a href="javascript:void(0);" data-box="blue">work</a>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo nemo sint, animi sunt alias.
</p>
       </div>
         <div class="right">
         <p>2 hours</p>
       </div>
       </div>
     </div>
    <div class="mail-list">
      <mat-checkbox>&nbsp;</mat-checkbox>
    <div class="mail-container">
         <div class="avatar">
         <img src='assets/img/useravatar.png' alt="" />
       </div>
         <div class="center">
         <div>
           <h4>Michael Smith </h4>
           <a href="javascript:void(0);" data-box="red">Busniess</a>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nostrum rem, odio. A, mollitia, hic.
</p>
       </div>
         <div class="right">
         <p>2 hours</p>
       </div>
       </div>
     </div>
    <div class="mail-list">
      <mat-checkbox>&nbsp;</mat-checkbox>
       <div class="mail-container">
         <div class="avatar">
         <img src='assets/img/useravatar.png' alt="" />
       </div>
         <div class="center">
         <div>
           <h4>Michael Smith </h4>
           <a href="javascript:void(0);" data-box="yellow">Personal</a>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum maxime, quas consecteturx fugiat sapiente cupiditate!
</p>
       </div>
         <div class="right">
         <p>2 hours</p>
       </div>
       </div>
     </div>
    <div class="mail-list">
      <mat-checkbox>&nbsp;</mat-checkbox>
       <div class="mail-container">
         <div class="avatar">
          <img src='assets/img/useravatar.png' alt="" />
       </div>
         <div class="center">
         <div>
           <h4>Michael Smith </h4>
           <a href="#" data-box="blue">work</a>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati mollitia um! Ullam, nobis.
</p>
       </div>
         <div class="right">
         <p>2 hours</p>
       </div>
       </div>
     </div>
    <div class="mail-list">
      <mat-checkbox>&nbsp;</mat-checkbox>
    <div class="mail-container">
         <div class="avatar">
          <img src='assets/img/useravatar.png' alt="" />
       </div>
         <div class="center">
         <div>
           <h4>Michael Smith </h4>
           <a href="#" data-box="green">New</a>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis beatae, quo molestias? Quo iusto, facere!
</p>
       </div>
         <div class="right">
         <p>2 hours</p>
       </div>
       </div>
     </div>
  </div>
</div>
</div>