.app-content .mail-item > .mail-list{position: relative;padding-left: 42px;}
.mail-list .mat-checkbox { opacity: 0.7; position: absolute; top: 50%; left: 15px; transform: translate(0, -50%); -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%);}
.slct-all-chk .mat-checkbox{margin-top: 4px;display: inline-block;vertical-align: top;}