.table-summary table { width:100%;}
.table-summary .summary-head th { background-color:#ffffff;color:#676974;font-size:14px;font-weight:500;}
.table-summary .summary-head th strong { font-weight:bold;}
.table-summary th { vertical-align:top;padding:10px 20px;background-color:#f6f7fb;}
.table-summary h3 { text-transform:uppercase;font-size:11px;font-weight:bold;color:#a3a6af;margin-bottom:0;}
.table-summary h4 { font-size:16px;color:#5f7bd7;}
.table-summary .b-mark { white-space:nowrap;}
.table-summary .b-mark span { display:inline-block;margin-right:25px;font-size:10px;color:#989898;}
.table-summary .b-mark span:last-child { margin-right:0;}
.table-summary td { padding:10px 20px;background-color:#ffffff;font-size:11px;white-space:nowrap;font-weight:600;color:#424242;}
.clear-filter-wrap { margin-bottom:15px;}
.table-summary .border-left { border-left:1px solid #efefef;}
.sidebarBtn { width:56px;position:fixed;right:-15px;top:66px;cursor:pointer;}
.p-arrow { width:10px;}
.provider-info-wrap { margin-bottom:10px;position:relative;padding-bottom:20px;font-size:12px;}
.provider-info-wrap:after { content:'';left:-15px;right:-15px;bottom:0;height:20px;background-color:#f7f7f7;position:absolute;}
.provider-info-wrap dt { float:left;width:120px;font-weight:normal;}
.provider-info-wrap dd { font-weight:600;}
.inner-wrap { padding:15px;background:#fff;}
.pd-search-table { padding:0;margin-top:10px;}
:host /deep/ .pd-search-table.table-ui .mat-header-cell { white-space:nowrap;}