<div class="head-title">
    <div class="row">
      <div class="col-sm-8">
        <h2> Provider List</h2>
      </div>
      <!-- <div class="col-sm-4 text-right">
        <a class="mat-org cursor" mat-raised-button>Add Provider </a>
      </div> -->
    </div>
  </div>
  <div class="inner-wrap">
    <div class="row">
      <div class="col-sm-12">
        <div class="tbl-fm">
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field class="cls-wrp" floatLabel="never">
                <span matPrefix class="fa fa-search"></span>
                <input matInput placeholder="Search" (input)="getSearchedData()" [(ngModel)]="search">
              </mat-form-field>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 text-right">
              <div class="slct-al-bk" *ngIf="Role=='SuperAdmin'">
                <mat-select placeholder="All" title="Search by organization">
                  <mat-option *ngFor="let organization of OrganizationDropDown" [value]="organization.id" (click)="getFilteredList(organization.id)">
                    {{organization.name}}
                  </mat-option>
                </mat-select>
  
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
      <div class="col-sm-4 text-right">
  
      </div>
    </div>
  
    <div class="table-ui org-st-tblui pd-search-table">
      <div class="table-responsive">
      <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="ProviderId">
              <mat-header-cell *matHeaderCellDef> ProviderId </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ProviderId}} </mat-cell>
            <!-- <mat-cell *matCellDef="let element">
              {{ element.ProviderId }}
            </mat-cell> -->
          </ng-container>
  
          <ng-container matColumnDef="Name">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('DisplayName',$event)">NAME </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.DisplayName}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="NPI">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('NPI',$event)"> NPI </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.NPI}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="LicenseName">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('LicenseName',$event)"> LICENSE TYPE </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.LicenseName}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="ProviderType">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('ProviderType',$event)"> PROVIDER TYPE</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ProviderType|uppercase }} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="CredentialDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('InitialCredentialDate',$event)"> INITIAL CRED. DATE</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.InitialCredentialDate| date:'MM-dd-yyyy'}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="ExpirationDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('CredentialExpirationDate',$event)"> CRED. EXP. DATE</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.CredentialExpirationDate | date:'MM-dd-yyyy'}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="LastCredentialDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('LastCredentialDate',$event)"> LAST CRED. DATE</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.LastCredentialDate  | date:'MM-dd-yyyy'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <i [routerLink]="['/Admin/providerview']" [queryParams]="{id:element.ProviderId}" class="fa fa-eye" style="cursor:pointer"
                aria-hidden="true" title="edit" (click)="ViewProvider(element)">
              </i>
            </mat-cell>
            <mat-cell *matCellDef="let element"> </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="
                    let row;
                    columns: displayedColumns
                  "></mat-row>
        </mat-table>
      </div>
      <div class="clearfix" *ngIf="length==0">
          <p style="padding: 10px;
                                  background-color: #f5f6fa;
                                  margin-top: 5px;
                                  text-align: center;
                                  color: #A3A6B4;">
            No record Found
          </p>
        </div>
  
    </div>
  </div>
  
  <mat-paginator *ngIf="length!=0" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)"
    (ngModelChange)="getServerData($event)">
  
  </mat-paginator>
  <!--Model Pop-up-->
  <!-- <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Organization</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="auth-wrap-background">
        <div class="auth-center">
          <div class="auth-blur auth-size">
            <div class="auth-wrap-background"></div>
          </div>
        </div>
        <div class="auth-center">
          <div class="auth__inner auth-size">
            <div class="">
              <div class="auth__form auth__inner__section">
                <div class="form">
                  <span>
                    Are you sure you want to delete the organization ?
                  </span>
                </div>
  
                <div class="pull-right">
                  <button class="submit mat-btn cursor" (click)="DeleteSelectedOrganization()" mat-button>Yes</button>
                  <button class="submit mat-btn cursor" (click)="modalRef.hide()" mat-button>No</button>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template> -->