<div class="head-title">
  <h2>
      Search
  </h2>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="card-box inpt-full shadow-box pt-adv-srch">
      <h3>Quick Search</h3>
      <div class="row">
        <div class="col-sm-6"> 
          <h4>Patient Account</h4>
           <mat-form-field floatLabel="never">
            <input matInput placeholder="Enter account" value="">
          </mat-form-field>
        </div>
        <div class="col-sm-6"> 
          <h4>Medical Record</h4>
           <mat-form-field floatLabel="never">
            <input matInput placeholder="Enter record" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"> 
            <h4>Organization Name</h4>
            <mat-form-field floatLabel="never"> 
              <mat-label>Select Organization</mat-label>
              <mat-select [(value)]="selected" floatLabel="never">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">           
          <h4>SSN</h4>
            <mat-form-field floatLabel="never">
            <input matInput placeholder="Enter SSN" value="">
          </mat-form-field>
        </div>
      </div>
      
      
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card-box inpt-full shadow-box pt-adv-srch">
      <h3>Patient Information</h3>
      <div class="row">
        <div class="col-sm-6"> 
          <h4>First Name</h4>
           <mat-form-field floatLabel="never">
            <input matInput placeholder="First Name" value="">
          </mat-form-field>
        </div>
        <div class="col-sm-6"> 
          <h4>Last Name</h4>
           <mat-form-field floatLabel="never">
            <input matInput placeholder="Last Name" value="">
          </mat-form-field>
        </div>
      </div>     
      <div class="row">
        <div class="col-sm-6"> 
          <h4>Date of Birth </h4>
           <mat-form-field floatLabel="never">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
         <div class="col-sm-6"> 
            <h4>Email</h4>
            <mat-form-field floatLabel="never">
            <input matInput placeholder="Email" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"> 
          <h4>Contact No</h4>
            <mat-form-field floatLabel="never">
            <input matInput placeholder="Email" value="">
          </mat-form-field>
        </div> 
         <div class="col-sm-6"> 
            <h4>Address</h4>
            <mat-form-field floatLabel="never">
              <input matInput placeholder="Address" value="">
            </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn-footer">
  <button mat-button class="mat-btn mat-cstm mat-cmn-btn cursor">Search</button>
  <button mat-button class="mat-btn mat-cstm back-btn cursor">Reset </button>
</div>
