<style>
  .marginclass {
    margin-bottom: 10px;
    margin-top: 10px;
  }
</style>
<div class="head-title">
  <div class="row">
    <div class="col-sm-8">
      <h2> Provider Details</h2>
    </div>
  </div>
</div>
<div class="org-set inner-wrap-ovt btn-bk-ps shadow-box">
  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="tbl-fm">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-right">
    </div>
  </div> -->
  <div class="table-ui org-st-tblui" style="padding-bottom:1px;">
    <div class="da-content prvd-ovt-ui">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="org-head-in">Provider Information</h4>
        </div>
      </div>
      <div class="row marginclass">
        <div class="col-md-2 col-sm-4 col-6">
          <label>
            First Name
          </label>
          <p>{{ProviderForm.firstName}}</p>
        </div>
        <div class="col-md-2 col-sm-4  col-6">
          <label>
            Middle Name
          </label>
          <p>{{ProviderForm.moddleName}}</p>
        </div>
        <div class="col-md-2 col-sm-4  col-6">
          <label>
            Last Name
          </label>
          <p>{{ProviderForm.lastName}}</p>
        </div>
        <div class="col-md-2 col-sm-4  col-6">
          <label>
            Sufix
          </label>
          <p>{{ProviderForm.sufix}}</p>
        </div>
        <div class="col-md-4 col-sm-6  col-12">
            <label>
              Degree Certifications
            </label>
            <p>{{ProviderForm.providerType}}</p>
        </div>
      </div>
      <div class="row marginclass">
        
        <div class="col-lg-2 col-md-3  col-sm-6  col-6">
          <label>
            Formal Name
          </label>
          <p>{{ProviderForm.sufix}} {{ProviderForm.firstName}} {{ProviderForm.moddleName}} {{ProviderForm.lastName}}</p>
        </div>
        <div class="col-lg-2  col-md-3  col-sm-6  col-6">
          <label>
            Display Name
          </label>
          <p>{{ProviderForm.displayName}}</p>
        </div>
        <div class="col-lg-2  col-md-3  col-sm-6  col-6">
          <label>
            Specialty
          </label>
          <p>{{ProviderForm.licenseName}}</p>
        </div>
        <div class="col-lg-2  col-md-3  col-sm-6  col-6">
          <label>
            Status
          </label>
          <p>{{ProviderForm.status}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h4 class="org-head-in">Primary Office</h4>
        </div>
      </div>
      <div class="row marginclass">
        <div class="col-lg-4  col-md-6  col-sm-12">
          <label>
            Organization
          </label>
          <p></p>
        </div>
        <div class="col-lg-4  col-md-6  col-sm-12">
          <label>
            Clinic
          </label>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h4 class="org-head-in">Contact Preferences</h4>
        </div>
      </div>
      <div class="row marginclass">
        <div class="col-sm-4 col-6">
          <label class="example-full-width">
            Phone
          </label>
          <p>{{ProviderForm.phone}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            Cell
          </label>
          <p>{{ProviderForm.cell}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            Pager
          </label>
          <p>{{ProviderForm.pager}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            Fax
          </label>
          <p>{{ProviderForm.fax}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            E-Mail
          </label>
          <p>{{ProviderForm.email}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h4 class="org-head-in">Identification and Licensing</h4>
        </div>
      </div>
      <div class="row marginclass">
        <div class="col-sm-4 col-6">
          <label>
            EHR Identifier
          </label>
          <p>{{ProviderForm.ehr}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            License Number
          </label>
          <p>{{ProviderForm.licenseNo}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            Provider NPI
          </label>
          <p>{{ProviderForm.npi}}</p>
        </div>
      </div>
      <div class="row marginclass">
        <div class="col-sm-4 col-6">
          <label class="example-full-width">
            UPIN
          </label>
          <p>{{ProviderForm.upin}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            Group Name
          </label>
          <p>{{ProviderForm.groupName}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h4 class="org-head-in">Credentialing</h4>
        </div>
      </div>
      <div class="row marginclass crd-inp-pdvw">
        <div class="col-sm-4 col-6">
          <label>
            Credential Expiration Date
          </label>
          <p>{{ProviderForm.credentialExpirationDate | date:'yyyy-MM-dd'}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label class="example-full-width">
            Initial Credential Date
          </label>
          <p>{{ProviderForm.initialCredentialDate | date:'yyyy-MM-dd'}}</p>
        </div>
        <div class="col-sm-4 col-6">
          <label>
            Last Credential Date
          </label>
          <p>{{ProviderForm.lastCredentialDate | date:'yyyy-MM-dd'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>