<div class="pdash-top">
  <div class="row prvd-dash-top"> 
    <div class="col-sm-2">
       <div class="pdash-avt">
        <img src="assets/img/useravatar.png">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-4">
          <label>Name</label>
        </div>
        <div class="col-sm-8">
          <h4>Nick Read </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>Provider ID </label>
        </div>
        <div class="col-sm-8">
          <h4>100002</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-4">
          <label>NPI</label>
        </div>
        <div class="col-sm-8">
          <h4>Nick Read </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>Address </label>
        </div>
        <div class="col-sm-8">
          <h4>490 E South, Orlando, FL. </h4>
        </div>
      </div>
    </div>
  </div>
</div>