<style>
  .white-box {
    background-color: transparent !important;
    padding: 0;
  }
</style>
<div class="inner-wrap no-shadow-box" [ngClass]="status ? 'hidesidepanel' : 'danger'">
  <div class="row side-panel-blck">
    <div class="col-md-3 col-sm-12 side-drag">
      <a class="menu-bars" href="javascript:void(0);" style="font-size:30px;" (click)="clickEvent()">
        <div class="menu-steps">
        </div>
        <div class="menu-steps menu-step2">
        </div>
        <div class="menu-steps menu-step3">
        </div>
      </a>
      <div class="sm-content-bx shadow-box">
        <h3>
          <a (click)="backClicked()">
            <svg viewBox="0 0 17.5 11" width="18">
              <defs>
                <style>
                  .cls-1 {
                    fill: #4d4f5c;
                  }

                  .cls-2 {
                    fill: none;
                    stroke: #4d4f5c;
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <g id="Group_287" data-name="Group 287" transform="translate(-85 -178)">
                <g id="icon_down-arrow-small" transform="translate(260 21) rotate(90)">
                  <path id="Path_361" data-name="Path 361" class="cls-1"
                    d="M8.1,11.6,2.6,6.041,4.026,4.6,8.1,8.718,12.174,4.6,13.6,6.041Z"
                    transform="translate(154.4 163.4)" />
                </g>
                <line id="Line_74" data-name="Line 74" class="cls-2" x2="15" transform="translate(87.5 183.5)" />
              </g>
            </svg>
          </a>
          Patient Info
        </h3>
        <div class="user-info-bx">
          <img src="assets/img/logo.png" alt="" class="img-rounded" />
          <ul class="list-group">
            <li class="list-group-item"><strong>{{patientChartDetail.patientDemographics.name}},
                {{patientChartDetail.patientDemographics.age}}</strong></li>
            <li class="list-group-item disabled">{{patientChartDetail.patientDemographics.country}}</li>
            <li class="list-group-item disabled">Mobile : <input type="text" [textMask]="{mask: phoneMask}" [(ngModel)]="patientChartDetail.patientDemographics.phone"></li>
          </ul>
        </div>
        <div class="more-info-wrap">
          <h3>More Info</h3>
          <ul class="list-group">
            <li class="list-group-item disabled clearfix">Gender <span
                class="float-right">{{patientChartDetail.patientDemographics.gender}}</span></li>
            <li class="list-group-item disabled clearfix">Birth Date <span
                class="float-right">{{patientChartDetail.patientDemographics.dob}}</span></li>
            <li class="list-group-item disabled clearfix">Email <span
                class="float-right">{{patientChartDetail.patientDemographics.email}}</span></li>
            <li class="list-group-item disabled clearfix">Patient Last Seen <span class="float-right"></span></li>
            <li class="list-group-item disabled clearfix">Cell Phone <span class="float-right"></span></li>
            <li class="list-group-item disabled clearfix">Work Phone <span class="float-right"></span></li>
          </ul>
          <div class="prdr-rw">
            <h3>Primary Provider</h3>
            <p>City Chemist</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 content-drag">
      <div class="row">
        <!-- CARE PLANNING (13.04.2019) -->
        <div class="col-sm-9">
          <div class="card-blk-inwrp min-gd-ht shadow-box">
            <tabset (onSelect)="GetPatientTabsDetail($event)">
              <tab title="Care Gaps">
                <div class="card-cstm">
                  <perfect-scrollbar class="card-scroll-wrap" [config]="config">
                    <div class="card-head">
                      <app-care-gap [patientId]="patientId"></app-care-gap>
                    </div>
                  </perfect-scrollbar>
                </div>

              </tab>
              <tab title="Needs Attention">
                <div class="card-cstm">
                  <div class="card-head">
                    <app-need-attention [patientId]="patientId"></app-need-attention>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="sm-content-bx min-gd-ht shadow-box">
            <h3>Action Panel</h3>
            <div class="scb-inner">
              <ul class="mat-act-lst">
                <!-- <li><button class="mat-cstm mat-btn">Projections</button></li> -->
                <li><button class="mat-cstm mat-btn">Campaigns</button></li>
                <li><button class="mat-cstm mat-btn"
                    (click)="openMessageModal(templatemessage,messageId)">Messaging</button></li>
                <li><button class="mat-cstm mat-btn">Appt Planning</button></li>

                <li *ngIf="caregaps"><button class="mat-cstm mat-btn"
                    (click)="fnShowcaregapMessageModal(templatecareGapstatus,statusIds)">Assign Status</button></li>
                <li *ngIf="caregaps"><button class="mat-cstm mat-btn"
                    (click)="fnShowcaregapMessageModals(templateClearCareGapstatus,statusIds)">Clear Status</button></li>

                <li *ngIf="needAttention"><button class="mat-cstm mat-btn"
                    (click)="fnShowMessageModal(templatemessagestatus,statusIds)">Assign Status</button></li>
                <li *ngIf="needAttention"><button class="mat-cstm mat-btn"
                    (click)="fnShowNeedAttentionModals(templateneedAttentionstatus,statusIds)">Clear Status</button></li>

                <li><button class="mat-cstm mat-btn">Request Change</button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- CARE PLANNING (13.04.2019) -->
      <div class="row hidethis-fornow">
        <div class="col-md-4 col-sm-12">
          <div class="sm-content-bx scb-primary">
            <h3>Primary Provider</h3>
            <div class="scb-wrap">
              <ul class="list-group">
                <li class="list-group-item"><strong>{{patientChartDetail.patientDemographics.ppName}}</strong></li>
                <li class="list-group-item disabled">{{patientChartDetail.patientDemographics.ppCountry}}</li>
                <li class="list-group-item disabled" *ngIf="patientChartDetail.patientDemographics.ppPhone!=''">Mobile :
                  {{patientChartDetail.patientDemographics.ppPhone}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="sm-content-bx scb-current">
            <h3>Current Provider</h3>
            <div class="scb-wrap">
              <ul class="list-group">
                <li class="list-group-item"><strong>{{patientChartDetail.patientDemographics.cpName}}</strong></li>
                <li class="list-group-item disabled">{{patientChartDetail.patientDemographics.cpCountry}}</li>
                <li class="list-group-item disabled" *ngIf="patientChartDetail.patientDemographics.cpPhone!=''">Mobile :
                  {{patientChartDetail.patientDemographics.cpPhone}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="sm-content-bx scb-care">
            <h3>Care Gap</h3>
            <div class="scb-wrap">
              <span class="cg-item">In-compliance</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="sm-content-bx shadow-box">
        <div class="clearfix tabset-wrap">

          <tabset (onSelect)="GetPatientTabsDetail($event)">
            <tab title="Diagnosis">
              <perfect-scrollbar class="tbl-patient-chart" [config]="config">
                <div class="table-responsive tbl-patient-chart tb-pt-ui">
                  <table class="table" style="margin-bottom:0;">
                    <thead class="thead-light">
                      <tr>
                        <th>Snomed-CT</th>
                        <th width="15%">Snomed Code</th>
                        <th width="16%">ICD-10-CM Code</th>
                        <th width="34%">ICD-10 Description </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let snomedList of patientChartDetail.snomedCodeModel">
                        <td style="border:none;">
                          {{snomedList.snomedCodeDesc}}
                        </td>
                        <td>
                          {{snomedList.snomedCode}}
                        </td>
                        <td colspan="2" width="50%" class="pt-pb-0">
                          <!-- class="arrow-ptbtn" -->
                          <a (click)="toggleclasstable(ptDiagnosisId,snomedList.patientDiagnosisId)"
                             [ngClass]="snomedList.isVisible==true?'rotatearw arrow-ptbtn':'arrow-ptbtn'"
                             href="javascript:;void(0);"><i class="fa fa-angle-down"></i></a>
                          <table style="width:100%; display: table;" *ngIf="snomedList.isVisible">
                            <tr *ngFor="let icdMap of snomedList.snomedIcdMap">
                              <td class="pl-0" width="31%">{{icdMap.mapTarget}}</td>
                              <td width="73%">{{icdMap.icdName}}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </perfect-scrollbar>
              <div class="clearfix" *ngIf="patientChartDetail.snomedCodeModel.length==0">
                <p style="padding: 10px;
                                        background-color: #f5f6fa;
                                        margin-top: 5px;
                                        text-align: center;
                                        color: #A3A6B4;">
                  No record Found
                </p>
              </div>
              <div class="table-responsive tbl-patient-chart">
                <table class="table">
                  <tbody></tbody>
                </table>
              </div>
            </tab>
            <tab title="Procedures">
              <div class="clearfix">
                <p style="padding: 10px;
                                          background-color: #f5f6fa;
                                          margin-top: 5px;
                                          text-align: center;
                                          color: #A3A6B4;">
                  No record Found
                </p>
              </div>
            </tab>
            <tab title="Allergies">
              <div class="table-responsive tbl-patient-chart">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>Allergy</th>
                      <th width="150">Allergy Type</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="table-responsive tbl-patient-chart scrollbar-primary">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of this.patientChartDetail.patientAllergies">
                      <td>{{item.allergen}}</td>
                      <td width="150">{{item.allergyType}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="clearfix" *ngIf="patientChartDetail.patientAllergies.length==0">
                <p style="padding: 10px;
                                        background-color: #f5f6fa;
                                        margin-top: 5px;
                                        text-align: center;
                                        color: #A3A6B4;">
                  No record Found
                </p>
              </div>
            </tab>
            <tab title="Meds">
              <div class="clearfix">
                <p style="padding: 10px;
                                          background-color: #f5f6fa;
                                          margin-top: 5px;
                                          text-align: center;
                                          color: #A3A6B4;">
                  No record Found
                </p>
              </div>
            </tab>
            <tab title="Labs">
              <div class="lb-tbl-blk">
                <div class="flt-blk-bx slct-flt-lbl">
                  <div class="fltr-blk-col-sp fltr-blk-sp-lab">
                    <div class="row">
                      <div class="col-md-2  col-lg-2 col-sm-4 col-6">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="ORDER/REQ NO." [(ngModel)]="OrderNo">
                        </mat-form-field>
                      </div>
                      <div class="col-md-2  col-lg-2  col-sm-4 col-6">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="Test Performed" [(ngModel)]="TestName">
                        </mat-form-field>
                      </div>
                      <div class="col-md-2  col-lg-2  col-sm-4 col-6">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="Lab" [(ngModel)]="LabName">
                        </mat-form-field>
                      </div>
                      <div class="col-md-2  col-lg-2  col-sm-4 col-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dp4" [(ngModel)]="FromDate" disabled>
                          <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                          <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2  col-lg-2  col-sm-4 col-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dp3" [(ngModel)]="ToDate" disabled>
                          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-1 d-none d-lg-block">
                      </div>
                    </div>
                    <div class="fltr-btn-sch">
                      <button class="btn" type="button" (click)="DownloadPDFLab($event)"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                    </div>
                  </div>

                </div>
                <div class="table-ui">
                  <mat-table #table [dataSource]="dataSource" class="od-blk-bx">
                    <ng-container matColumnDef="ORDER/REQNO.">
                      <mat-header-cell *matHeaderCellDef> ORDER/REQ NO. </mat-header-cell>
                      <mat-cell *matCellDef="let element">  <input type="checkbox" value="{{element.VisitID}}" [checked]="element.status" [(ngModel)]="element.status">{{element.TestID}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="TestPerformed">
                      <mat-header-cell *matHeaderCellDef>
                        <div class="org-nm-col">
                          TEST PERFORMED
                          <div class="sort-nm-val">
                            <i class="fa fa-sort-up" (click)="sortDataLab('TestPerformed','asc')"></i>
                            <i class="fa fa-sort-down" (click)="sortDataLab('TestPerformed','desc')"></i>
                          </div>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <div class="hd-avt-wrp">
                          <div class="hd-avt-cntnt">
                            {{element.TestName}}
                          </div>
                        </div>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ReportDate">
                      <mat-header-cell *matHeaderCellDef>
                        Report Date
                        <div class="sort-nm-val">
                          <i class="fa fa-sort-up" (click)="sortData('ReportDate','asc')"></i>
                          <i class="fa fa-sort-down" (click)="sortData('ReportDate','desc')"></i>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">  {{element.DateReceived|date: 'MM/dd/yyyy'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="LonicCode">
                      <mat-header-cell *matHeaderCellDef>
                        LOINC Code
                        <div class="sort-nm-val">
                          <i class="fa fa-sort-up" (click)="sortData('LonicCode','asc')"></i>
                          <i class="fa fa-sort-down" (click)="sortData('LonicCode','desc')"></i>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.LOINcode}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Lab">
                      <mat-header-cell *matHeaderCellDef>
                        LAB
                        <div class="sort-nm-val">
                          <i class="fa fa-sort-up" (click)="sortData('Lab','asc')"></i>
                          <i class="fa fa-sort-down" (click)="sortData('Lab','desc')"></i>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{element.LabName}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Unit">
                      <mat-header-cell *matHeaderCellDef>
                        UNIT
                        <div class="sort-nm-val">
                          <i class="fa fa-sort-up" (click)="sortData('Unit','asc')"></i>
                          <i class="fa fa-sort-down" (click)="sortData('Unit','desc')"></i>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{element.TestUnit}}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Result">
                      <mat-header-cell *matHeaderCellDef>
                        RESULT
                        <div class="sort-nm-val">
                          <i class="fa fa-sort-up" (click)="sortData('UNIT','asc')"></i>
                          <i class="fa fa-sort-down" (click)="sortData('UNIT','desc')"></i>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{element.TestResult}} <span class="result-status rs-green"></span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Notes">
                      <mat-header-cell *matHeaderCellDef>
                        NOTES
                        <div class="sort-nm-val">
                          <i class="fa fa-sort-up" (click)="sortData('Notes','asc')"></i>
                          <i class="fa fa-sort-down" (click)="sortData('Notes','desc')"></i>
                        </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <i class="fa fa-eye" style="cursor:pointer" aria-hidden="true" aria-hidden="true" title="View Note"
                           (click)="openPopup(element.Notes,templateNoteColumn)"></i>

                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
                <div class="clearfix" *ngIf="length==0">
                  <p style="padding: 10px;
                                        background-color: #f5f6fa;
                                        margin-top: 5px;
                                        text-align: center;
                                        color: #A3A6B4;">
                    No record Found
                  </p>
                </div>
              </div>
                        <mat-paginator *ngIf="length!=0" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getServerDataLab($event)"
                          (ngModelChange)="getServerDataLab($event)">
                        </mat-paginator>
                      </tab>
            <tab title="Claims/Supplemental">
              <div class="flt-blk-bx slct-flt-lbl">
                <div class="fltr-blk-col-sp">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="slct-clnt-ui">
                        <div class="slct-lbk-wp">
                          <mat-form-field>
                            <select matNativeControl required>
                              <option value="volvo">Claim Status</option>
                              <option value="saab">Pending</option>
                              <option value="mercedes">Approved</option>
                            </select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="slct-clnt-ui">
                        <!-- <label>Select Client </label> -->
                        <div class="slct-lbk-wp">
                          <mat-form-field>
                            <select matNativeControl required>
                              <option value="volvo">Hold State</option>
                              <option value="saab">Option 1</option>
                              <option value="mercedes">Option 2</option>
                            </select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-6">
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="From">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-2 col-md-2 col-6">
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="To">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="fltr-btn-sch">
                    <button class="btn" type="submit">Filter</button>
                    <button class="btn mat-success" type="button" (click)="genratePDF()">Download</button>
                    <!-- <a href="../../../assets/pdfs/clinicalguidance .pdf" class="btn" target="_blank">Downlaod</a> -->
                  </div>
                </div>
              </div>
              <div class="table-responsive tbl-patient-chart">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>PatientID</th>
                      <th>Date of Service</th>
                      <th>Payer Name</th>
                      <th>EDI File</th>
                      <th class="last-center">Claim Status</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of parentClaimDetail; let i = index">
                    <tr>
                      <td>
                        <div class="inr-et-rw">
                          <a class="toggle-row" *ngIf="fafashow" href="javascript:void(0);" (click)="showHide(i)">
                            <i class="fa fa-plus"></i>
                          </a>
                          <a class="toggle-row" *ngIf="fafaanchor" href="javascript:void(0);" (click)="showHide(i)">
                            <i class="fa fa-minus"></i>
                          </a>
                          <p>
                            {{item.patientId}}
                          </p>
                        </div>
                      </td>
                      <td>{{item.createddate | date:"MM/dd/yyyy"}}</td>
                      <td>{{item.payerName}}</td>
                      <td></td>
                      <td align="center"><span class="label label-default"> Approved </span></td>
                    </tr>
                    <tr *ngIf="fafahide!==i">
                      <td colspan="5" class="sb-tbl-colps">
                        <div class="expnd-table-sub">
                          <tabset (onSelect)="GetPatientTabsDetail($event)">
                            <tab title="Charges">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead class="thead-light">
                                    <tr>
                                      <th>CPT</th>
                                      <th>Modifier</th>
                                      <th>Unit</th>
                                      <th>Rate</th>
                                      <th>Charges</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let items of item.patientClaimChildrenDetails let i = index">
                                      <td>{{items.serviceCode}}</td>
                                      <td>{{items.modifier}}</td>
                                      <td>{{items.unit}}</td>
                                      <td>{{items.charges}}</td>
                                      <td>{{items.charges}}</td>
                                      <td><a href="javascript:void(0);"></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </tab>
                            <tab title="DIAGNOSIS">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead class="thead-light">
                                    <tr>
                                      <th>CPT 1</th>
                                      <th>Modifier 2</th>
                                      <th>Unit</th>
                                      <th>Rate</th>
                                      <th>Charges</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let items of item.patientClaimChildrenDetails let i = index">
                                      <td>{{items.serviceCode}}</td>
                                      <td>{{items.modifier}}</td>
                                      <td>{{items.unit}}</td>
                                      <td>{{items.charges}}</td>
                                      <td>{{items.charges}}</td>
                                      <td><a href="javascript:void(0);"></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </tab>
                          </tabset>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="clearfix" *ngIf="parentClaimDetail.length>0">
                <p style="padding: 10px;
                                        background-color: #f5f6fa;
                                        margin-top: 5px;
                                        text-align: center;
                                        color: #A3A6B4;">
                  No record Found
                </p>
              </div>
            </tab>
            <tab title="Activity">
              <div class="clearfix">
                <p style="padding: 10px;
                                              background-color: #f5f6fa;
                                              margin-top: 5px;
                                              text-align: center;
                                              color: #A3A6B4;">
                  No record Found
                </p>
              </div>
            </tab>
            <tab title="Notes">
              <div class="clearfix">
                <p style="padding: 10px;
                                              background-color: #f5f6fa;
                                              margin-top: 5px;
                                              text-align: center;
                                              color: #A3A6B4;">
                  No record Found
                </p>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END -->

<ng-template #templateNoteColumn class="modal-sz">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Note</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="auth-wrap-background">
      <div class="auth-center">
        <div class="auth-blur auth-size">
          <div class="auth-wrap-background"></div>
        </div>
      </div>
      <div class="auth-center">
        <div class="auth__inner auth-size">
          <!-- <img src="../assets/img/Logo.png" class="logo"> -->
          <div class="">
            <div class="auth__form auth__inner__section">
              {{NoteName}}
              <div class="pull-right btn-bl-set">
                <button class="submit mat-btn cursor" (click)="modalRef.hide()" mat-button>
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- END -->

<!-- Message -->
<ng-template #templatemessage class="modal-sz modal-lg" id="messageId" allow="microphone" style="max-width:700px;">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Send Message To</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mdl-slct-msg">
    <div class="row">
      <div class="col-sm-6">
        <h4>Message Option</h4>
        <div class="form-group">
          <mat-form-field floatLabel="never">
            <mat-label>Select Message Type</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of MessageType" [value]="item.id" (click)="GetPhEmail(item.id)">
                {{item.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field floatLabel="never">
            <mat-label>Select Message Template</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of TemplateType" [value]="item.id" (click)="GetTemplate(item.id)">
                {{item.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6">
        <h4>Deliver To</h4>
        <div class="form-group">
          <div style="padding: 14px;padding-left: 0px;padding-top:13px;">
            {{patientChartDetail.patientDemographics.name}}</div>
        </div>
        <div class="form-group">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Enter Destination Address" [(ngModel)]="Address">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field floatLabel="never">
          <textarea matInput placeholder="Message to Send" [(ngModel)]="MessageText"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="text-right modal-footer sbmt-pp btn-bl-set pt-mdl-mftr">
    <button type="button" class="mat-btn mat-cstm cursor" data-dismiss="modal">Submit</button>
    <button type="button" class="mat-btn mat-cstm cursor" data-dismiss="modal" [disabled]="service.started$ | async"
      (click)="listen()">Record</button>
    <button type="button" class="mat-btn mat-cstm cursor" data-dismiss="modal" (click)="Voice()">Listen</button>
  </div>
</ng-template>
<!-- END -->

<!-- Status -->
<ng-template #templatemessagestatus class="modal-sz" id="statusId">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assign Patient Status</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mdl-slct-msg">
    <div class="row">
      <div class="col-sm-12">
        <div class="cp-frm-blk">
          <label>Patient</label>
          <p>{{patientChartDetail.patientDemographics.name}}, {{patientChartDetail.patientDemographics.gender}},
            {{patientChartDetail.patientDemographics.age}} years </p>
        </div>
        <div class="cp-frm-blk asg-cp-blk asg-mdl-spc">
          <label>Assign</label>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select Patient Status</mat-label>
            <mat-select [(ngModel)]="StatusCodeId">
              <mat-option *ngFor="let element of PatientStatus" [value]="element.CodeId">
                {{element.CodeDescription}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select Reason</mat-label>
            <mat-select [(ngModel)]="ReasonCodeId">
              <mat-option *ngFor="let element of PatientReason" [value]="element.CodeId">
                {{element.CodeDescription}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field floatLabel="never">
          <textarea matInput placeholder="Notes/Comments" [(ngModel)]="PatientComment"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="text-right modal-footer sbmt-pp btn-bl-set pt-mdl-mftr">
    <button type="button" class="mat-btn mat-cstm cursor" data-dismiss="modal" (click)="changeStatus()">Submit</button>
  </div>
</ng-template>
<!-- END -->

<!-- CareGap -->
<ng-template #templatecareGapstatus class="modal-sz">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assign Care Gap Status</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mdl-slct-msg">
    <div class="row">
      <div class="col-sm-12">
        <div class="cp-frm-blk">
          <label>Care Gap</label>
          <p *ngIf="multipleselected">Multiple Selected</p>
          <p *ngIf="!multipleselected">{{SelectedCareGap}}</p>
        </div>
        <div class="cp-frm-blk asg-cp-blk asg-mdl-spc ">
          <label>Assign</label>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select Status</mat-label>
            <mat-select [(ngModel)]="StatusCareGapCodeId">
              <mat-option *ngFor="let element of PatientStatus" [value]="element.CodeId">
                {{element.CodeDescription}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select Reason</mat-label>
            <mat-select [(ngModel)]="ReasonCareGapCodeId">
              <mat-option *ngFor="let element of PatientReason" [value]="element.CodeId">
                {{element.CodeDescription}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field floatLabel="never">
          <textarea matInput placeholder="Notes/Comments" [(ngModel)]="PatientcareGapComment"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="text-right modal-footer sbmt-pp btn-bl-set pt-mdl-mftr">
    <button type="button" class="mat-btn mat-cstm cursor" data-dismiss="modal"
      (click)="changeCareGapStatus()">Submit</button>
  </div>
</ng-template>
<!-- END -->

<!-- NeedAttention -->
<ng-template #templateneedAttentionstatus class="modal-sz">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Clear Patient Status</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mdl-slct-msg">
    <div class="row">
      <div class="col-sm-12">
        <div class="cp-frm-blk">
          <label>Patient</label>
          <p>{{patientChartDetail.patientDemographics.name}}, {{patientChartDetail.patientDemographics.gender}},
            {{patientChartDetail.patientDemographics.age}} years </p>
        </div>
        <div class="cp-frm-blk asg-cp-blk asg-mdl-spc">
          <label>Status to Remove</label>
          <p>{{PatientStatusCode}} - {{PatientReasonStatusCode}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field floatLabel="never">
          <textarea matInput placeholder="Notes/Comments" [(ngModel)]="PatientClearNeedAttentionComment"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="text-right modal-footer sbmt-pp btn-bl-set pt-mdl-mftr">
    <button type="button" class="mat-btn mat-cstm cursor" data-dismiss="modal"
      (click)="clearNeedAttentionStatus()">Submit</button>
  </div>
</ng-template>
<!-- END -->

<!-- CareGap -->
<ng-template #templateClearCareGapstatus class="modal-sz">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Clear Care Gap Status</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mdl-slct-msg">
      <div class="row">
        <div class="col-sm-12">
          <div class="cp-frm-blk">
            <label>Care Gap(s)</label>
            <p class="adl-bms-st-bk" *ngFor="let item of GetFilteredNeedAttentionDetail">{{item.Name}} - <span>Patient Refused Care</span></p>
          </div>
          <!-- <div class="cp-frm-blk asg-cp-blk asg-mdl-spc">
            <label>Status to Remove</label>
            <p>{{PatientStatusCode}} - {{PatientReasonStatusCode}}</p>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field floatLabel="never">
            <textarea matInput placeholder="Notes/Comments" [(ngModel)]="PatientClearNeedAttentionComment"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="text-right modal-footer sbmt-pp btn-bl-set pt-mdl-mftr">
      <button type="button" class="mat-btn mat-cstm cursor" data-dismiss="modal"
        (click)="clearCareGapStatus()">Submit</button>
    </div>
  </ng-template>
  <!-- END -->
