.ccda {
  /* margin-right: 1px; */
  margin-left: 170px;
}

/* content box */
.sm-content-bx {
  background-color: #ffffff;
  margin-bottom: 15px;
}

  .sm-content-bx .scb-inner {
    padding: 15px;
  }

    .sm-content-bx .scb-inner a {
      font-size: 14px;
      font-weight: bold;
    }

  .sm-content-bx h3 {
    padding: 20px 15px;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    font-weight: bold;
    color: #4d4f5c;
  }

    .sm-content-bx h3 a {
      color: #4d4f5c;
      margin-right: 10px;
    }

.more-info-wrap {
  padding: 15px 25px;
  min-height: 228px;
}

  .more-info-wrap h3 {
    border: none;
    padding-bottom: 5px;
  }

  .more-info-wrap .list-group-item {
    border: none;
    border-top: 1px solid #dfdfdf;
    font-size: 13px;
  }

div[class*="scb-"].sm-content-bx {
  min-height: 260px;
}

.sm-content-bx.scb-primary {
  border-top: 2px solid #a3a1fb;
}

.sm-content-bx.scb-current {
  border-top: 2px solid #ff7285;
}

.sm-content-bx.scb-care {
  border-top: 2px solid #35cc6d;
}

.sm-content-bx .scb-wrap {
  padding: 10px 20px;
}

  .sm-content-bx .scb-wrap .list-group-item {
    border: none;
    font-size: 13px;
    padding: 0px;
    margin-bottom: 5px;
  }

    .sm-content-bx .scb-wrap .list-group-item:last-child {
      margin-bottom: 0;
    }

.user-info-bx {
  padding: 10px 30px 0 110px;
  position: relative;
}

  .user-info-bx img.img-rounded {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 70px;
    height: 70px;
    background-color: #dfdfdf;
    border-radius: 50%;
  }

  .user-info-bx .list-group-item {
    border: none;
    font-size: 13px;
    padding: 0px;
    margin-bottom: 5px;
  }

    .user-info-bx .list-group-item:last-child {
      margin-bottom: 0;
    }

.cg-item {
  display: inline-block;
  border: 1px solid #f8f9fb;
  padding: 5px 8px;
  border-radius: 20px;
  font-size: 11px;
}

  .cg-item:before {
    content: '';
    width: 16px;
    height: 7px;
    border-radius: 15px;
    background-color: #35cc6d;
    display: inline-block;
    margin-right: 5px;
  }

/* tabset wrap */
.tabset-wrap { padding:30px;}
:host /deep/ .tabset-wrap .tabset .nav-tabs { border:none;}
:host /deep/ .tabset-wrap .tabset li { margin-bottom:0;margin-right:10px;}
:host /deep/ .tabset-wrap .tabset li a { font-size:12px;border-bottom:3px solid #ffffff;color:#b1b0bb;font-weight:bold;padding:0.5rem 1rem;box-shadow:none;}
:host /deep/ .tabset-wrap .tabset li.active a { border-bottom-color:#439bff;color:#43425d;}
.tabset-wrap table th {color: #8F9098; font-weight: 500; font-size: 13px; text-transform:uppercase;background-color:#f6f7fb;border:none !important;}
.tabset-wrap table td { color:#7F818C; font-size:13px;border:none;border-bottom:1px solid #dee2e6; font-weight:400;}
.tabset-wrap table td .code-blue { color:#5a77d6;}

:host /deep/ .tabset-wrap .tabset .nav-tabs {
  border: none;
}

:host /deep/ .tabset-wrap .tabset li {
  margin-bottom: 0;
  margin-right: 10px;
}

  :host /deep/ .tabset-wrap .tabset li a {
    font-size: 12px;
    border-bottom: 3px solid #ffffff; 
    color: #b1b0bb;
    font-weight: bold;
    padding: 0.5rem 1rem;
    box-shadow: none;
  }

  :host /deep/ .tabset-wrap .tabset li.active a {
    border-bottom-color: #439bff;
    color: #43425d;
  }

.tabset-wrap table th {
  color: #8F9098;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #f6f7fb;
  border: none !important;
}

.tabset-wrap table td {
  color: #7F818C;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #dee2e6;
  font-weight: 400;
}

  .tabset-wrap table td .code-blue {
    color: #5a77d6;
  }

/* table patient chart */
.tbl-patient-chart {
  max-height: 400px;
}

  .tbl-patient-chart table {
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    overflow: hidden;
  }

  .tbl-patient-chart tr th {
    vertical-align: top;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 8px;
  }

  .tbl-patient-chart tr td {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .tbl-patient-chart tr th.bg-blue {
    background-color: #439bff;
    color: #ffffff;
  }
  /*.tbl-patient-chart tr th:last-child { text-align:right;}*/
  .tbl-patient-chart .tpc-title td {
    background-color: #439bff;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
  }

  .tbl-patient-chart td {
    font-weight: 500;
    color: #545454;
    vertical-align: middle;
  }

    .tbl-patient-chart td a.btn {
      width: 100%;
      font-size: 12px;
      text-transform: uppercase;
    }

  .tbl-patient-chart input[type="checkbox"] {
    position: relative;
    top: 2px;
  }

  .tbl-patient-chart .icon-notes {
    color: #999;
    margin: 0 5px;
  }

  .tbl-patient-chart .result-status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }

  .tbl-patient-chart .rs-green {
    background-color: #00c851;
  }

  .tbl-patient-chart .rs-red {
    background-color: #ff7285;
  }

/*.lb-tbl-blk{ margin-top:25px;}*/
.flt-blk-bx {
  padding: 14px 15px;
  background: #f6f6f6;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

  .flt-blk-bx .input-group {
    display: table;
    margin-bottom: 0px !important;
  }

    .flt-blk-bx .input-group .mat-form-field {
      display: table-cell;
    }

    .flt-blk-bx .input-group .input-group-append {
      vertical-align: top;
      display: table-cell;
    }

      .flt-blk-bx .input-group .input-group-append .btn {
        padding: 0.55rem 1.5rem;
        margin-top: 0px;
        margin-bottom: 0px;
      }



/*.lb-tbl-blk tr th {
  vertical-align: top;
  padding: 20px 25px;
  font-size: 14px;
  color: #9b9ab7;
  font-weight: 500;
}
.lb-tbl-blk tr td {
  color: #4D4F5C;padding: 12px 25px;
  font-size: 14px;
}*/
.lb-tbl-blk tr td button {
  cursor: pointer;
  color: #9b9ab7;
  padding: 8px 15px;
  border: 1px solid #9b9ab7;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
}

  .lb-tbl-blk tr td button:hover {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
  }

.lb-tbl-blk .tbl-patient-chart {
  max-height: 500px !important;
}

.fltr-blk-col-sp > .row > div {
  padding-right: 0px;
}

  .fltr-blk-col-sp > .row > div .col-sm-6 {
    padding-right: 0px;
  }

.fltr-blk-col-sp {
  padding-right: 200px;
  position: relative;
}

  .fltr-blk-col-sp .btn {
    PADDING: 8px 15px !important;
    margin-left: 15px;
    margin-right: 0px;
    box-shadow: none;
    font-weight: 600;
    background: #02a7fa;
  }

.fltr-btn-sch {
  position: absolute;
  right: 0px;
  top: -6px;
}

.label-default {
  min-width: 80px;
  display: inline-block;
  padding: 2px 8px;
  background: #5dd4a1;
  color: #fff;
}

.label-primary {
  padding: 2px 8px;
  background: #e2cb34;
  color: #fff;
}

.label-pending {
  background-color: #f0ad4e;
}

.label-decline {
  background: #d9534f;
}

.fltr-blk-sp-lab {
  padding-right: 115px;
}

.tbl-patient-chart td a.btn {
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
}

.card-blk-inwrp {
  background: #fff;
}

.tabset-wrap-ovt {
  padding-top: 5px;
  padding-left: 25px;
}

.tabset-wrap .expnd-table-sub table td {
  border-color: #F5F6FA;
}
.lb-tbl-blk tr td button{cursor: pointer; color:#9b9ab7; padding: 8px 15px; border:1px solid #9b9ab7; background:#fff; border-radius:20px; -webkit-border-radius:20px; -ms-border-radius:20px;}
.lb-tbl-blk tr td button:hover{ outline:none; box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}
.lb-tbl-blk .tbl-patient-chart{ max-height: 500px !important;}
.fltr-blk-col-sp > .row > div{ padding-right:0px;}
.fltr-blk-col-sp > .row > div .col-sm-6{ padding-right:0px;}
.fltr-blk-col-sp{ padding-right:200px; position: relative;}
.fltr-blk-col-sp .btn{PADDING:8px 15px !important; margin-left:15px; margin-right:0px; box-shadow: none; font-weight: 600; background: #02a7fa; }
.fltr-btn-sch{ position: absolute; right:0px; top:-6px;}
.label-default{ min-width:80px; display: inline-block; padding: 2px 8px; background:#5dd4a1; color: #fff;}
.label-primary{padding: 2px 8px;  background:#e2cb34; color:#fff; }
.label-pending{ background-color: #f0ad4e;}
.label-decline{ background:#d9534f;}
.fltr-blk-sp-lab{ padding-right:115px;}
.tbl-patient-chart td a.btn { width:100%;font-size:12px;text-transform:uppercase;}
.card-blk-inwrp{  background:#fff;}
.tabset-wrap-ovt{ padding-top:5px; padding-left:25px;}
.tabset-wrap .expnd-table-sub table td{ border-color:#F5F6FA;}
.automb{max-height:150px; overflow-y: auto;}

.asg-mdl-spc{ margin-bottom: 5px;}
.testing{background:#fff;}