<div (click)="RemoveFilterSection($event)">
  <div class="ma-wrap">
    <div class="row">
      <div class="col-sm-2">
        <mat-form-field>
          <mat-select placeholder="Measure Steward" [value]="selectedMasterMeasure">
            <mat-option *ngFor="let item of MasterMeasuretypeList" [value]="item.id" (click)="GetDashboardAsPer(item.id)">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-8">
        <h3>Description</h3>
        <p class="desc-blk-dash">
            <span [innerHTML]="measureDescription.description"></span>           
        </p>
        <a [routerLink]="[measureDescription.routerLink]" [queryParams]="{id:measureDescription.parameters}">View more ></a>
        
        <!-- <p>
          Test data
            <a class="linkviewmore" href="javascript:void(0);">View more > </a>
        </p> -->
        
        <!-- <p *ngIf="this.ABAFilters.MeasureId==1">The percentage of the patients 18-74 years of age who had an outpatient visit and whose body mass index (BMI) was documented during the measurement year or the year prior to the measurement year.
          <a class="linkviewmore" href="javascript:void(0);">View more > </a>


        </p>
        <p *ngIf="this.ABAFilters.MeasureId==2">
          This measure evaluates the percentage of members 50 to 75 years of age who had appropriate screening for colorectal cancer through the performance of a fecal occult blood test (FOBT),
          flexible sigmoidoscopy or colonoscopy.
        </p>
        <p *ngIf="this.ABAFilters.MeasureId==3">
          Breast Cancer Screening (BCS) is a HEDIS (Health Effectiveness Data and Information Set) measure recording the percentage of women ages 50-74 who had a mammogram to screen for breast cancer.
        </p>
        <p *ngIf="this.ABAFilters.MeasureId==4">
          Assesses women 21–64 years of age who were screened for cervical cancer using either of the following criteria:
          <li>
            Women age 21–64 who had cervical cytology performed every 3 years.
          </li>
          <li>
            Women age 30–64 who had cervical cytology/human papillomavirus (HPV) co-testing performed every 5 years.
          </li>
        </p> -->
      </div>
        <div class="col-sm-2 dash-blk-top clear-filter-wrap text-right clr-flt-btn-ovt">
          <!-- <button (click)="SyncToLatestRecord()" class="btn btn-primary btn-sm ccda2" style="margin-right:10px;">Sync</button> -->
          <button (click)="ClearFilter()" class="btn btn-primary btn-sm ccda2" style="margin-right:10px;">Clear Filters</button>
           <img _ngcontent-c5="" alt="" id="sidebar" class="sidebarBtn" src="../assets/img/sidebar-control.png" (click)="showAndHideFilters('true')">
         
      </div>
      <!-- <div class="col-sm-4">
    <h3>Primary Data Source</h3>
    <label class="txt-hedis">Hedis</label>
  </div> -->
    </div>
  </div>
  
  
      <!-- <div class="graph-wrap">
          <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>
        </div> -->
        
  <!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
  <div class="inner-wrap shadow-box">
  <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)" ></p-chart>
  </div>
        <div class="mt-30">             
              <div class="table-responsive table-summary scrollbar-primary shadow-box" id="MeasureTable" >
                  <div class="scroll-bottom-sp" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <table width="100%">
                <thead>
                <tr class="summary-head">
                <th colspan="3" class="staticHeader"><strong>Measure Summary Listing</strong></th>
<!-- //// association -->
                <th  colspan="2" class="border-left AssGoalId msrmnt-head-spc" *ngIf="AssGoal" id="AssGoalId">
                    <span *ngIf="AssGoalPer">Performance Relative to </span>
                    <span *ngIf="!AssGoalPer">Association Goal</span>
                  <br/>
                  <div>KPCA</div>
                  <div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(1)">
                    <i class="fa fa-cog" matTooltip="Right Click To Get More Options" ></i>
                  </div>
                </th>
<!-- //corporate/organization -->
                <th colspan="2" class="border-left CopGoalId msrmnt-head-spc" *ngIf="CopGoal" id="CopGoalId">
                  <span *ngIf="CopGoalPer">Performance Relative to </span>
                  <span *ngIf="CopGoalPerF"> Corporate Goal</span>
                  
                  <br/>
                  <div >
                    {{OrganizationItem.name}}
                </div>
            
                  <div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(2)">
                    <i class="fa fa-cog" matTooltip="Right Click To Get More Options"></i>
                  </div>
                </th>



  <!-- //provider -->
                <th colspan="2" class="border-left ProGoalId msrmnt-head-spc" *ngIf="ProGoal" id="ProGoalId">
                  <span *ngIf="ProGoalPer">Performance Relative to </span>  
                  <span *ngIf="ProGoalPerF">  Provider Goal</span><br />
                
                  <div >
                    {{ProviderItem.name}}
                </div>
      
                  <div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(5)">
                    <i class="fa fa-cog" matTooltip="Right Click To Get More Options"></i>
                  </div>
                </th>
<!-- //clinic -->

                <th colspan="2" class="border-left ClinicGoalId msrmnt-head-spc" *ngIf="ClinicGoal" id="ClinicGoalId">
                  <span *ngIf="ClinicGoalPer">Performance Relative to 
      
                  </span> 
                  <span *ngIf="ClinicGoalPerF">
                  Clinic Goal
                </span> <br />
                  <div  >
                    {{clinicItem.name}}
                </div>
                  <div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(6)">
                    <i class="fa fa-cog" matTooltip="Right Click To Get More Options"></i>
                  </div>
                </th>
  

   <!-- //payer -->
                <th colspan="2" class="border-left PayGoalId msrmnt-head-spc" *ngIf="PayGoal" id="PayGoalId">
                  <span *ngIf="PayGoalPer">Performance Relative to </span>
                  <span *ngIf="PayGoalPerF">Payer Goal</span> <br />
                  <div  >
                    {{payerItem.name}}
                </div>
                  <div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(4)">
                    <i class="fa fa-cog" matTooltip="Right Click To Get More Options"></i>
                  </div>
                </th>


                <!-- <th colspan="2" class="border-left" *ngIf="AssGoal"><span *ngIf="AssGoalPer" >Performance Relative to </span> KPCA Benchmark <div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(1)"><i class="fa fa-cog"></i></div></th>
                <th colspan="2" class="border-left" *ngIf="CopGoal"><span *ngIf="CopGoalPer">Performance Relative to </span> Corporate Goal<div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(2)"><i class="fa fa-cog"></i></div></th>  -->
                <!-- <th colspan="2" class="border-left" *ngIf="OrgGoal"><span *ngIf="OrgGoalPer">Performance Relative to </span> Organization Goal<div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(3)"><i class="fa fa-cog"></i></div></th>  -->
                <!-- <th colspan="2" class="border-left" *ngIf="ProGoal"><span *ngIf="PayGoalPer">Performance Relative to </span> Provider Goal<div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(5)"><i class="fa fa-cog"></i></div></th> 
                <th colspan="2" class="border-left" *ngIf="ClinicGoal"><span *ngIf="ProGoalPer">Performance Relative to </span> Clinic Goal<div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(6)"><i class="fa fa-cog"></i></div></th> 
                <th colspan="2" class="border-left" *ngIf="PayGoal"><span *ngIf="ClinicGoalPer">Performance Relative to </span> Payer Goal<div class="setting-icon-wrap" [shAttachMenu]="menu" [shMenuData]="data" (contextmenu)="getSelectedcolumn(4)"><i class="fa fa-cog"></i></div></th>  -->
                </tr>
                <tr>
                <th>
                <h3>Measure</h3>
                </th>
                <th>
                <h3>Completed</h3>
                <div class="b-mark lst-bk-rw bmrk-prcnt-bx">
                  <span><span>00</span></span>
                  <span class="pull-right">25</span>
                  <!-- <span>{{this.totalPatient/2|number:'1.0-0'}}</span> -->
                  <span class="text-right">50</span>
                  <span class="text-right">75</span>
                  <!-- <span>30k</span> -->
                  <span class="text-right lst-spn-bmrk">100</span>
                </div>
                </th>
                <th width="100"  class="staticHeaders text-center" ><h3>Met%</h3></th>
                <th *ngIf="AssGoal" class="border-left AssGoalId goal-width"><h3>Goal</h3></th>
                <th *ngIf="AssGoal" class="text-right AssGoalId" width="85"><h3>Patient<br>Needed</h3></th>
                <th *ngIf="CopGoal"class="border-left CopGoalId goal-width"><h3>Goal</h3></th>
                <th *ngIf="CopGoal" class="text-right CopGoalId" width="85"><h3>Patient<br>Needed</h3></th>
                <!-- <th *ngIf="OrgGoal" class="border-left"><h3>Goal</h3></th>
                <th *ngIf="OrgGoal"><h3>Patient Needed</h3></th> -->
                <th *ngIf="ProGoal" class="border-left ProGoalId goal-width"><h3>Goal</h3></th>
                <th *ngIf="ProGoal" class="text-right ProGoalId" width="85"><h3>Patient<br>Needed</h3></th>
                <th *ngIf="ClinicGoal" class="border-left ClinicGoalId goal-width"><h3>Goal</h3></th>
                <th *ngIf="ClinicGoal" class="text-right ClinicGoalId" width="85"><h3>Patient<br>Needed</h3></th>
                <th *ngIf="PayGoal" class="border-left PayGoalId goal-width"><h3>Goal</h3></th>
                <th *ngIf="PayGoal" class="text-right PayGoalId" width="85"><h3>Patient<br>Needed</h3></th>
                </tr>
                </thead>
                <tbody *ngFor="let category of MeasureList">
                    <tr>
                      <td colspan="3" class="staticHeader0">
                        <h4>{{category.categoryName}}</h4>
                      </td>
                      <td colspan="2" *ngIf="AssGoal" class="border-left AssGoalId"></td>
                      <td colspan="2" *ngIf="CopGoal" class="border-left CopGoalId"></td>
                      <td colspan="2" *ngIf="ProGoal" class="border-left ProGoalId"></td>
                      <td colspan="2" *ngIf="ClinicGoal" class="border-left ClinicGoalId"></td>
                      <td colspan="2" *ngIf="PayGoal" class="border-left PayGoalId"></td>
                      <!-- <td colspan="2" class="border-left"></td> -->
            
                      <!-- <td colspan="2" class="border-left"></td> -->
                    </tr>
                <!-- <tbody>
                <tr >
                <td colspan="3"><h4>Prevention &amp; Screening</h4></td>
                <td colspan="2" class="border-left"></td>
                <td colspan="2" class="border-left"></td>
                </tr> -->

             


                <tr [ngClass]="item.masterMeasureId==measureDescription.selectedMeasure?measureDescription.activeClass:''"
                
                (click)=ActiveRow(item.masterMeasureId) *ngFor="let item of category.masterMeasureList; let i = index">
                <td>
                  <div class="blk-chrt-link">
                    <a   matTooltip="View Measure Refrence Library" [routerLink]="['/Admin/measuredetails']" [queryParams]="{id:item.masterMeasureId}">
                    {{item.name}}</a>
                    <a  matTooltip="View Trend Chart" class="bar-chrt-lnk" href="javascript:void(0);"><i class="fa fa-bar-chart"></i></a>
                  </div>
              </td>
                <td>
                  <div class="progress progress-hedis">
                    <div class="progress-bar cursor" matTooltip="View Patient Dataset" 
                    [popover]="popTemplate" 
                    popoverTitle="Performance- Current VS Prior" 
                    triggers="mouseenter:mouseleave"
                      id="{{item.abbreviation}}"
                       style="width:70%"
                        (click)="GetListForMeasure(item.masterMeasureId,1)" (mouseenter)="ShowBarColor('true',item.masterMeasureId) "
                      (mouseleave)="ShowBarColor('false',item.masterMeasureId) "></div>
                    <!-- <div class="progress-bar cursor prgrs-comn prgrs-index2" matTooltip="View Patient Dataset" 
                    [popover]="popTemplate" 
                    popoverTitle="Performance- Current VS Prior" 
                    triggers="mouseenter:mouseleave"
                      id="{{item.abbreviation}}"
                       style="width:70%"
                        (click)="GetListForMeasure(item.masterMeasureId,1)" (mouseenter)="ShowBarColor('true',item.masterMeasureId) "
                      (mouseleave)="ShowBarColor('false',item.masterMeasureId) "></div>
                      <div class="progress-bar cursor prgrs-comn prgrs-index1" matTooltip="View Patient Dataset" 
                      [popover]="popTemplate" 
                      popoverTitle="Performance- Current VS Prior" 
                      triggers="mouseenter:mouseleave"
                        id="{{item.backAbbr}}"
                         style="width:70%"
                          (click)="GetListForMeasure(item.masterMeasureId,1)" (mouseenter)="ShowBarColor('true',item.masterMeasureId) "
                        (mouseleave)="ShowBarColor('false',item.masterMeasureId) "></div> -->

                     
                      
                    <div class="progress-bar cursor" matTooltip="View Patient Dataset"  (click)="GetListForMeasure(item.masterMeasureId,0)"></div>
                  </div>
                </td>

                <!-- //<tr  id="firstrow" class="staticHeader{{i+1}}"  (click)="ActiveRow($event)"> -->
                    <td id="firstrow" class="staticHeader{{i+1}} blk-stc-head" >
               
                    <table class="met-wrap" style="width:100%;">
                        <tr>
                          <td width="20" align="right" class="stc-wdth60">{{item.met | number:'1.2-2'}} %</td>
                          <td align="right" *ngIf="item.met> item.associationGoal">
                            <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                              <defs>
                                <style>
                                  .cls-1 {
                                    fill: #63c74a;
                                    stroke: #63c74a;
                                  }
                                </style>
                              </defs>
                              <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"
                              />
                            </svg>
                          </td>
                          <td align="right" *ngIf="item.met<= item.associationGoal">
                            <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                              <defs>
                                <style>
                                  .cls-2 {
                                    fill: #f05353;
                                    stroke: #f05353;
                                  }
                                </style>
                              </defs>
                              <path data-name="Path 377" class="cls-2" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(12.151 18.5) rotate(180)"
                              />
                            </svg>
                          </td>
                        </tr>
                      </table>
                <!-- <table class="met-wrap" style="width:100%;">
                <tr>
                <td width="20" align="right">{{Result | number:'1.1-2'}}  %</td>
                <td align="right" *ngIf="Result> associationGoal.goal">
                  <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                  <defs>
                  <style>
                  .cls-1 {
                  fill: #63c74a;
                  stroke: #63c74a;
                  }
                  </style>
                  </defs>
                  <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                  </svg>
                  </td>
                  <td align="right" *ngIf="Result<= associationGoal.goal">
                    <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                    <defs>
                    <style>
                    .cls-2 {
                    fill: #f05353;
                    stroke: #f05353;
                    }
                    </style>
                    </defs>
                    <path data-name="Path 377" class="cls-2" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(12.151 18.5) rotate(180)"/>
                    </svg>
                    </td>
                </tr>
                </table> -->
                </td>

                <td *ngIf="AssGoal" class="border-left AssGoalId text-right">{{item.associationGoal>0 ? (item.associationGoal | number:'1.2-2') : 'NA'}} <span *ngIf="item.associationGoal>0">%</span>   </td>
          <td *ngIf="AssGoal" class="AssGoalId" width="85" align="right">{{item.assPatientNeeded}}</td>
          
          <td *ngIf="CopGoal"  class="border-left CopGoalId text-right">{{item.corporateGoal>0 ? (item.corporateGoal | number:'1.2-2') : 'NA'}} <span *ngIf="item.corporateGoal>0">%</span></td>
          
          <!-- {{item.associationGoal>0 ? (item.associationGoal | number:'1.2-2' +'%') : 'NA'}} -->
          <td *ngIf="CopGoal" class="CopGoalId" width="85" align="right">{{item.coPatientNeeded}}</td>

          <td *ngIf="ProGoal" class="border-left ProGoalId  text-right">{{item.providerGoal>0 ? (item.providerGoal | number:'1.2-2') : 'NA'}} <span *ngIf="item.providerGoal>0">%</span></td>
          <td *ngIf="ProGoal" class="ProGoalId" width="85" align="right">{{item.proPatientNeeded}}</td>



          <td *ngIf="ClinicGoal" class="border-left ClinicGoalId text-right">{{item.clinicGoal>0 ? (item.clinicGoal | number:'1.2-2') : 'NA'}} <span *ngIf="item.clinicGoal>0">%</span></td> 
          <td *ngIf="ClinicGoal" class="ClinicGoalId" align="right">{{item.clinicPatientNeeded}}</td>

          <td *ngIf="PayGoal" class="border-left PayGoalId  text-right">{{item.payerGoal>0 ? (item.payerGoal | number:'1.2-2') : 'NA'}} <span *ngIf="item.payerGoal>0">%</span></td>
          <td *ngIf="PayGoal" class="PayGoalId" align="right">{{item.payPatientNeeded}}</td>

                <!-- <td *ngIf="AssGoal" class="border-left AssGoalId text-right">{{item.associationGoal | number:'1.2-2'}}%</td>
                <td *ngIf="AssGoal" class="AssGoalId" width="85" align="right">{{item.assPatientNeeded}}</td>
                <td *ngIf="CopGoal" class="border-left CopGoalId text-right">{{item.corporateGoal | number:'1.2-2'}}%</td>
                <td *ngIf="CopGoal" class="CopGoalId" width="85" align="right">{{item.coPatientNeeded}}</td>
      
                <td *ngIf="ProGoal" class="border-left ProGoalId text-right">{{item.providerGoal | number:'1.2-2'}}%</td>
                <td *ngIf="ProGoal" class="ProGoalId" width="85" align="right">{{item.proPatientNeeded}}</td>
                <td *ngIf="ClinicGoal" class="border-left ClinicGoalId text-right">{{item.clinicGoal | number:'1.2-2'}}%</td>
                <td *ngIf="ClinicGoal" class="ClinicGoalId" align="right">{{item.clinicPatientNeeded}}</td>
                <td *ngIf="PayGoal" class="border-left PayGoalId text-right">{{item.payerGoal | number:'1.2-2'}}%</td>
                <td *ngIf="PayGoal" class="PayGoalId" align="right">{{item.payPatientNeeded}}</td> -->
                <!-- <td *ngIf="AssGoal" class="border-left">{{associationGoal.goal | number:'2.2-2'}}%</td>
                <td *ngIf="AssGoal" align="right">{{AssPatientNeeded}}</td>
                <td *ngIf="CopGoal" class="border-left">{{corporateGoal.goal  | number:'2.2-2'}}%</td>
                <td *ngIf="CopGoal" align="right">{{CoPatientNeeded}}</td>
                 <td *ngIf="OrgGoal" class="border-left">60.5%</td>
                <td *ngIf="OrgGoal" >NA</td> 
                <td *ngIf="ProGoal" class="border-left">{{providerGoal.goal  | number:'2.2-2'}}%</td>
                <td *ngIf="ProGoal" align="right">{{ProPatientNeeded}}</td>
                <td  *ngIf="ClinicGoal" class="border-left">{{clinicGoal.goal  | number:'2.2-2'}}%</td>
                <td  *ngIf="ClinicGoal" align="right">{{ClinicPatientNeeded}}</td>
                <td *ngIf="PayGoal" class="border-left">{{payerGoal.goal  | number:'2.2-2'}}%</td>
                <td *ngIf="PayGoal" align="right">{{PayPatientNeeded}}</td> -->
                <!-- </tr> -->
                <!-- <tr class="cursor" id="COCRow" (click)="ActiveRow($event)">
                <td>Colorectal Cancer(CC)</td>
                <td>
                  <div class="progress progress-hedis">
                    <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> -->
                    <!-- <div class="progress-bar cursor"  [popover]="COLpopTemplate" popoverTitle="Performance- Current VS Prior"  triggers="mouseenter:mouseleave" id="COLProgressBar"  
                    (mouseenter) ="ShowBarColor('true',2) "  (mouseleave) ="ShowBarColor('false',2) "
                    ></div> -->
                    <!--(click)="GetListForMeasureCOL(1)"-->
                    <!-- <div class="progress-bar cursor"></div> -->
                    <!--(click)="GetListForMeasureCOL(0)"-->
                    <!-- </div>
  
                </td>
                <td>
                <table class="met-wrap" style="width:100%;">
                <tr>
                  <td width="20" align="right">{{Result_COL | number:'1.1-2'}}  %</td>
                  <td align="right" *ngIf="Result_COL> associationGoal.goal">
                  <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                  <defs>
                  <style> -->
                  <!-- .cls-1 {
                  fill: #63c74a;
                  stroke: #63c74a;
                  }
                  </style>
                  </defs>
                  <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                  </svg>
                  </td>
                  <td align="right" *ngIf="Result_COL<= associationGoal.goal">
                    <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                    <defs>
                    <style>
                    .cls-2 { -->
                    <!-- fill: #f05353;
                    stroke: #f05353;
                    }
                    </style>
                    </defs>
                    <path data-name="Path 377" class="cls-2" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(12.151 18.5) rotate(180)"/>
                    </svg>
                    </td> -->
                <!-- </tr>
                </table> 
                </td>
                <td *ngIf="AssGoal" class="border-left">60.50%</td>
                <td *ngIf="AssGoal" align="right">NA</td>
                <td *ngIf="CopGoal" class="border-left">60.50%</td>
                <td *ngIf="CopGoal" align="right">NA</td>
                <!-- <td *ngIf="OrgGoal" class="border-left">60.5%</td>
                <td *ngIf="OrgGoal">NA</td> 
                <td *ngIf="ProGoal"class="border-left">60.50%</td>
                <td *ngIf="ProGoal" align="right">NA</td>
                <td *ngIf="ClinicGoal" class="border-left">60.50%</td>
                <td *ngIf="ClinicGoal" align="right">NA</td>
                <td *ngIf="PayGoal" class="border-left">60.50%</td>
                <td *ngIf="PayGoal" align="right">NA</td>
                </tr> 
               
                    <tr class="cursor" id="BCSRow" (click)="ActiveRow($event)">
                  <td>Breast Cancer(BC)</td>
                  <td>
                  
                  <div class="progress progress-hedis">
                    
                    <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> -
                    <div class="progress-bar cursor"  [popover]="BCSpopTemplate" popoverTitle="Performance- Current VS Prior"  triggers="mouseenter:mouseleave" id="BCSProgressBar" 
                    (mouseenter) ="ShowBarColor('true',3) "  (mouseleave) ="ShowBarColor('false',3) "
                    ></div>
                    <div class="progress-bar cursor" ></div>
                    </div>
                  </td>
                  <td>
                 
                    <table class="met-wrap" style="width:100%;">
                      <tr>
                        <td width="20" align="right">{{Result_BCS | number:'2.2-2'}}  %</td>
                        <td align="right" *ngIf="Result_BCS> associationGoal.goal">
                        <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg>
                        </td>
                        <td align="right" *ngIf="Result_BCS<= associationGoal.goal">
                          <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                          <defs>
                          <style>
                          .cls-2 {
                          fill: #f05353;
                          stroke: #f05353;
                          }
                          </style>
                          </defs>
                          <path data-name="Path 377" class="cls-2" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(12.151 18.5) rotate(180)"/>
                          </svg>
                          </td>
                        </tr>
                    </table> 
                  </td>
                  <td *ngIf="AssGoal"  class="border-left">60.50%</td>
                  <td *ngIf="AssGoal" align="right">NA</td>
                  <td *ngIf="CopGoal"class="border-left">60.50%</td>
                  <td *ngIf="CopGoal" align="right">NA</td>
                
                  <td *ngIf="ProGoal" class="border-left">60.50%</td>
                  <td *ngIf="ProGoal" align="right">NA</td>
                  <td  *ngIf="ClinicGoal" class="border-left">60.50%</td>
                  <td  *ngIf="ClinicGoal" align="right">NA</td>
                  <td *ngIf="PayGoal" class="border-left">60.50%</td>
                  <td *ngIf="PayGoal" align="right">NA</td>
                  </tr>
  
                <tr id="CCSRow"   class="cursor" (click)="ActiveRow($event)">
                  
                        <td>Cervical Cancer(CC)</td>
                        <td>
                        <div class="progress progress-hedis">
                        - <div class="progress-bar" id="CCSProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(4)"></div> 
                          <div class="progress-bar cursor"  [popover]="CCSpopTemplate" popoverTitle="Performance- Current VS Prior"  triggers="mouseenter:mouseleave" id="CCSProgressBar"
                          (mouseenter) ="ShowBarColor('true',4) "  (mouseleave) ="ShowBarColor('false',4) "
                          ></div>
                          <div class="progress-bar cursor"></div>
                          </div>
                        </td>
                        <td>
                       
                          <table class="met-wrap" style="width:100%;">
                            <tr>
                              <td width="20" align="right">{{Result_CCS | number:'1.1-2'}}  %</td>
                              <td align="right" *ngIf="Result_CCS> associationGoal.goal">
                              <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                              <defs>
                              <style>
                              .cls-1 {
                              fill: #63c74a;
                              stroke: #63c74a;
                              }
                              </style>
                              </defs>
                              <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                              </svg>
                              </td>
                              <td align="right" *ngIf="Result_CCS<= associationGoal.goal">
                                <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                                <defs>
                                <style>
                                .cls-2 {
                                fill: #f05353;
                                stroke: #f05353;
                                }
                                </style>
                                </defs>
                                <path data-name="Path 377" class="cls-2" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(12.151 18.5) rotate(180)"/>
                                </svg>
                                </td>
                              </tr>
                          </table> 
                        </td>
                        <td *ngIf="AssGoal"  class="border-left">60.50%</td>
                        <td *ngIf="AssGoal" align="right">NA</td>
                        <td *ngIf="CopGoal"class="border-left">60.50%</td>
                        <td *ngIf="CopGoal" align="right">NA</td>
                      
                        <td *ngIf="ProGoal" class="border-left">60.50%</td>
                        <td *ngIf="ProGoal" align="right">NA</td>
                        <td  *ngIf="ClinicGoal" class="border-left">60.50%</td>
                        <td  *ngIf="ClinicGoal" align="right">NA</td>
                        <td *ngIf="PayGoal" class="border-left">60.50%</td>
                        <td *ngIf="PayGoal" align="right">NA</td>
               
                </tr>
            
  
                <tr id="CDRow"  class="cursor"  (click)="ActiveRow($event)">
                <td colspan="3"><h4>Cardiovascular Conditions</h4></td>
                <td colspan="2" class="border-left"></td>
                <td colspan="2" class="border-left"></td>
                <!-- <td colspan="2" class="border-left"></td> --
                </tr>
  
                <tr class="cursor" id="CBPRow" (click)="ActiveRow($event)">
                  <td>Controlling High Blood Pres.(CHBP)</td>
                  <td>
                  
                  <div class="progress progress-hedis">
                    
                   <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> 
                    <div class="progress-bar cursor"  [popover]="CBPpopTemplate" popoverTitle="Performance- Current VS Prior"  triggers="mouseenter:mouseleave" id="CBPProgressBar" 
                    (mouseenter) ="ShowBarColor('true',5) "  (mouseleave) ="ShowBarColor('false',5) "
                    ></div>
                    <div class="progress-bar cursor" ></div>
                    </div>
                  </td>
                  <td>
                 
                    <table class="met-wrap" style="width:100%;">
                      <tr>
                        <td width="20" align="right">{{Result_CBP | number:'2.2-2'}}  %</td>
                        <td align="right" *ngIf="Result_CBP> associationGoal.goal">
                        <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg>
                        </td>
                        <td align="right" *ngIf="Result_CBP<= associationGoal.goal">
                          <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                          <defs>
                          <style>
                          .cls-2 {
                          fill: #f05353;
                          stroke: #f05353;
                          }
                          </style>
                          </defs>
                          <path data-name="Path 377" class="cls-2" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(12.151 18.5) rotate(180)"/>
                          </svg>
                          </td>
                        </tr>
                    </table> 
                  </td>
                  <td *ngIf="AssGoal"  class="border-left">60.50%</td>
                  <td *ngIf="AssGoal" align="right">NA</td>
                  <td *ngIf="CopGoal"class="border-left">60.50%</td>
                  <td *ngIf="CopGoal" align="right">NA</td>
                
                  <td *ngIf="ProGoal" class="border-left">60.50%</td>
                  <td *ngIf="ProGoal" align="right">NA</td>
                  <td  *ngIf="ClinicGoal" class="border-left">60.50%</td>
                  <td  *ngIf="ClinicGoal" align="right">NA</td>
                  <td *ngIf="PayGoal" class="border-left">60.50%</td>
                  <td *ngIf="PayGoal" align="right">NA</td>-->
                  </tr>            
  
                </tbody>
                </table>
                </div>
                </div>
  </div>
  </div>
              <div *ngIf="showfilter=='true'"> 
                <app-filter (messageEvent)="receiveMessage($event)"></app-filter>
              </div>
              <sh-context-menu #menu>
                <ng-template shContextMenuItem let-data >
                  <div>
                    <ol>
                      <!-- <li (click)="AddNewColumn(Selectedcolumn,templateAddColumn)">Add New Column</li> -->
                      <li (click)="RemoveCurrentColumn(Selectedcolumn,templatedelete)">Remove Current Column</li>
                      <li (click)="SetPerformanceBaseLine(Selectedcolumn)">Set as Performance Baseline</li>
                      </ol>
                 
                  </div>
                </ng-template>
              </sh-context-menu>
       
  
  
        <ng-template #templateAddColumn class="modal-sz">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Add a New Column</h4>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="modalRef.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="auth-wrap-background">
              <div class="auth-center">
                <div class="auth-blur auth-size">
                  <div class="auth-wrap-background"></div>
                </div>
              </div>
              <div class="auth-center">
                <div class="auth__inner auth-size">
                  <!-- <img src="../assets/img/Logo.png" class="logo"> -->
                  <div class="">
                    <div class="auth__form auth__inner__section">
                      <div class="form">
                      
  
                        <div class="row">
                          <div class="col-sm-12">
  
                              <div class="col-sm-6 sidebar_div">
                                  <mat-form-field class="example-full-width">
                                      <mat-select
                                        placeholder="CompareTo"
                                        name="Type"
                                    
                                      >
                                        <mat-option (click)="getSelectedComparingObject(compare.Id)"
                                          *ngFor="
                                            let compare of compareToObject
                                          "
                                    
                                          [value]="compare.Id"
                                        >
                                          {{ compare.Name }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                              </div>
                              <div class="col-sm-6 sidebar_div" *ngIf="SelectedComparableItem==2">
                                  <mat-form-field class="example-full-width">
                                      <mat-select
                                        placeholder="Organization"
                                        name="Type"
                                        (selectionChange)="getOrganizationSelected($event.value)"
                                        aria-describedby="emailHelp"
                                      >
                                        <mat-option
                                          *ngFor="
                                            let organization of OrganizationList
                                          "
                                          
                                          [value]="organization.id"
                                        >
                                          {{ organization.name }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
  
  
                              </div>
                              <!-- <div *ngIf="SelectedComparableItem==3">
                                  On hold
                               </div> -->
                              <div *ngIf="SelectedComparableItem==4">
                                 <!-- payer -->
                              </div>
                              <div *ngIf="SelectedComparableItem==5">
                                  <!-- Provider -->
                              </div>
                          </div>
                       
                        </div>
  
  
                      </div>
      
                      <div class="pull-right">
                        <button
                          class="submit mat-btn cursor"
                          (click)="ShowSelectedGoal(SelectedComparableItem)"
                          mat-button
                        >
                          Show
                        </button>
                        <button
                          class="submit mat-btn cursor"
                          (click)="modalRef.hide()"
                          mat-button
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
  
        <!-- <ng-template #popTemplate> 
            <div class="row">
                <div class="col-sm-12">
                  <small>Current ( <span class="text-success">{{this.POPResult | number:'2.1-2'}}%</span> Increase)</small>
                  <div class="row">
                    <div class="col-sm-9">
                     
        
                      <div class="progress progress-hedis">
                        <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> 
                        <div class="progress-bar cursor"  id="ABA1"  ></div>
                        <div class="progress-bar cursor" ></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                      <small style="position:relative;top:-5px;">{{this.POPNumerator}}
                          <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                            <defs>
                            <style>
                            .cls-1 {
                            fill: #63c74a;
                            stroke: #63c74a;
                            }
                            </style>
                            </defs>
                            <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                            </svg>
                      </small>
                    </div>
                  </div>
                  <small>Prior</small>
                  <div class="row">
                    <div class="col-sm-9">
                      <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width:0%;position:static;"></div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <small style="position:relative;top:-5px;">0
                          <!-- <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                            <defs>
                            <style>
                            .cls-1 {
                            fill: #63c74a;
                            stroke: #63c74a;
                            }
                            </style>
                            </defs>
                            <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                            </svg> -->
                      <!-- </small>
                    </div>
                  </div>
                </div>
              </div> 
        
        
        </ng-template>
         -->


         <ng-template #popTemplate>
          <div class="row">
            <div class="col-sm-12">
              <small>Current (
                <span class="text-success">{{this.POPResult| number:'1.2-2'}}%</span> {{this.range}})</small>
              <div class="row">
                <div class="col-sm-9">
        
        
                  <div class="progress progress-hedis">
                    <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> -->
                    <div class="progress-bar cursor" id="ABA1"></div>
                    <div class="progress-bar cursor"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">{{this.POPNumerator}}
                    <span align="right" *ngIf="this.POPResult1 >0">
                    <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                      <defs>
                        <style>
                          .cls-1 {
                            fill: #63c74a;
                            stroke: #63c74a;
                          }
                        </style>
                      </defs>
                      <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"
                      />
                    </svg>
                  </span>
                   <span align="right" *ngIf="this.POPResult1<0">
                          <svg class="p-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                            <defs>
                              <style>
                                .cls-2 {
                                  fill: #f05353;
                                  stroke: #f05353;
                                }
                              </style>
                            </defs>
                            <path data-name="Path 377" class="cls-2" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(12.151 18.5) rotate(180)"
                            />
                          </svg>
                        </span>
                  </small>
                </div>
              </div>
              <small>Prior</small>
              <div class="row">
                <div class="col-sm-9">
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width:0%;position:static;"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">0
                    <!-- <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                            <defs>
                            <style>
                            .cls-1 {
                            fill: #63c74a;
                            stroke: #63c74a;
                            }
                            </style>
                            </defs>
                            <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                            </svg> -->
                  </small>
                </div>
              </div>
            </div>
          </div>
        
        
        </ng-template>

        <ng-template #templatedelete class="modal-sz">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Delete Goal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="auth-wrap-background">
              <div class="auth-center">
                <div class="auth-blur auth-size">
                  <div class="auth-wrap-background"></div>
                </div>
              </div>
              <div class="auth-center">
                <div class="auth__inner auth-size">
                  <!-- <img src="../assets/img/Logo.png" class="logo"> -->
                  <div class="">
                    <div class="auth__form auth__inner__section">
                      <div class="form">
                        <span>
                          Are you sure you want to remove this goal ?
                        </span>
                      </div>
        
                      <div class="pull-right">
                        <button class="submit mat-btn cursor" (click)="deleteSeletedItem()" mat-button>
                          Yes
                        </button>
                        <button class="submit mat-btn cursor" (click)="modalRef.hide()" mat-button>
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      
      <!-- <ng-template #templatedelete class="modal-sz">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Delete Goal</h4>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="modalRef.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="auth-wrap-background">
              <div class="auth-center">
                <div class="auth-blur auth-size">
                  <div class="auth-wrap-background"></div>
                </div>
              </div>
              <div class="auth-center">
                <div class="auth__inner auth-size">
                  <!-- <img src="../assets/img/Logo.png" class="logo"> 
                  <div class="">
                    <div class="auth__form auth__inner__section">
                      <div class="form">
                        <span>
                          Are you sure you want to remove this goal ?
                        </span>
                      </div>
      
                      <div class="pull-right">
                        <button
                          class="submit mat-btn cursor"
                          (click)="deleteSeletedItem()"
                          mat-button
                        >
                          Yes
                        </button>
                        <button
                          class="submit mat-btn cursor"
                          (click)="modalRef.hide()"
                          mat-button
                        >
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template> -->
  
        <ng-template #COLpopTemplate> 
          <div class="row">
              <div class="col-sm-12">
                <small>Current ( <span class="text-success">{{this.Result_COL | number:'1.2-2'}}%</span> Increase)</small>
                <div class="row">
                  <div class="col-sm-9">
                   
                      <!-- <div class="progress-bar progress-bar-warning" role="progressbar" style="width:14%;position:static;"></div> -->
                      <div class="progress progress-hedis">
                        <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> -->
                        <div class="progress-bar cursor"  id="COLPopProgressBar"  ></div>
                        <div class="progress-bar cursor" ></div>
                        </div>
                 
                   
                  </div>
                  <div class="col-sm-3">
                    <small style="position:relative;top:-5px;">{{this.Numerator_COL}}
                        <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                          <defs>
                          <style>
                          .cls-1 {
                          fill: #63c74a;
                          stroke: #63c74a;
                          }
                          </style>
                          </defs>
                          <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                          </svg>
                    </small>
                  </div>
                </div>
                <small>Prior</small>
                <div class="row">
                  <div class="col-sm-9">
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" style="width:0%;position:static;"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <small style="position:relative;top:-5px;">0
                        <!-- <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                          <defs>
                          <style>
                          .cls-1 {
                          fill: #63c74a;
                          stroke: #63c74a;
                          }
                          </style>
                          </defs>
                          <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                          </svg> -->
                    </small>
                  </div>
                </div>
              </div>
            </div>
      
      
      </ng-template>
  
      <ng-template #BCSpopTemplate> 
        <div class="row">
            <div class="col-sm-12">
              <small>Current ( <span class="text-success">{{this.Result_BCS | number:'1.2-2'}}%</span> Increase)</small>
              <div class="row">
                <div class="col-sm-9">
                 
                    <!-- <div class="progress-bar progress-bar-warning" role="progressbar" style="width:14%;position:static;"></div> -->
                    <div class="progress progress-hedis">
                      <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> -->
                      <div class="progress-bar cursor"  id="BCSPopProgressBar"  ></div>
                      <div class="progress-bar cursor" ></div>
                      </div>
               
                 
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">{{this.Numerator_BCS}}
                      <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg>
                  </small>
                </div>
              </div>
              <small>Prior</small>
              <div class="row">
                <div class="col-sm-9">
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width:0%;position:static;"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">0
                      <!-- <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg> -->
                  </small>
                </div>
              </div>
            </div>
          </div>
    
    
    </ng-template>
  
    <ng-template #CCSpopTemplate> 
  
        <div class="row">
            <div class="col-sm-12">
              <small>Current ( <span class="text-success">{{this.Result_CCS | number:'1.2-2'}}%</span> Increase)</small>
              <div class="row">
                <div class="col-sm-9">
                 
                    <!-- <div class="progress-bar progress-bar-warning" role="progressbar" style="width:14%;position:static;"></div> -->
                    <div class="progress progress-hedis">
                      <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> -->
                      <div class="progress-bar cursor"  id="CCSPopProgressBar"  ></div>
                      <div class="progress-bar cursor" ></div>
                      </div>
               
                 
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">{{this.Numerator_CCS}}
                      <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg>
                  </small>
                </div>
              </div>
              <small>Prior</small>
              <div class="row">
                <div class="col-sm-9">
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width:0%;position:static;"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">0
                      <!-- <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg> -->
                  </small>
                </div>
              </div>
            </div>
          </div>
    
    
      
      </ng-template>
  
      <ng-template #CBPpopTemplate> 
  
        <div class="row">
            <div class="col-sm-12">
              <small>Current ( <span class="text-success">{{this.Result_CBP | number:'1.2-2'}}%</span> Increase)</small>
              <div class="row">
                <div class="col-sm-9">
                 
                    <!-- <div class="progress-bar progress-bar-warning" role="progressbar" style="width:14%;position:static;"></div> -->
                    <div class="progress progress-hedis">
                      <!-- <div class="progress-bar" id="AbaProgressBar" [routerLink]="['/Admin/patientList']" [queryParams]="{id:1}" style="width:70%" (click)="GetListForMeasure(1)"></div> -->
                      <div class="progress-bar cursor"  id="CBPPopProgressBar"  ></div>
                      <div class="progress-bar cursor" ></div>
                      </div>
               
                 
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">{{this.Numerator_CBP}}
                      <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg>
                  </small>
                </div>
              </div>
              <small>Prior</small>
              <div class="row">
                <div class="col-sm-9">
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width:0%;position:static;"></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <small style="position:relative;top:-5px;">0
                      <!-- <svg class="p-arrow float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.858 19.208">
                        <defs>
                        <style>
                        .cls-1 {
                        fill: #63c74a;
                        stroke: #63c74a;
                        }
                        </style>
                        </defs>
                        <path data-name="Path 429" class="cls-1" d="M11.445,5.73,5.73,0,0,5.73l.654.654L5.263,1.791V18H6.2V1.791l4.593,4.593Z" transform="translate(0.707 0.708)"/>
                        </svg> -->
                  </small>
                </div>
              </div>
            </div>
          </div>
    
    
      
      </ng-template>
  
      
