.table-summary .summary-head th { background-color:#ffffff;color:#676974;font-size:14px;font-weight:500;}
.table-summary .summary-head th strong { font-weight:bold;}
.table-summary table { border:1px solid #dfdfdf;}
.table-summary th { vertical-align:top;padding:10px 14px; background-color:#676767;
/*background-color:#f6f7fb;*/
}
.table-summary h3 { text-transform:uppercase;font-size:11px;font-weight:bold; color:#eee;
/*color:#a3a6af;*/
margin-bottom:0;}
.table-summary h4 { font-size:16px;color:#5f7bd7;}
.table-summary .b-mark { white-space:nowrap;}
.table-summary td { padding:10px 14px;background-color:#ffffff;font-size:11px;white-space:nowrap;font-weight:600;color:#7F818C;}
.clear-filter-wrap { margin-bottom:15px;}
.table-summary .border-left { border-left:1px solid #efefef;}
.ma-wrap h3 { font-size:16px;color:rgba(84,84,84,0.50);font-weight:400;}
.ma-wrap p { font-size:14px;font-weight:400;}
.ma-wrap .txt-hedis { font-size:22px;text-transform:uppercase;font-weight:500;color:#545454;}
.graph-wrap { display:block;margin-bottom:25px;}
.graph-wrap canvas { height:375px !important;}
.setting-icon-wrap { display:inline-block;margin-left:5px;}
.table-summary td .met-wrap { border:none;}
.table-summary td .met-wrap td { padding:0 2px;}
.table-summary td .met-wrap td .p-arrow { width:10px;}
:host /deep/ .progress-hedis popover-container { margin-top:-10px;width:300px;}
:host /deep/ .progress-hedis popover-container .btn { padding:10px;font-size:12px;}.setting-icon-wrap { display:inline-block;margin-left:5px;}
.progress-hedis { position:relative;overflow:visible;}
.progress-hedis .progress-bar:first-child { position:relative;z-index:2;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.progress-hedis .progress-bar:last-child { position:absolute;z-index:1;left:0;top:0;bottom:0;width:100%;background-color:rgb(233, 236, 239);}
.table-summary .border-left { border-left:1px solid #efefef;}
.p-arrow { width:10px;}
.table-summary td .met-wrap td { padding:0 2px;}
.selected-row {
    border: 1px solid #02a7fa;
}

.selected-row td {
        background-color: rgba(2, 167, 250, 0.01);
}
.table-responsive.table-summary { margin-top:30px;}
:host /deep/ .chartjs-render-monitor { height:425px !important;}
.cg-item { display:inline-block;border:1px solid #e1e1e1;padding:5px 8px;border-radius:20px;font-size:11px;margin-right:10PX;}
.cg-item:before { content:'';width:16px;height:7px;border-radius:15px;background-color:#35cc6d;display:inline-block;margin-right:5px;}
.cg-item-rangefirst:before { background-color:#FFC300;}
.cg-item-rangesecond:before { background-color:#008000;}
.cg-item-rangethird:before { background-color:#8b0000;}
.cg-item-rangefinal:before { background-color:#6495ED;}
.msl-cnt-wrap { position:relative;}
.msl-cnt-wrap .clear-filter-wrap { position:absolute;right:0;top:-10px;}

.clr-flt-ovt .cg-item{background:#fff; margin-top:9px; vertical-align:top;}
.clr-flt-ovt {margin-bottom: 5px;margin-top: -28px;}
.linkviewmore{ font-size:13px; text-decoration: underline;}
.blk-chrt-link{ position: relative; padding-right:20px;}
.bar-chrt-lnk{ position: absolute; right:0px; top:0px;}
.clr-flt-btn-ovt{ margin-top:0px;}
.clr-flt-btn-ovt .btn{ margin-top:0px;}
.table-summary .b-mark.lst-bk-rw > span{ width:20%; margin-right:0px !important; text-align:left !important;}
.scroll-bottom-sp{ padding-bottom:10px;}

.desc-blk-dash{ height:42px; margin-bottom:0px; overflow: hidden;}
.inner-wrap{ background: #fff; padding: 15px; margin-top:15px;}
.table-summary .bmrk-prcnt-bx.b-mark.lst-bk-rw > span.lst-spn-bmrk{ width:auto !important; margin-right:-100px !important;}

.prgrs-comn{position: absolute !important; height: 100%;}
.prgrs-index1{ z-index: 2 !important;}
.prgrs-index2{ z-index: 3 !important;}