<style>
  .marginclass {
    margin-bottom: 10px;
    margin-top: 10px;
  }
</style>
<div class="head-title">
  <div class="row">
    <div class="col-sm-8">
      <h2>{{HeadingName}}</h2>
    </div>
    <!-- <div class="col-sm-4 text-right">
      <div class="slct-al-bk">
        <mat-select placeholder="Select" title="Select Organization">
          <mat-option *ngFor="let organization of OrganizationDropDown" [value]="organization.id" (click)="GetGoal(organization.id)">
            {{organization.name}}
          </mat-option>
        </mat-select>
      </div>
    </div> -->
  </div>
</div>
<!-- <form [formGroup]="goalForm" id="form" style="visibility: hidden;" (ngSubmit)="goalForm.valid && onGoalFormSubmit(goalForm.value)">
  <div class="inner-wrap org-set inner-wrap-ovt btn-bk-ps">
    <div class="table-ui org-st-tblui" style="padding-bottom:1px;">
      <div class="da-content prvd-ovt-ui">
        <div class="row">
          <div class="col-sm-8">
            <h4 class="org-head-in">Adult BMI Assesment</h4>
          </div>
        </div>
        <div class="row marginclass">
          <div class="col-md-2 col-sm-4 col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="ABAassociationgoal" maxlength="2" matInput #ABAassociationgoal OnlyNumber="true"
                placeholder="Association Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="ABAclinicgoal" maxlength="2" matInput #ABAclinicgoal OnlyNumber="true"
                placeholder="Clinic Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="ABAcorporategoal" maxlength="2" matInput #ABAcorporategoal OnlyNumber="true"
                placeholder="Corporate Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="ABApayergoal" maxlength="2" matInput #ABApayergoal OnlyNumber="true"
                placeholder="Payer Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="ABAprovidergoal" maxlength="2" matInput #ABAprovidergoal OnlyNumber="true"
                placeholder="Provider Goal" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="org-head-in">Colorectal Cancer</h4>
          </div>
        </div>
        <div class="row marginclass">
          <div class="col-md-2 col-sm-4 col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCassociationgoal" maxlength="2" matInput #CCassociationgoal OnlyNumber="true"
                placeholder="Association Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCclinicgoal" maxlength="2" matInput #CCclinicgoal OnlyNumber="true"
                placeholder="Clinic Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCcorporategoal" maxlength="2" matInput #CCcorporategoal OnlyNumber="true"
                placeholder="Corporate Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCpayergoal" maxlength="2" matInput #CCpayergoal OnlyNumber="true"
                placeholder="Payer Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCprovidergoal" maxlength="2" matInput #CCprovidergoal OnlyNumber="true"
                placeholder="Provider Goal" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="org-head-in">Breast Cancer</h4>
          </div>
        </div>
        <div class="row marginclass">
          <div class="col-md-2 col-sm-4 col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="BCSassociationgoal" maxlength="2" matInput #BCSassociationgoal OnlyNumber="true"
                placeholder="Association Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="BCSclinicgoal" maxlength="2" matInput #BCSclinicgoal OnlyNumber="true"
                placeholder="Clinic Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="BCScorporategoal" maxlength="2" matInput #BCScorporategoal OnlyNumber="true"
                placeholder="Corporate Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="BCSpayergoal" maxlength="2" matInput #BCSpayergoal OnlyNumber="true"
                placeholder="Payer Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="BCSprovidergoal" maxlength="2" matInput #BCSprovidergoal OnlyNumber="true"
                placeholder="Provider Goal" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="org-head-in">Cervical Cancer</h4>
          </div>
        </div>
        <div class="row marginclass">
          <div class="col-md-2 col-sm-4 col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCSassociationgoal" maxlength="2" matInput #CCSassociationgoal OnlyNumber="true"
                placeholder="Association Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCSclinicgoal" maxlength="2" matInput #CCSclinicgoal OnlyNumber="true"
                placeholder="Clinic Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCScorporategoal" maxlength="2" matInput #CCScorporategoal OnlyNumber="true"
                placeholder="Corporate Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCSpayergoal" maxlength="2" matInput #CCSpayergoal OnlyNumber="true"
                placeholder="Payer Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CCSprovidergoal" maxlength="2" matInput #CCSprovidergoal OnlyNumber="true"
                placeholder="Provider Goal" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="org-head-in">Controlling High Blood Pressure</h4>
          </div>
        </div>
        <div class="row marginclass">
          <div class="col-md-2 col-sm-4 col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CHBPassociationgoal" maxlength="2" matInput #CHBPassociationgoal OnlyNumber="true"
                placeholder="Association Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CHBPclinicgoal" maxlength="2" matInput #CHBPclinicgoal OnlyNumber="true"
                placeholder="Clinic Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CHBPcorporategoal" maxlength="2" matInput #CHBPcorporategoal OnlyNumber="true"
                placeholder="Corporate Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CHBPpayergoal" maxlength="2" matInput #CHBPpayergoal OnlyNumber="true"
                placeholder="Payer Goal" />
            </mat-form-field>
          </div>
          <div class="col-md-2 col-sm-4  col-6">
            <mat-form-field class="example-full-width">
              <input class="form__input" formControlName="CHBPprovidergoal" maxlength="2" matInput #CHBPprovidergoal OnlyNumber="true"
                placeholder="Provider Goal" />
            </mat-form-field>
          </div>
        </div>
        <div class="text-right sbmt-pp stp-sb-rt">
          <button type="submit" class="submit mat-btn mat-cstm cursor">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form> -->

<!-- <mat-accordion>
  <mat-expansion-panel [expanded]="panelOpenState1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Organization
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <form [formGroup]="goalForm" (ngSubmit)="OnAssociationGoal(goalForm.value)">
        <div class="row marginclass">
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAassociationgoal" maxlength="2" matInput #ABAassociationgoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAclinicgoal" maxlength="2" matInput #ABAclinicgoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABApayergoal" maxlength="2" matInput #ABApayergoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAcorporategoal" maxlength="2" matInput #ABAcorporategoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
          </div>
        <div class="text-right sbmt-pp stp-sb-rt">
            <button type="submit" class="submit mat-btn mat-cstm cursor">Submit</button>
          </div>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Clinic
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="goalForm" (ngSubmit)="OnClinicFormSubmit(goalForm.value,1)">
        <div class="row marginclass">
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAassociationgoal" maxlength="2" matInput #ABAassociationgoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAclinicgoal" maxlength="2" matInput #ABAclinicgoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABApayergoal" maxlength="2" matInput #ABApayergoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAcorporategoal" maxlength="2" matInput #ABAcorporategoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
          </div>
          <div class="text-right sbmt-pp stp-sb-rt">
              <button type="submit" class="submit mat-btn mat-cstm cursor">Submit</button>
            </div>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Clinic
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="goalForm" (ngSubmit)="OnClinicFormSubmit(goalForm.value,2)">
        <div class="row marginclass">
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAassociationgoal" maxlength="2" matInput #ABAassociationgoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAclinicgoal" maxlength="2" matInput #ABAclinicgoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABApayergoal" maxlength="2" matInput #ABApayergoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
              <mat-form-field class="example-full-width">
                <input class="form__input" formControlName="ABAcorporategoal" maxlength="2" matInput #ABAcorporategoal
                  OnlyNumber="true" placeholder="Association Goal" />
              </mat-form-field>
            </div>
          </div>
          <div class="text-right sbmt-pp stp-sb-rt">
              <button type="submit" class="submit mat-btn mat-cstm cursor">Submit</button>
            </div>
    </form>
  </mat-expansion-panel>
</mat-accordion> -->
<div class="inner-wrap" >
  <div class="table-goal-rpt" *ngIf="MainScreenFlag">
    <div class="org-goal-fltr-wrp">
      <div class="org-goal-fltr org-goal-fltrovt">
        <div class="row">
          <div class="add-org-pop">
            <a (click)="fnShowCreateMeasureModal(template1,1)"><i class="fa fa-plus"></i></a>
          </div>
          <div class="col-sm-3">
            <div>
              <div class="slct-al-bk">
                <mat-select placeholder="Select Entity Type" title="Select Organization" [(ngModel)]="SEntityType">
                  <mat-option [value]="0" (click)="getAllSDropDown(0)">
                    All
                  </mat-option>
                  <mat-option *ngFor="let organization of OrganizationDropDown" [value]="organization.id" (click)="getAllSDropDown(organization.id)">
                    {{organization.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div>
              <div class="slct-al-bk">
                <mat-select placeholder="Select Entity" title="Select Organization" [(ngModel)]="SEntityId">
                  <mat-option *ngFor="let organization of OrganizationSDropDown" [value]="organization.id" (click)="getAllEDropDown()">
                    {{organization.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-right">
              <!-- <input class="form__input" placeholder="Search" /> --> 
          </div>
        </div>
        <!-- <div class="fltr-btn-sch">
            <button _ngcontent-c20="" class="mat-btn btn-cstm" type="submit" (click)="SearchData()">Search</button>
          </div> -->
      </div>
    </div>
    <div class="table-responsive table-ux table-overflow-hd" >

        <table class="table">
          <thead>            
            <tr>
              <th width="25%" class="bg-blue">Entity</th>
              <th width="25%">Entity Type</th>
              <th width="25%">Measures</th>
              <th width="25%">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let Org of OrganizationGoals" >
            <tr data="hide">
                <td>
                  <div class="inr-et-rw">
                      <a [ngClass]="Org.clinicGoalModal.length > 0 ?'toggle-row':''" (click)="hideshowheader($event)"><i [ngClass]="Org.clinicGoalModal.length > 0 ? 'fa fa-plus' : ''"></i></a>
                      <b>{{Org.organizationName}}</b>                      
                  </div>
                </td>
                <td>{{Org.organizationTypeName}}</td>
                <td>{{Org.count==0?'Unassigned': Org.count}}</td>
                <td>
                  <div class="action-row">
                      <!-- (click)="fnShowModel(template,Org.organizationId,Org.organizationType,'')" -->
                    <a (click)="Details(Org.organizationId,Org.organizationType)" title="Add/Edit"><i class="fa fa-pencil"></i></a>
                    <a (click)="fnShowCreateMeasureModal(template1,0,Org.organizationId,Org.organizationType,Org.organizationName)"><i class="fa fa-copy"></i></a>
                    <span *ngIf="Org.count>0"><a *ngIf="Org.organizationType!=1" (click)="ShowDeleteAllMeasureTemplate(templateDeleteAll,Org.organizationId,Org.organizationType)"><i class="fa fa-trash"></i></a></span> 
                  </div>
                </td>
            </tr>  
            <tr class="cstmz-gl-rw table-ux-child" *ngFor="let category of Org.clinicGoalModal" style="display:none" >
                <td colspan="4" class="cl-tbl-blx">
                    <table width="100%">
                      <tr data="hide">
                          <td width="25%">                  
                              <div class="inr-et-rw inr-et-chldrw" >
                                  <!-- <a [ngClass]="category.providerModal.length > 0 ? 'toggle-row':''" (click)="hideshow($event)"><i [ngClass]="category.providerModal.length > 0 ? 'fa fa-plus':''"></i></a> -->
                                  <a [ngClass]="category.providerModal==null ? '':(category.providerModal[0]!=null ? 'toggle-row':'')" (click)="hideshow($event)"><i [ngClass]="category.providerModal==null ? '':(category.providerModal[0]!=null ? 'fa fa-plus':'')"></i></a>
                                  <p>{{category.clinicName}}</p>                      
                              </div>
                          </td>
                          <td width="25%">{{category.type}}</td>
                          <td width="25%">{{category.count==0?'Unassigned': category.count}}</td>
                          <td width="25%">
                              <div class="action-child">
                                   <div class="action-row">
                                    <a (click)="Details(category.clinicId,category.typeId)" title="Add/Edit"><i class="fa fa-pencil"></i></a>
                                    <a (click)="fnShowCreateMeasureModal(template1,0,category.clinicId,category.typeId,category.clinicName)"><i class="fa fa-copy"></i></a>
                                   <span *ngIf="category.count>0">
                                      <a  (click)="ShowDeleteAllMeasureTemplate(templateDeleteAll,category.clinicId,category.typeId)"><i class="fa fa-trash"></i></a>
                                   </span>
                                  </div>
                                </div>
                          </td>
                      </tr>
                      <tr *ngFor="let subcategory of category.providerModal" style="display:none">
                          <td colspan="4" class="cl-tbl-blx">
                            <table width="100%">
                                 <tr class="table-ux-subchild">
                                    <td width="25%">                   
                                        <div class="inr-et-rw inr-et-chldrw inr-et-subchldrw">
                                            <p>{{subcategory.providerName}}</p>                      
                                        </div>
                                    </td>
                                    <td width="25%">Provider</td>
                                    <td width="25%">{{subcategory.count==0?'Unassigned': subcategory.count}}</td>
                                    <td width="25%">
                                        <div class="action-sub-child">
                                           <div class="action-row">
                                            <a (click)="Details(subcategory.providerId,7)" title="Add/Edit"><i class="fa fa-pencil"></i></a>
                                            <a (click)="fnShowCreateMeasureModal(template1,0,subcategory.providerId,7,subcategory.providerName)"><i class="fa fa-copy"></i></a>
                                            <span *ngIf="subcategory.count>0">
                                                <a (click)="ShowDeleteAllMeasureTemplate(templateDeleteAll,subcategory.providerId,7)"><i class="fa fa-trash"></i></a>
                                            </span>
                                          </div>
                                          </div>
                                    </td>
                                </tr> 
                               </table>
                          </td>
                      </tr>
                   </table>
                </td>
            </tr> 
          <tbody>
        </table>
      </div>
  </div>

  <div class="table-goal-rpt" *ngIf="DetailScreenFlag" >
    <div class="org-goal-fltr-wrp org-goal-ovt">
        <div class="org-goal-bk">
        <button class="mat-btn mat-reset" mat-raised-button (click)="BackToMainList()"><i class="fa fa-angle-left"></i> Back</button>
        </div> 
      <div class="org-goal-fltr org-goal-fltrovt">
        <div class="row">
          <div class="add-org-pop">
            <a (click)="EditCreateMeasure(template3,0,0)"><i class="fa fa-plus"></i></a>
          </div>
          <!-- <div>
              <a (click)="BackToMainList()"><i class="fa fa-pencil"></i></a>
          </div> -->
          <div class="col-sm-8 ">
              <input class="form__input max-input-sz" matInput placeholder="Search" (input)="getSearchedData()" [(ngModel)]="search">
              <!-- <input class="form__input" placeholder="Search" [(ngModel)]="search" /> -->
          </div>
        </div>
        <!-- <div class="fltr-btn-sch">
          <button _ngcontent-c20="" class="btn btn-success" type="submit">Search</button>
        </div> -->
      </div>
    </div>
    <div class="table-responsive table-ux table-overflow-hd">

        <table class="table">
          <thead>            
            <tr>
              <th width="40%" class="bg-blue">Measure</th>
              <!-- <th width="25%">Measure Type</th> -->
              <th class="text-right pr-250" width="20%">Goal</th>
              <th width="15%">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let Measure of EntityGoal">
            <tr>
                <td>
                 {{Measure.name}}
                </td>
                <!-- <td>Hedis</td> -->
                <td class="text-right pr-250"> {{Measure.goal | number:'1.2-2'}}%</td>
                <td>
                  <div class="action-row">
                    <a (click)="EditCreateMeasure(template3,Measure.masterGoalId,1)" title="Add/Edit"><i class="fa fa-pencil"></i></a>
                    <a *ngIf="EntityType!=1" (click)="ShowDeleteMeasureTemplate(templateDelete,Measure.masterGoalId)"><i class="fa fa-trash"></i></a>
                  </div>
                </td>
            </tr>
          <tbody>
        </table>
        <div *ngIf="MeasureListFlag" class="text-center">
            <span >No record found</span>
          </div>
      </div>
  </div>

</div>
<!-- <div class="inner-wrap">
    <div class="table-responsive table-ux table-overflow-hd">
        <table class="table">
          <thead>
            <tr>
              <th width="25%" class="bg-blue">Entry</th>
              <th width="25%">Entry Type</th>
              <th width="25%">Measures</th>
              <th width="25%">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let Org of OrganizationGoals">
            <tr data="hide">
                <td>
                  <div class="inr-et-rw">
                      <a class="toggle-row" (click)="hideshowheader($event)"><i class="{{HeaderClass}}"></i></a>
                      <p>{{Org.organizationName}} {{Org.clinicGoalModal.length}}</p>                      
                  </div>
                </td>
                <td>{{Org.organizationTypeName}}</td>
                <td>mob1</td>
                <td>
                  <div class="action-row">
                    <a (click)="fnShowModel(template,Org.organizationId,Org.organizationType,'')" title="Add/Edit"><i class="fa fa-edit"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-copy"></i></a>
                  </div>
                </td>
            </tr>  
            <tr class="cstmz-gl-rw" *ngFor="let category of Org.clinicGoalModal" style="display:none">
                <td colspan="4" class="cl-tbl-blx">
                    <table width="100%">
                      <tr class="table-ux-child" data="hide">
                          <td width="25%">                  
                              <div class="inr-et-rw inr-et-chldrw">
                                  <a class="toggle-row" (click)="hideshow($event)"><i class="fa fa-plus"></i></a>
                                  <p>{{category.clinicName}}</p>                      
                              </div>
                          </td>
                          <td width="25%">{{category.type}}</td>
                          <td width="25%">mob1</td>
                          <td width="25%">
                              <div class="action-child">
                                   <div class="action-row">
                                    <a (click)="fnShowModel(template,category.clinicId,8,category.type)" title="Add/Edit"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:void(0);"><i class="fa fa-copy"></i></a>
                                  </div>
                                </div>
                          </td>
                      </tr>
                      <tr *ngFor="let subcategory of category.providerModal" style="display:none;">
                          <td colspan="4" class="cl-tbl-blx">
                            <table width="100%">
                                 <tr class="table-ux-subchild">
                                    <td width="25%">                   
                                        <div class="inr-et-rw inr-et-chldrw inr-et-subchldrw">
                                            <p>{{subcategory.providerName}}</p>                      
                                        </div>
                                    </td>
                                    <td width="25%">PROVIDER</td>
                                    <td width="25%">mob1</td>
                                    <td width="25%">
                                        <div class="action-sub-child">
                                           <div class="action-row">
                                            <a (click)="fnShowModel(template,subcategory.providerId,9,subcategory.type)" title="Add/Edit"><i class="fa fa-edit"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-copy"></i></a>
                                          </div>
                                          </div>
                                    </td>
                                </tr> 
                             </table>
                          </td>
                      </tr>
                    </table>
                </td>
            </tr> 
          <tbody>
        </table>
      </div>
</div> -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{DataType}} Goals</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="auth-wrap-background">
            <div class="auth-center">
              <div class="auth-blur auth-size">
                <div class="auth-wrap-background"></div>
              </div>
            </div>
            <div class="auth-center">
              <div class="auth__inner auth-size">
                <div *ngIf="Error">
                  <p style="color: red;"><b>Please select atleast one measure for current entity</b></p>
                </div>
                <!-- <img src="../assets/img/Logo.png" class="logo"> -->
                <form [formGroup]="goalForm" id="form" (ngSubmit)="goalForm.valid && onMasterGoalSubmit(goalForm.value)">
                   
                          <!-- <div class="row">
                            <div class="col-sm-8">
                              <h4 class="org-head-in">Adult BMI Assesment</h4>
                            </div>
                          </div> -->
                          <div class="row marginclass">
                            <div class="col-sm-4 col-6" *ngIf="ABAflag">
                              <mat-form-field class="example-full-width">
                                <input class="form__input" formControlName="ABAgoal" [textMask]="{ mask: mask }"  required  matInput #ABAgoal OnlyNumber="true"
                                  placeholder="ABA Goal" />
                              </mat-form-field>
                            </div>
                            <div class="col-sm-4  col-6" *ngIf="CCflag">
                              <mat-form-field class="example-full-width">
                                <input class="form__input" formControlName="CCgoal" [textMask]="{ mask: mask }"  required  matInput #CCgoal OnlyNumber="true"
                                  placeholder="CC Goal" />
                              </mat-form-field>
                            </div>                          
                            <div class="col-sm-4  col-6" *ngIf="BCflag">
                              <mat-form-field class="example-full-width">
                                <input class="form__input" formControlName="BCSgoal" [textMask]="{ mask: mask }" required  matInput #BCSgoal OnlyNumber="true"
                                  placeholder="BCS Goal" />
                              </mat-form-field>
                            </div>
                          </div>
                            <div class="row marginclass">  
                            <div class="col-sm-4  col-6" *ngIf="CCSflag">
                              <mat-form-field class="example-full-width">
                                <input class="form__input" formControlName="CCSgoal" [textMask]="{ mask: mask }" required  matInput #CCSgoal OnlyNumber="true"
                                  placeholder="CCS Goal" />
                              </mat-form-field>
                            </div>
                            <div class="col-sm-4  col-6" *ngIf="CHBPflag">
                              <mat-form-field class="example-full-width">
                                <input class="form__input" formControlName="CHBPgoal" [textMask]="{ mask: mask }" required  matInput #CHBPgoal OnlyNumber="true"
                                  placeholder="CHBP Goal" />
                              </mat-form-field>
                            </div>
                          </div>
                           <div class="text-right sbmt-pp">
                            <button type="submit" *ngIf="ButtonFlag" class="submit mat-btn mat-cstm cursor">Submit</button>
                          </div>
                  </form>
              </div>
            </div>
          </div>
    </div>
  </ng-template>
<!-- <ng-template #template1>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{EditType}} Measure List</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mdl-spcrt">
      <div class="auth-wrap-background">
        <div class="auth-center">
          <div class="auth-blur auth-size">
            <div class="auth-wrap-background"></div>
          </div>
        </div>
        <div class="auth-center">
          <div class="auth__inner auth-size">
            <form [formGroup]="MeasureAddForm" id="form" (ngSubmit)="MeasureAddForm.valid && AddCopyMeasure(MeasureAddForm.value)">
              <div class="row form-group mdl-slct-bd">
              <div class="marginclass col-sm-6">
                <div class="slct-al-bk">
                  <mat-select placeholder="Select Entity Type" title="Select Organization" formControlName="EntityTypeId">
                    <mat-option *ngFor="let organization of OrganizationTypeDropDown" [value]="organization.id" (click)="getAllDropDown(organization.id)">
                      {{organization.name}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="marginclass col-sm-6">
                <div class="slct-al-bk">
                  <mat-select placeholder="Select Entity" title="Select Organization" formControlName="EntityId">
                    <mat-option *ngFor="let organization of OrganizationPDropDown" [value]="organization.id" >
                      {{organization.name}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              </div>
              <div class="text-right sbmt-pp btn-bl-set">
                <button type="submit" class="submit mat-btn mat-cstm cursor">{{MeasureModalFlag}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template> -->
  <ng-template #template1>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{EditType}} Measure List </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mdl-spcrt">
        <div class="auth-wrap-background">
          <div class="auth-center">
            <div class="auth-blur auth-size">
              <div class="auth-wrap-background"></div>
            </div>
          </div>
          <div class="auth-center">
            <div class="auth__inner auth-size org-ms-mdl">
              <form [formGroup]="MeasureAddForm" id="form" (ngSubmit)="MeasureAddForm.valid && AddCopyMeasure(MeasureAddForm.value)">
                <div class="form-group cp-frm-blk" *ngIf="IsCopyFlag">
                    <label>Copy To</label>
                    <p>{{CopyFrom}}</p>
                </div>
                <div class="form-group cp-frm-blk cp-frm-fmgrp" *ngIf="IsCopyFlag">
                    <label>Copy From</label>
                </div>
                <div class="row mdl-slct-bd">
                <div class="marginclass col-sm-12  form-group">
                  <div class="slct-al-bk">
                    <mat-select placeholder="Select Entity Type" title="Select Organization" formControlName="EntityTypeId">
                      <mat-option *ngFor="let organization of OrganizationTypeDropDown" [value]="organization.id" (click)="getAllDropDown(organization.id)">
                        {{organization.name}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="marginclass col-sm-12 form-group">
                  <div class="slct-al-bk">
                    <mat-select placeholder="Select Entity" title="Select Organization" formControlName="EntityId">
                      <mat-option *ngFor="let organization of OrganizationPDropDown" [value]="organization.id" >
                        {{organization.name}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                </div>
                <div class="text-right sbmt-pp btn-bl-set">
                  <button type="submit" class="submit mat-btn mat-cstm cursor">{{MeasureModalFlag}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  <ng-template #template3>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{EditMeasure}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mdl-spcrt">
      <div class="auth-wrap-background">
        <div class="auth-center">
          <div class="auth-blur auth-size">
            <div class="auth-wrap-background"></div>
          </div>
        </div>
        <div class="auth-center">
          <div class="auth__inner auth-size">
            <form [formGroup]="goalForm" id="form" (ngSubmit)="goalForm.valid && onMasterGoalSubmit(goalForm.value)">
              <div class="row form-group mdl-slct-bd">
                <div class="col-sm-12" *ngIf="IsEdit">
                  <div class="slct-al-bk">
                    <mat-select placeholder="Select Measure" title="Select Organization" formControlName="MeasureId">
                      <mat-option *ngFor="let organization of EntityMeasure" [value]="organization.MasterMeasureId">
                        {{organization.Name}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <!--<div class="col-sm-6">
                  <div class="slct-al-bk">
                    <mat-select placeholder="Select" title="Select Organization">
                      <mat-option *ngFor="let organization of OrganizationDropDown" [value]="organization.id" (click)="GetGoal(organization.id)">
                        {{organization.name}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>-->
              </div>
              <div class="row">
                <div class="col-sm-4 text-right" style="margin-top: 8px;">
                    <label>Define Goal</label>
                </div>
                <div class="col-sm-5 incdecqt ind-wd-isc">
                     <mat-form-field class="example-full-width" floatLabel="never">
                      <!-- <span matPrefix><button type="submit" class="submit mat-btn mat-cstm cursor"><span class="fa fa-plus"></span></button></span> -->
                      <input type="tel" formControlName="Goal" validate OnlyNumber="true" required matInput #Goal placeholder="00.00" autocomplete="off" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                      <!-- <input type="tel" formControlName="Goal" mask="000.00" validate OnlyNumber="true" required matInput #Goal placeholder="00.00"> -->
                      <!-- <input type="tel" formControlName="Goal" [textMask]="{ mask: mask }" pattern="/\d/,/\d/,/\d/,'.',/\d/,/\d/" validate OnlyNumber="true" required matInput #Goal placeholder="00.00"> -->
                      <!-- <span matSuffix><button type="submit" class="submit mat-btn mat-cstm cursor"><span class="fa fa-minus"></span></button></span> -->
                    </mat-form-field>
                </div>
                <div class="col-sm-3 text-right sbmt-pp stp-sb-rt" >
                  <div class="btn-bl-set sngl-btn-bl-set">
                    <button type="submit" *ngIf="Goalflag" class="submit mat-btn mat-cstm cursor">Submit</button>
                  </div>
                  </div>
              </div>
              
              <div style="text-align: center">
                  <p *ngIf="GoalMsg" style="color: red;"><b>Reached Max No of Measure</b></p>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #templateDelete>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Measure</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mdl-spcrt">
        <div class="auth-wrap-background">
          <div class="auth-center">
            <div class="auth-blur auth-size">
              <div class="auth-wrap-background"></div>
            </div>
          </div>
          <div class="auth-center">
            <div class="auth__inner auth-size">
              <div class="">
                <div class="auth__form auth__inner__section">
                  <div class="form">
                    <div class="sure-dlt">
                      <div *ngIf="EntityType!=7; else templatename">
                          Are you sure you want to delete the measure & from it's dependent entity ?
                      </div>
                      <ng-template #templatename>
                          Are you sure you want to delete the measure ?
                      </ng-template>
                    </div>
                  </div>
            
                  <div class=" btn-bl-set text-center">
                    <button class="submit mat-btn cursor" (click)="DeleteMeasure()" mat-button>Yes</button>
                    <button class="submit mat-btn cursor" (click)="modalRef.hide()" mat-button>No</button>
            
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #templateDeleteAll>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Delete All Measure</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mdl-spcrt">
          <div class="auth-wrap-background">
            <div class="auth-center">
              <div class="auth-blur auth-size">
                <div class="auth-wrap-background"></div>
              </div>
            </div>
            <div class="auth-center">
              <div class="auth__inner auth-size">
                <div class="">
                  <div class="auth__form auth__inner__section">
                    <div class="form">
                      <div class="sure-dlt">
                        Are you sure you want to delete all measure ?
                      </div>
                    </div>
              
                    <div class=" btn-bl-set text-center">
                      <button class="submit mat-btn cursor" (click)="DeleteAllMeasure()" mat-button>Yes</button>
                      <button class="submit mat-btn cursor" (click)="modalRef.hide()" mat-button>No</button>
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
