.slct-al-bk-ovt{ border-bottom:1px solid #ccc; margin-top:5px;}
.get-rcd-inst{ text-align:center;}
.get-rcd-dt { padding: 10px 35px; border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; background: #fff; border: 1px solid #ccc; display: inline-block; width: 100%; max-width: 400px;}
.get-rcd-dt p{ margin-bottom:0px;}
.inner-wrap{ padding:15px; background:#fff;}
.org-goal-fltrovt{ padding-right:105px;}
.org-goal-fltrovt .mat-btn{ background:#02a7fa; padding:6px 20px; padding-bottom:7px; color:#fff; border:none;} 
.org-goal-fltrovt .fltr-btn-sch{ top:0px;}
.action-row a .fa {
    color: #4D4F5C;
}
.action-sub-child .action-row, .action-child .action-row{ opacity:1;}
.table-ux table.table > thead > tr > th{ padding-left:15px; padding-right:15px;}
.pr-250{padding-right: 250px !important;}