.sm-content-bx .scb-wrap { padding:10px 0;}
.sm-content-bx .scb-wrap .list-group-item { border:none;font-size:13px;padding:0px;margin-bottom:5px;}
.sm-content-bx .scb-wrap .list-group-item:last-child { margin-bottom:0;}
.cg-item { display:inline-block;border:1px solid #e1e1e1;padding:5px 8px;border-radius:20px;font-size:11px;margin-right:10PX;}
.cg-item:before { content:'';width:16px;height:7px;border-radius:15px;background-color:#35cc6d;display:inline-block;margin-right:5px;}
.cg-item-warning:before { background-color:#e6b11d;}
.cg-item-danger:before { background-color:#ef5858;}
.cg-item-success:before { background-color:#35cc6d;}
.head-title h2 { font-size:18px;}

.ccda1
{
/* padding-left:1px;
padding-right:1px; */
margin-left: 180px;
}
.ccda2
{
/* padding-left:1px;
padding-right:1px; */
margin-left: 10px;
margin-right: 30px;
}
.ccda
{
/* padding-left:1px;
padding-right:1px; */
margin-left: 180px;
}
.fiter_sidebar_btn{
  /* position: absolute;
  right: 15px;
  background: #5270D4; */
  font-size: 25px;
  position: absolute;
    right: 15px;
    top: 155px;
}
.sidebarOuter{
  right: 0;
  position: fixed;
  width: 300px;
  max-height: 100vh;
  background: #ffffff;
  z-index: 32;
  transition: all 0.5s ease-out;
  top: 60px;
  min-height: 100vh;
  overflow-y: auto;
}
.expandedSidebar{
  right: 0;
}
.sidebar_div{

  position: relative;
}
.sidebar_div span{
  position: absolute;
  right: 12px;
  top: 8px;
}
.sidebar_div input{
border-radius: 8px;
font-size: 12px;
  color: #333;
}
.filter_section{
  border-bottom: 1px solid #ccc;
  padding: 10px;
  padding-left: 17px;
  margin-bottom: 15px;
}
button.close_filter{
  background: none;
  border: none;
  float: right;
}
button.apply_button{
  width: 270px;
  background: #5270D4;
  border-radius: 8px;
}
button.apply_button:hover{
  background: #ffffff;
  border: 1px solid #5270D4;
  color: #5270D4;
}


button.cancel_button{
  width: 270px;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 8px;
}
button.cancel_button:hover{
  background: #ffffff;
  border: 1px solid #ccc;
  color: #ccc
}
.filter_icon{
  margin-right: 15px;
  color: #5270D4;
  font-size: 22px;
}
.close_filter{
  font-size: 20px;
}

.inner-wrap { padding:15px;background:#fff;}
:host /deep/ .sidebar_div .mat-form-field-infix { width:230px;}
:host /deep/ .mat-form-field-type-mat-select .mat-form-field-label { font-size:14px;}
.sbmt-pp.stp-sb-rt .apply_button { margin:0 15px;width:calc(100% - 20px);}
.cls-wrp input.mat-input-element { border-bottom:1px solid #ccc !important;}
.cls-wrp.mat-form-field { margin-bottom:15px;}


/****  TABLE HEADER CHANGES *****/
.tbl-hd-btns{ margin-bottom:0px; list-style-type: none; padding:0px;}
.tbl-hd-btns li { margin-right:15px; display: inline-block;}
.tbl-hd-btns .mat-raised-button { color:#fff; border:none; margin:0px; display: inline-block; min-width: 64px;line-height: 34px; padding: 0 16px;
  border-radius: 3px; text-shadow:none; box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; background:#02a7fa !important;}
  .tbl-hd-btns .mat-raised-button:focus, .tbl-hd-btns .mat-raised-button:active{ box-shadow:none; -webkit-box-shadow:none; -ms-box-shadow:none;} 
.mat-danger{ background:#ff18ef;}
.tbl-hd-btns .mat-default{    background: #15b17d; color: #fff;}
/*.tbl-srch-fltr{ padding:10px 15px;margin-bottom: -11px; background:#fff; border-top:1px solid #eee;}*/
.tbl-srch-fltr{ margin-bottom:10px; }
.clr-fltr-tbl li:last-child{ margin-right:0px !important;}
.clr-fltr-tbl[_ngcontent-c5] .tbl-hd-btns .mat-danger{background: #b73eea !important;background: #fff !important;
  color: #555;border: 1px solid #c1bbbb;}
.clr-fltr-tbl .tbl-hd-btns .mat-primary{background: #3cd795 !important; }
.scb-wrap .cg-item{ background: #fff;}
.wrapword{ white-space: nowrap;}
/****  /TABLE HEADER CHANGES *****/
.msrp-lst-avt {
  position: absolute;
  right: 165px;
  font-size: 13px;
  padding: 6px 4px;
  max-width: 189px; white-space: nowrap;
  background: #23d8ae;
  color: #fff;
  top:-4px;padding-left: 44px; 
  min-height: 31px;
  padding-top: 8px;
  padding-right: 10px;
}
.msrp-lst-avt .fa{
  font-size: 16px;
  position: absolute;
  left: 15px;
  top: 7px;
}
.blk-pt-ttl h2{ margin-bottom:8px;}
.blk-pt-ttl .text-right.col-sm-2{ margin-bottom:-16px; padding-right:24px;}
.head-title .clr-fltr-pt .btn.btn-primary {
    font-size: 13px;
    margin-top: -4px;
    margin-bottom: 0;
}
.pt-lst-cdn-ttl{ margin-bottom:-24px !important;}
.fltrd-data .tbl-hd-btns{ margin-bottom:15px;}
.tbl-hd-btns .fltr-actv-sort{ background:#059ae4 !important;}
.fltrd-data .table-ui .mat-header-cell:first-child, .fltrd-data .table-ui .mat-cell:first-child{ min-width:180px;}
