<div class="fltrd-data"  style="margin-top: 8px;">
    <ul class="tbl-hd-btns">
      <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger" (click)="FilterPatientAsPerMismatch('1')">Mismatch</button></li>
      <li> <button mat-raised-button color="accent" class="mat-raised-button mat-primary" (click)="FilterPatientAsPerMismatch('2')">Not Confirmed</button></li>
    </ul>
    <div class="table-ui table-patient-list">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PatientName',$event)">
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="DOB">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('DOB',$event)">
              DOB
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DOB | date:'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="PCPName">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PrimaryProvider',$event)">
                  PCPName 
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.PrimaryProvider}} </mat-cell>
            </ng-container>
          <ng-container matColumnDef="Ethnicity">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('EthnicityName',$event)">
                Ethnicity
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.EthnicityName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Race">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Race',$event)">
              Race
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.RaceName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Note">
            <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
            <mat-cell *matCellDef="let element">
  
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16" width="18">
                <g transform="translate(-187 -91)">
                  <path data-name="Path 102" fill="#ced1d6"
                    d="M14,0H2A.945.945,0,0,0,1,1V16l3-2,2,2,2-2,2,2,2-2,3,2V1A.945.945,0,0,0,14,0ZM12,10H4V8h8Zm0-4H4V4h8Z"
                    transform="translate(186 91)" />
                </g>
              </svg>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <i [routerLink]="['/Admin/patientchart']" style="cursor:pointer" [queryParams]="{id:element.PatientId}"
                class="fa fa-user-circle" aria-hidden="true" title="Patient Chart"></i>
              &nbsp; &nbsp;
              <i *ngIf="element.FileName" class="fa fa-eye" style="cursor:pointer" aria-hidden="true" aria-hidden="true" title="View Patient CCDA"
                (click)="fnGetPatientCDA(element)"></i>
            </mat-cell>
            <mat-cell *matCellDef="let element"> </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedAttributeColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedAttributeColumns;"></mat-row>
        </mat-table>
          <!-- This is used for Showing No record found -->
        <div class="clearfix" *ngIf="dataSource==null">
          <p style="padding: 10px;background-color: #f5f6fa;margin-top: 5px;text-align: center;color: #A3A6B4;">
             No record Found
         </p>
        </div>
        <mat-paginator *ngIf="Id==1" [length]="length1" [pageSize]="pageSize1"
          [pageSizeOptions]="pageSizeOptions1" (page)="getServerData1($event)" (ngModelChange)="getServerData1($event)">
        </mat-paginator>
        <mat-paginator *ngIf="Id==2" [length]="length2" [pageSize]="pageSize2"
          [pageSizeOptions]="pageSizeOptions2" (page)="getServerData2($event)" (ngModelChange)="getServerData2($event)">
        </mat-paginator>
    <!-- END -->
      </div>
  </div>