.tbl-fm .mat-form-field{ width: 100%;}
.mat-org{ padding: 0px 20px; background:#3cd795; color: #fff; font-size: 14px;}
.mat-btn{ padding: 0px 20px; background: #1f3d9f; color: #fff; font-size: 14px;}
.table-ui table{ box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}
.logo-org{ padding-top: 15px;}
.logo-org img{ max-width: 100%;}
.org-head {padding-top: 17px; margin-bottom: 25px;border-bottom: 1px solid #ccc; padding-bottom: 15px;}
.org-head h3{font-size: 1.5rem; margin-bottom: 0px;}
hr{ margin-top: 0rem; margin-bottom: 1rem; border: 0; border-top: 2px solid rgba(0,0,0,.1);}
.org-head {font-size: 20px;}
.inner-wrap{background:#fff;}
.inner-wrap-ovt.inner-wrap, .inner-wrap-ovt .inner-wrap{ background:none;}
.submit.mat-btn.mat-cstm:disabled{ opacity: 0.6;}
.disableAddRegion{background-color: #e7b451 !important}
.paddingAccordian{padding: 17px 30px;}
/* .error{color: red !important;}
.correct {color: #ccc !important;} */
.btn-bk-ps .submit.mat-btn.mat-cstm{ margin-top:0px; margin-bottom: 0px; }
.custom-time-picker .ui-inputtext {
  width: 80px;
}
.custom-time-picker .ui-datepicker {
  top: 0;
  left: 80px;
}
:host /deep/ .multiselect-item-checkbox input[type=checkbox] + div { font-size:14px;}
:host /deep/ .wrap-inx .mat-form-field-label { font-size:14px;}
:host /deep/ .multiselect-dropdown .dropdown-btn { font-weight:400;line-height:1.125;font-family:Roboto,"Helvetica Neue",sans-serif;font-size:14px;color:#989898;}
.rgn-tbl-blk { overflow:auto;max-height:300px;}
.rgn-tbl-blk th { font-size:12px;}
:host /deep/ .dt-tp-spc .mat-select-value-text { font-size:14px;}
:host /deep/ .inpt-frmt-time { font-size:14px;padding-bottom:5px;}
:host /deep/ .dataSource .mat-select-placeholder { font-size:14px;}

.stp-sb-rt { padding-right:0;}
.stp-sb-rt .mat-btn { margin-bottom:15px;}

/* default accordion */
.default-accordion .da-control { padding-left:0;background:linear-gradient(to right, #0192db 0%, #97d0d0 100%);list-style:none;}
.default-accordion .da-control li { display:inline-block;min-width:150px;text-align:center;}
.default-accordion .da-control li a { display:block;padding:15px 30px;font-weight:600;text-transform:capitalize;color:#fff;text-decoration:none;font-size:14px;}
.default-accordion .da-control li a:hover { background:#0285c7;}

.default-accordion .da-control { padding-left:0;background:linear-gradient(to right, #0192db 0%, #97d0d0 100%);list-style:none;}
.default-accordion .da-control li { display:inline-block;min-width:150px;text-align:center;}
.default-accordion .da-control li button { background:transparent; display:block;padding:11px 30px;font-weight:600;text-transform:capitalize;color:#fff;text-decoration:none;font-size:14px;width:100%;border:none;}
.default-accordion .da-control li button:hover,
.default-accordion .da-control li.active button { background:#0285c7;}


.rgn-tbl-blk table { border:none;}
.rgn-tbl-blk table th { background-color:#f5f6fa !important;border:none;color:#9b9ab7;font-size:14px;text-transform:uppercase;padding:8px 15px;font-weight:500;}
.msg-nrf { padding:10px;background-color:#f5f6fa;margin-top:5px;text-align:center;color:#A3A6B4;}

:host /deep/ .mat-expansion-panel-header-title { font-weight:700;color:#63628a;}
.org-head-in { margin-bottom:25px;}
.linkto-editOrganization {
  color: #007ad9;
}