<!-- 
<section id="contents" class="nav-fxd">
  <nav class="navbar navbar-expand">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg"></span>
      </button>
      <a class="hambrg-wrp" href="javascript:void(0);">
        <span class="fa fa-bars"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarsExample04">
     
        <ul class="navbar-nav ml-auto align-items-center">
          <li><a href="#"><i class="fa fa-comments"></i><span class="badge">23</span></a></li>
          <li><a href="#"><i class="fa fa-bell"></i><span class="badge">98</span></a></li>
          <li class="nav-item dropdown">
            <a [matMenuTriggerFor]="menu" class="nav-link" href="javascript:void(0);">
              <div class="nm-avt-wrp">
                {{loginUserName}} <i class="fa fa-angle-down"></i>
              </div>
            <div class="avt-wrap">
              <img src="assets/img/useravatar.png" />
            </div>
            </a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Account</button>
              <button mat-menu-item>Settings</button>
              <button mat-menu-item>Notification</button>
              <button mat-menu-item (click)="logOut()">Logout</button>
            </mat-menu>
          </li>
        </ul>
        
      </div>
    </nav>
   
      
    </section> -->
    <section id="contents" class="nav-fxd">
        <nav class="navbar navbar-expand-md">
        <a href="javascript:void(0);" (click)="HideAndShowSideBar()"><i class="fa fa-bars"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg"></span>
        </button>
        <!--<a class="hambrg-wrp" href="javascript:void(0);">
        <span class="fa fa-bars"></span>
        </a>-->
        <div class="collapse navbar-collapse" id="navbarsExample04">
  
        <ul class="navbar-nav header-top-menu">
        <li><a href="javascript:void(0);" [routerLink]="['/Admin/dashboard']" >Summary</a></li>
        <li><a href="javascript:void(0);" [routerLink]="['/Admin/measureAnalysis']" >Trend Analysis</a></li>
        <li><a href="javascript:void(0);" >Provider</a></li>
        <li><a href="javascript:void(0);" [routerLink]="['/Admin/GapManagement']">Gap Management</a></li>      
        <!-- <li><a href="javascript:void(0);" [routerLink]="['/Admin/gapAnalysis']">Gap Analysis</a></li>
        <li><a href="javascript:void(0);" [routerLink]="['/Admin/dashboardProvider']">Provider Dashboard</a></li> -->
        
        <!-- <li><a href="javascript:void(0);" [routerLink]="['/Admin/search']">Search</a></li> -->
        <li><a href="javascript:void(0);" [routerLink]="['/Admin/advance-search']">Search</a></li>
        <!-- <li><a href="javascript:void(0);" [routerLink]="['/Admin/detailMeasureAnalysis']">Search</a></li>  -->
        </ul>
        <ul class="navbar-nav ml-auto align-items-center">
        <li><a href="#"><i class="fa fa-comments"></i><span class="badge">23</span></a></li>
        <li><a href="#"><i class="fa fa-bell"></i><span class="badge">98</span></a></li>
        <li class="nav-item dropdown">
        <a [matMenuTriggerFor]="menu" class="nav-link" href="javascript:void(0);">
        <div class="nm-avt-wrp avt-wrap">
        {{loginUserName}} <i class="fa fa-angle-down"></i>
        </div>
        <!-- <div class="avt-wrap">
        G. Stefen
        </div> -->
        </a>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>Account</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Notification</button>
        <button mat-menu-item (click)="logOut()">Logout</button>
        </mat-menu>
        </li>
        </ul>
        </div>
        </nav>
       
        </section>