.navbar { box-shadow:0 3px 25px 0 rgba(0, 0, 0, 0.03);}

.nav-fxd { position:fixed;left:200px;top:0px;right:0px;z-index:1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.welcome { color:#CCC;}
.welcome .content { background-color:#313348;padding:15px;margin-top:25px;}
.welcome h2 { font-family:Calibri;font-weight:100;margin-top:0;}
.welcome p { color:#999;}

.nm-avt-wrp { padding-left:20px;margin-left:0px;border-left: 2px solid #f0f0f5; display: inline-block;}
.nav-fxd .nav-item > a { color:#5e5d74;padding-top:3px; padding-bottom:3px;} 
.hambrg-wrp { display: none; margin-right:15px;color: #dbdfec; font-size: 18px;}
.avt-wrap { display:inline-block;vertical-align:middle;width:auto;margin:0px 8px;font-weight:bold;}
.frm-head i { margin-right:15px;color:#ddd;}
.avt-wrap img { max-width:100%;}

.statistics { margin-top:25px;color:#CCC;}
.navbar-nav li{ padding-left: 25px;}
.navbar-nav li .badge{ position: absolute; background:#4285f4; color: #fff; border-radius: 50%; -webkit-border-radius: 50%; -ms-border-radius: 50%; font-size: 11px; font-weight: normal; right: -16px; top: -4px;}
.navbar-nav > li > a{ color: #bcbccb; position: relative;}
.statistics .box { background-color:#313348;padding:15px;overflow:hidden;}
.statistics .box > i { float:left;color:#FFF;border-radius:50%;width:60px;height:60px;line-height:60px;font-size:22px;}
.statistics .box .info { float:left;width:auto;margin-left:10px;}
.statistics .box .info h3 { margin:5px 0 5px;display:inline-block;}
.statistics .box .info p { color:#BBB}

.charts { margin-top:25px;color:#BBB;}
.charts .chart-container { background-color:#313348;padding:15px;}
.charts .chart-container h3 { margin:0 0 10px;font-size:17px;}


.admins { margin-top:25px;}
.admins .box > h3 { color: #ccc;font-family: Calibri;font-weight: 300;margin-top: 0;}
.admins .box .admin {
margin-bottom: 20px;
overflow: hidden;
background-color: #313348;
padding: 10px;
}
.admins .box .admin .img {
width: 20%;
margin-right: 5%;
float: left;
}
.admins .box .admin .img img {
border-radius: 50%;
}
.admins .box .info {
width: 75%;
color: #EEE;
float: left;
}
.admins .box .info h3 {font-size: 19px}
.admins .box .info p {color: #BBB}



.statis {
color: #EEE;
margin-top: 15px;
}
.statis .box {
position: relative;
padding: 15px;
overflow: hidden;
border-radius: 3px;
margin-bottom: 25px;
}
.statis .box h3:after {
content: "";
height: 2px;
width: 70%;
margin: auto;
background-color: rgba(255, 255, 255, 0.12);
display: block;
margin-top: 10px;
}
.statis .box i {
position: absolute;
height: 70px;
width: 70px;
font-size: 22px;
padding: 15px;
top: -25px;
left: -25px;
background-color: rgba(255, 255, 255, 0.15);
line-height: 60px;
text-align: right;
border-radius: 50%;
}

/*chart*/
.chrt3 { padding-bottom:50px;}
.chrt3 .chart-container { height:350px;padding:15px;margin-top:25px;}
.chrt3 .box { padding:15px;}
.main-color { color:#ffc107;}
.warning {background-color:#f0ad4e}
.danger {background-color:#d9534f}
.success {background-color:#5cb85c}
.inf {background-color:#5bc0de}
.nav-fxd .navbar{ padding: 5px 15px; }


.navbar-right .dropdown-menu {
right: auto !important;
left: 0 !important;
}
.nav-fxd {
background-color:#fff !important;
border: none !important;
border-radius: 0 !important; z-index: 11;
margin: 0 !important; box-shadow: 0px 0px 5px 0px #ccc;
}
.navbar-default .navbar-brand img{ max-height: 60px;}
.navbar-default .navbar-nav>li>a {
color: #EEE !important;
line-height: 55px !important;
padding: 0 10px !important;
}
.navbar-default .navbar-brand {color:#FFF !important}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {color: #EEE !important}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}

.navbar-default .navbar-brand {line-height: 55px !important; padding: 0 !important}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {color: #FFF !important}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}
@media (max-width:991px) {
    .navbar-nav li{ padding-left:20px;}
}
@media (max-width: 767px) {
.navbar>.container-fluid .navbar-brand {
margin-left: 15px !important;
}
.navbar-default .navbar-nav>li>a {
padding-left: 0 !important;
}
.navbar-nav {
margin: 0 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border: none !important;
}
}

.navbar-default .navbar-nav>li>a {
float: left !important;
}
.navbar-default .navbar-nav>li>a>span:not(.caret) {
background-color: #e74c3c !important;
border-radius: 50% !important;
height: 25px !important;
width: 25px !important;
padding: 2px !important;
font-size: 11px !important;
position: relative !important;
top: -10px !important;
right: 5px !important
}
.dropdown-menu>li>a {
padding-top: 5px !important;
padding-right: 5px !important;
}
.navbar-default .navbar-nav>li>a>i {
font-size: 18px !important;
}

@media (max-width: 767px) {
#contents {
margin: 0 !important
}
.statistics .box {
margin-bottom: 25px !important;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #CCC !important
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #FFF !important
}
.navbar-default .navbar-toggle{
border:none !important;
color: #EEE !important;
font-size: 18px !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent !important}
}
.navbar-toggle.collapsed{display: none;}
.header-top-menu li a { font-size:13px;color:#989898;font-weight:500;position:relative;}
.header-top-menu li:hover a { color:#4285f4;}
.header-top-menu li a:after { content:'';position:absolute;bottom:-13px;height:2px;width:2px;background-color:#ffffff;left:50%;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;transition:all 0.2s;}

.header-top-menu li:hover a:after { width:100%;left:0;background-color:#4285f4;}
.header-top-menu li.active-menu a:after { width:100%;left:0;background-color:#4285f4;}
.header-top-menu li.active-menu a { color:#4285f4;}