<!-- <div class="head-title">
    <div class="row">
      <div class="col-sm-12">
        <h2>Organization List </h2>
      </div>    
    </div>
  </div>
  <div class="inner-wrap">
    <div class="row">
      <div class="col-sm-8">
        <div class="tbl-fm">
         
          <div class="row">
            <div class="col-sm-5">
              
         
              <mat-select placeholder="All">
                <mat-option *ngFor="let organization of OrganizationDropDown" [value]="organization.id" (click)="getFilteredList(organization.id)">
                  {{organization.name}}
                </mat-option>
              </mat-select>
                
                
            </div>
            <div class="col-sm-5">

                  <input matInput placeholder="search" (input)="getSearchedData($event)"[(ngModel)]="search">
            </div>  
         
          </div>
       
        </div>
      </div>
      <div class="col-sm-4 text-right">
         <a class="mat-org" mat-raised-button [routerLink]="['/home/setUp']" > Add Organization </a>
      </div>
    </div>
   
 
 

<div class="table-ui">      
<mat-table #table [dataSource]="dataSource" (matSortChange)="sortData($event)">
    <ng-container matColumnDef="OrganizationId">
        <mat-header-cell *matHeaderCellDef> OrganizationId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.OrganizationId}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="OrganizationName">
      <mat-header-cell *matHeaderCellDef > OrganizationName <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationName','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationName','desc')"></i></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="GlobalType">
        <mat-header-cell *matHeaderCellDef> Type <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('GlobalType','asc')"></i><i class="fa fa-sort-down" (click)="sortData('GlobalType','desc')"></i></div></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.GlobalType}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="OrganizationAddress">
      <mat-header-cell *matHeaderCellDef> OrganizationAddress <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationAddress','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationAddress','desc')"></i> </div> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationAddress}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="OrganizationPhoneNumber">
      <mat-header-cell *matHeaderCellDef> OrganizationPhoneNumber <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationPhoneNumber','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationPhoneNumber','desc')"></i> </div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationPhoneNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="OrganizationFax">
      <mat-header-cell *matHeaderCellDef> OrganizationFax <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationFax','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationFax','desc')"></i></div> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationFax}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
        
          <i class="fa fa-cogs" style="cursor:pointer"  aria-hidden="true" title="Add SFTP/FHIR Configuration" (click)="setOrganizationConfiguration(element,template)"></i>
     
        </mat-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </div>

  
    <mat-paginator [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageEvent = getServerData($event)"
                  (ngModelChange)="getServerData($event)"
                  >

    </mat-paginator>
     </div>

    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">SFTP Configuration</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="auth-wrap-background">
                <div class="auth-center">
                  <div class="auth-blur auth-size">
                    <div class="auth-wrap-background"></div>
                  </div>
                </div>
                <div class="auth-center">
                  <div class="auth__inner auth-size">
                   
                   <div class="">
                    <div class="auth__form auth__inner__section">
                      <div class="form">
                        <form [formGroup]="orgConfigModel" (ngSubmit)="onSftpFormSubmit(orgConfigModel.value) && orgConfigModel.valid">
                
                        <label class="form__label"><span class="form__label__text">Host</span>      
                          <input class="form__input" formControlName="Name" matInput #Name  placeholder="Host Name">            
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">Port No.</span>
                          <input class="form__input"   formControlName="Port" matInput #Port placeholder="Port">
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">User Name</span>      
                          <input class="form__input" formControlName="UserName" matInput #UserName  placeholder="Host Name">            
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">Password</span>
                          <input class="form__input"   formControlName="Password" matInput #Password placeholder="Port">
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">Active</span>      
                         
                          <input type="checkbox" formControlName="IsActive" matcheckbox #IsActive>
                          <div class="form__input-border"></div>
                        </label>
                       
                      
                        <div class="clearfix"></div>
                        <input type="submit" class="submit" value="Submit" [disabled]="!orgConfigModel.valid">
                      </form>
                      </div>
                    </div>
                   </div>
                  </div>
                </div>
              </div>
        </div>
      </ng-template> -->

<div class="head-title">
  <div class="row">
    <div class="col-sm-8">
      <h2> Organization List</h2>
    </div>
    <div class="col-sm-4 text-right">
      <a *ngIf="LoginUserId==2" class="mat-org cursor" mat-raised-button (click)="AddOrganization()">Add Organization </a>
    </div>
  </div>
</div>
<div class="inner-wrap">
  <div class="row">
    <div class="col-sm-12">
      <div class="tbl-fm">
        <div class="row">
          <div class="col-sm-4">
              <form class="example-form">
                <!-- {{OrganizationList}} -->
                  <mat-form-field class="cls-wrp" floatLabel="never" *ngIf="LoginUserId==2">
                    <input type="text" placeholder="Search Organization" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.OrganizationName"  (onSelectionChange)="getSearchedData(option)"  >
                        {{option.OrganizationName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
            <!-- <mat-form-field class="cls-wrp" floatLabel="never">
              <span matPrefix class="fa fa-search"></span>
                <input type="text" placeholder="Search" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-autocomplete>
            </mat-form-field> -->
          </div>
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4 text-right">
            <div class="slct-al-bk" *ngIf="Role=='SuperAdmin'">
              <mat-select placeholder="All" title="Search by organization">
                <mat-option  *ngFor="let organization of OrganizationDropDown" [value]="organization.id" (click)="getFilteredList(organization.id)">
                  {{organization.name}}
                </mat-option>
              </mat-select>

            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-sm-4 text-right">

    </div>
  </div>



  <!-- <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
     
    </mat-option>
  </mat-select> -->

  <div class="table-ui tbl-rsp-md">
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="OrganizationId">
        <mat-header-cell *matHeaderCellDef> OrganizationId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.OrganizationId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="OrganizationName">
        <mat-header-cell *matHeaderCellDef mat-sort-header  (click)="sortData('OrganizationName',$event)">
            NAME
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="hd-avt-wrp">
            <div class="hd-avt-cntnt linkto-editOrganization cursor"  [routerLink]="['/Admin/editOrganization']"
            [queryParams]="{id:element.OrganizationId}" >
              {{element.OrganizationName}}
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="OrganizationAddress">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('OrganizationAddress',$event)">
              ADDRESS

          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.OrganizationAddress }} <br/>{{element.Address2Row}} </mat-cell>
      
  
      </ng-container>

      <!-- //// phone /// -->
      <ng-container matColumnDef="OrganizationPhoneNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('OrganizationPhoneNumber',$event)">
              
              PHONE NUMBER
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.OrganizationPhoneNumber}} </mat-cell>
      </ng-container>

     
      <!-- <ng-container matColumnDef="GlobalType">
    <mat-header-cell *matHeaderCellDef> Type <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('GlobalType','asc')"></i><i class="fa fa-sort-down" (click)="sortData('GlobalType','desc')"></i></div></mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.GlobalType}} </mat-cell>
  </ng-container> -->
     
      <!-- <ng-container matColumnDef="Address2Row">
          <mat-cell *matCellDef="let element"> {{element.Address2Row}} </mat-cell>
        </ng-container> -->
    <!-- /// OrganizationFax -->


    <ng-container matColumnDef="OrganizationFax">
        <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('OrganizationFax',$event)">
            FAX

        </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationFax}} </mat-cell>
    </ng-container>

<!-- /// Contactperson -->
<ng-container matColumnDef="ContactPersonName">
  <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('ContactPersonName',$event)">
      CONTACT PERSON

  </mat-header-cell>
  
<mat-cell *matCellDef="let element"> {{element.ContactPersonName}}<br/>{{element.OrganizationPhoneNumber}} <br/>{{element.OrganizationWebSite}}  </mat-cell>
</ng-container>

<!-- <ng-container matColumnDef="ContactPersonName">
    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('ContactPersonName',$event)">
        CONTACT PERSON

    </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.ContactPersonName}} </mat-cell>
</ng-container> -->

<!-- /////WEBSITE -->

      <ng-container matColumnDef="OrganizationWebSite">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('OrganizationWebSite',$event)">
              
WEBSITE
          </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a target="blank" href="{{element.OrganizationWebSite}}">{{element.OrganizationWebSite}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!--ng-click="setOrganizationConfiguration()"-->
          <i [routerLink]="['/Admin/editOrganization']" [queryParams]="{id:element.OrganizationId}" class="fa fa-pencil" style="cursor:pointer"
            aria-hidden="true" title="edit" (click)="EditOrganization(element)">

          </i>
          &nbsp;&nbsp;
          <i *ngIf="LoginUserId==2" class="fa fa-trash" style="cursor:pointer" aria-hidden="true" title="Delete" (click)="DeleteOrganization(element,template)"></i>

          <!-- <i class="fas fa-pencil-alt"></i> -->
          <!-- <i class="fa fa-cogs" style="cursor:pointer"  aria-hidden="true" title="Organization Configuration"></i> -->
        </mat-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>


<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)"
  (ngModelChange)="getServerData($event)">

</mat-paginator>
<!--Model Pop-up-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Organization</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="auth-wrap-background">
      <div class="auth-center">
        <div class="auth-blur auth-size">
          <div class="auth-wrap-background"></div>
        </div>
      </div>
      <div class="auth-center">
        <div class="auth__inner auth-size">
          <!-- <img src="../assets/img/Logo.png" class="logo"> -->
          <div class="">
            <div class="auth__form auth__inner__section">
              <div class="form">
                <div class="text-center sr-dlt-org">
                  Are you sure you want to delete the organization ?
                </div>
              </div>
              <div class="text-center btn-bl-set">
                <button class="submit mat-btn cursor" (click)="DeleteSelectedOrganization()" mat-button>Yes</button>
                <button class="submit mat-btn cursor" (click)="modalRef.hide()" mat-button>No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
