.inner-wrap{ padding: 15px; background: #fff;}
.action-btn a{ color: #555; margin:0px 10px;}
.action-btn a i{  color: #7e94dc;}
.head-title{ margin-bottom: 15px;}
.head-title h2{margin-bottom: 0px;}
/*.table-ui td:first-child, .table-ui th:first-child{ padding-left: 0px;}
.table-ui td:last-child, .table-ui th:last-child{ padding-right: 0px;}*/
.table-ui td.mat-cell, .table-ui td.mat-footer-cell, .table-ui th.mat-header-cell{ border-color: #ccc;}
.table-ui th{ background: #f2f2f2;}
.table-ui table{ box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}
.tbl-fm{ margin-bottom: 15px;}
.tbl-fm .mat-select, .tbl-fm input.mat-input-element{ padding-bottom: 10px;}
.tbl-fm input.mat-input-element{ border-bottom: 1px solid #ccc !important;}
.linkto-editOrganization{color:#007ad9;}