$fontfamily: 'Montserrat', sans-serif;
$font-size-36:36px;
$font-size-20:20px;
$themecolor:#02a7fa;
$btncolor:#02a7fa;
$btnalertcolor:#f7aa14;
$btnwarncolor:#dbdce2;
$navtextcolor:#fff;
$themebdcolor:#42c300;
$textcolor:rgba(0,0,0,0.54);
$gradientfrom:#0192db;
$gradientto:#97d0d0;
$paragraph:13px;
$fontbold:700;
$titlesize:28px;
$font-size-20:20px;
$title-color:#43425d;
$errorcolor:#f44336;
$greytxt:#666;
