/* You can add global styles to this file, and also import other style files */
@import '_variable';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
@import "~ng-pick-datetime/assets/style/picker.min.css";
$primary-color: #0095c7;
/****** GLOBAL CSS *******/
.mat-raised-button {
  font-size: 13px;
}

.btn.btn-sm.btn-primary {
  box-shadow: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
}

.btn.btn-sm.btn-primary {
  background: #02a7fa !important;
  text-transform: initial;
  padding: 6px 20px;
  color: #fff;
  border: none;
}

body {
  font-family: $fontfamily; font-weight: 400;
}

// .mat-expansion-panel-header {
//   font-family: $fontfamily;
// }

.table-ui table {
  width: 100%;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $errorcolor;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  border-color: $errorcolor;
}
/****** /GLOBAL CSS *******/
.org-set .mat-form-field {
  width: 100%; /*margin-bottom: 20px;*/
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $textcolor;
}

.mat-menu-item {
  color: $textcolor;
}
/*.org-set .mat-horizontal-stepper-header{ height: 56px; padding: 0px;  width: 25%;  background: #92a7ef;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; text-align: center;}
.org-set .mat-stepper-horizontal-line{ display: none;}    
.org-set .mat-step-header .mat-step-header-ripple{ display: none;}
.org-set .mat-step-header .mat-step-label.mat-step-label-active {
    color: rgb(255, 255, 255); width: 100%;
    text-transform: uppercase; height: 100%; line-height: 56px;
}
.org-set .mat-horizontal-stepper-header .mat-step-icon{ display: none;}
.org-set .mat-horizontal-content-container { border-top: 20px solid #ebeef3;} 
.org-set .mat-step-header .mat-step-label.mat-step-label-active.mat-step-label-selected{ background: #344ea3; }*/
.org-set .mat-horizontal-stepper-header {
  height: 50px;
  padding: 0px;
}

.head-title {
  margin-bottom: 12px;
}

.org-set .mat-step-header .mat-step-label {
  padding: 17px 30px;
  min-width: 1px;
  text-align: center;
}

.org-set .mat-step-header .mat-step-label {
  color: #f2f2f2;
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
}

.org-set .mat-step-header .mat-step-label.mat-step-label-selected {
  color: $navtextcolor;
  background: darken($themecolor, 10%);
}

.org-set .mat-horizontal-stepper-header .mat-step-icon {
  display: none;
}

.org-set .mat-horizontal-stepper-header-container {
  background: linear-gradient(to right, $gradientfrom 0%, $gradientto 100%);
  border-bottom: transparent;
}

.org-set .mat-stepper-horizontal-line {
  display: none;
}

.org-set .mat-step-header .mat-step-header-ripple {
  display: none;
}

.tbl-fm .mat-form-field {
  width: 100%;
}

.head-title .mat-org {
  display: inline-block;
  margin-top: -8px;
  margin-bottom: -2px;
}

.head-title .mat-org:hover {
  color: #fff;
  text-decoration: none;
  background: #07D970;
}

.mat-btn {
  padding: 9px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  background: #2643a4;
  color: #fff;
}

.mat-org {
  padding: 9px 20px;
  // padding: 10px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  // background: #42c300;
  background: #3cd795;
  font-weight: 400;
  color: #fff;
}

.table-ui .mat-header-row {
  // background: #02A7FA;
  // background: #f6f7fb;
  background: #676767;
}

.sort-nm-val {
  width: 10px;
  margin-left: 10px;
}

.sort-nm-val i {
  cursor: pointer;
  line-height: 6px;
  display: inherit;
}

.sort-nm-val i.fa-sort-down {
  margin-top: -2px;
}

.sort-nm-val i.fa-sort-down:before {
  line-height: 2px;
}

body {
  background: #f0f0f7;
}

.head-title h2 {
  color: $title-color;
  font-weight: 400;
  font-size: $titlesize;
  margin-bottom: 0px;
}

.frm-head .mat-form-field-infix {
  width: 260px;
}

body .mat-menu-panel {
  min-width: 150px;
}

.mat-menu-content .mat-menu-item {
  height: 40px;
  line-height: 40px;
  outline: none !important;
  box-shadow: none !important;
}

.frm-head .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #43425d;
}

.frm-head .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.frm-head i {
  color: #bcbccb;
}

.frm-head .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 14px;
}

.org-set .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 2px;
  background: #e9e9f0;
}

.org-set .mat-stepper-horizontal {
  background: none;
}

.wrap-inx {
  padding: 20px;
  background: #fff;
  position: relative;
}

.org-set .mat-horizontal-content-container {
  padding: 0px;
}

.org-set .mat-form-field.mat-focused .mat-form-field-label {
  color: #808495;
}

.org-set .mat-form-field.mat-focused .mat-form-field-underline,
.org-set .mat-form-field.mat-focused .mat-form-field-ripple {
  background: #439BFF !important;
}

.divid-blck {
  height: 1px;
  background: #DBDCE2;
  margin-bottom: 15px;
}

.org-set .mat-btn {
  padding: 10px 25px !important;
  border: none;
  background: $btncolor !important;
  margin-top: 20px;
}

.mat-btn:hover {
  opacity: 0.7;
}

.org-set .mat-btn i {
  margin-left: 10px;
}

.org-set .mat-btn i.fa-angle-left {
  margin-right: 10px;
  margin-left: 0px;
}

.cls-wrp .mat-form-field-infix {
  padding: 0px;
  border-top-width: 6px;
}

.cls-wrp .mat-form-field-prefix .fa {
  color: #BCBCCB;
  margin-top: -8px;
  vertical-align: top;
  margin-right: 8px;
}

.cls-wrp .mat-form-field-underline {
  display: none;
}

.cls-wrp.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #43425D;
}

.cls-wrp input.mat-input-element {
  border: none !important;
}

.cls-wrp .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.table-ui .mat-header-cell {
  // color: #8F9098;
  color: #fff;
  font-size: $paragraph;
  text-transform: uppercase;
  padding: 8px 13px;
}

.table-ui .mat-cell {
  color: #70717c;
  font-size: 13px;
  padding: 10px 13px;
}

.table-ui .mat-header-cell:first-child {
  padding-left: 20px !important;
}

.table-ui .mat-cell:first-child {
  padding-left: 20px !important;
}

.table-ui .mat-cell {
  color: #7F818C;
  font-weight: 400;
}

.avt-in-hd {
  width: 36px;
  height: 36px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
}

.avt-in-hd img {
  max-width: 100%;
}

.hd-avt-cntnt {
  margin-left: 0px;
  // padding-top: 8px;
}

.table-ui .mat-header-row {
  border: none;
}

.table-ui mat-row {
  border-color: #F1F1F3;
}

.mat-paginator {
  background: none;
}

body .mat-paginator-container {
  justify-content: flex-start;
}

.org-nm-col {
  margin-left: 0px;
  position: relative;
  padding-right: 22px;
}

.org-nm-col .sort-nm-val {
  position: absolute;
  right: 0px;
  top: 7px;
}

.tbl-fm .slct-al-bk .mat-select {
  box-shadow: 0px 0px 5px 0px #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-bottom: 1px solid #ccc;
  padding: 4px 10px !important;
  border: 1px solid #ddd;
}

.slct-al-bk {
  text-align: left;
  // width: 160px;
  width:320px;
  max-width: 100%;
  display: inline-block;
}

.nav-fxd .avt-wrap {
  margin-right: 0px !important;
}
/******* DASH UI *******/
.dashui .mat-horizontal-stepper-header-container {
  box-shadow: 0px 0px 3px 0px #ddd;
  -webkit-box-shadow: 0px 0px 3px 0px #ddd;
  -ms-box-shadow: 0px 0px 3px 0px #ddd;
  background: #fff;
}

.dashui .mat-horizontal-content-container {
  margin-top: 20px;
  background: none;
  padding: 0px;
}

.dashui .mat-horizontal-stepper-header .mat-step-icon {
  display: none;
}

.dashui .mat-stepper-horizontal-line {
  display: none;
}

.dashui .mat-step-header .mat-step-label.mat-step-label-active {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid transparent;
  line-height: 67px;
  font-size: 16px;
  color: #43425D;
}

.dashui .mat-horizontal-stepper-header {
  padding-left: 30px;
  padding-right: 30px;
}

.dashui .mat-step-header .mat-step-label.mat-step-label-selected {
  border-color: #439BFF;
}

.dash-cnt-wrp {
  padding-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
  box-shadow: 0px 0px 3px 0px #ddd;
  -webkit-box-shadow: 0px 0px 3px 0px #ddd;
  -ms-box-shadow: 0px 0px 3px 0px #ddd;
  background: #fff;
}

.dash-cnt-wrp img {
  width: 100%;
}

.nav-fxd .navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0px;
}

.table-ui mat-header-row {
  // min-height: 46px;
  min-height: 38px;
}
/******* /DASH UI *******/
/******* LOGIN UI *******/
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #50bc03;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #50bc03;
}

.auth-ui .mat-btn:hover {
  background: #50bc03;
}

.log-bg-lgon .forget:hover {
  color: #50bc03 !important;
}

.auth-ui {
  max-width: 540px;
  // max-width: 500px;
  margin: 0 auto;
  position: relative !important;
}

.auth-ui .auth-size {
  width: 100% !important;
}

.mat-dscpl {
  display: table;
  height: 100%;
  width: 100%;
}

.auto-login-main {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.auto-login-main .display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.auto-login-main .display-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 50%;
}

.auto-login-cell {
  display: table-cell;
  vertical-align: middle;
}

.bg-lgon {
  min-width: 55% !important;
  background: url("/assets/img/loginbg.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.bg-lgon:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  // opacity: 0.8;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02a7ff+0,0281ff+100 */
  background: rgb(2,167,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(2,167,255,1) 0%, rgba(2,129,255,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(2,167,255,1) 0%,rgba(2,129,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(2,167,255,1) 0%,rgba(2,129,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02a7ff', endColorstr='#0281ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.log-bg-lgon {
  background: #ffffff;
}

.auth-ui .forget {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0px !important;
  margin-top: 6px !important;
  color: $themecolor !important;
  font-weight: normal !important;
}

.auth-ui .form__title {
  margin-bottom: 0px;
  color: #02a7fa !important;
  font-size: 23px !important;
  // font-size: 28px !important;
  font-weight: 700 !important;
  padding-bottom: 0px !important;
}

.auth-ui .mat-btn {
  cursor: pointer;
  border: none;
  background: $themecolor;
  border-radius: 1px;
}

.auth-ui .mat-checkbox-layout .mat-checkbox-label {
  color: #43425D;
}

.rt-ux-bt p {
  color: #4D4F5C;
  text-align: center;
}

.auth-ui .form__input-border {
  border-bottom: 2px solid #e9e9f0;
}

.brandlogo {
  padding: 25px 25px;
}

.brandlogo img {
  max-width: 120px;
}

.bg-lgon {
  vertical-align: bottom !important;
}

.rt-ux-bt {
  margin-bottom: 15px;
}

.auth-ui .mat-form-field {
  width: 100%;
}

.auth-ui .form__input {
  padding: 0px !important;
}

.rmb-blk {
  margin-bottom: 20px;
  margin-top: 10px;
}

.auth-ui .mat-form-field-label {
  color: #43425D !important;
}

body .org-set .mat-reset {
  background: $btnwarncolor !important;
  color: $title-color !important;
}

.auto-logo-bk {
  display: inline-block;
  background: #02a6fd;
  border: 1px solid #02a6fd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  overflow: hidden;
}

.auto-logo-bk img {
  max-width: 100px;
}

.auto-logo-wrp {
  text-align: center;
  margin-bottom: 15px;
}

.auth-ui-rst {
  box-shadow: 0px 0px 10px 0px #aaa;
}

.mat-dscpl .form__input {
  padding: 0px;
}
/******* /LOGIN UI *******/
.tbl-fm .mat-select, .tbl-fm input.mat-input-element {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.mat-cstm {
  padding: 10px 25px !important;
  color: #fff !important;
}

.org-set .tbl-fm {
  padding: 8px 15px;
  background: #fff;
}

.org-set .tbl-fm .mat-form-fiel {
  margin-bottom: 0px !important;
}

.org-set .tbl-fm .mat-form-field-prefix .fa {
  margin-top: -8px;
  vertical-align: top;
  margin-right: 8px;
  color: #aaa;
}

.org-set .tbl-fm .mat-form-field {
  margin-bottom: 0px;
}

.org-set .tbl-fm .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.org-st-tblui {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}

.inner-wrap {
  box-shadow: 0px 0px 5px 0px #ccc;
}

.org-set .tbl-fm .mat-select {
  margin-top: 15px;
}

.org-set .tbl-fm .mat-cstm {
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  padding-left: 0 !important;
  padding-right: 0px !important;
  width: 100%;
  text-align: center;
}

body .mat-paginator-page-size {
  align-items: center;
}

.org-set .mat-paginator-page-size .mat-form-field {
  margin-bottom: 0px;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  color: rgba(0,0,0,.74);
  font-size: 13px;
}

.org-set .tbl-fm {
  margin-bottom: -12px;
}

.modal-header {
  background: #02a7fa;
  color: #fff;
}

.modal-header .close span {
  font-size: 25px;
  color: #fff;
  font-weight: normal;
}

.modal-dialog {
  max-width: 660px;
}

.modal-dialog .mat-form-field {
  width: 100%;
}

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
}

.modal-body .mat-cstm {
  font-size: 16px;
  background: #02a7fa !important;
  border: none !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
}

.cdk-overlay-container {
  z-index: 1111;
}

.mat-paginator-page-size-label {
  min-width: 100px;
}

.side-nav {
  float: left;
  height: auto;
  bottom: 0px;
  width: 240px;
  background-color: $themecolor;
  color: #333;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: .3s;
  position: fixed;
  top: 0px;
  left: 0;
  overflow: auto;
  z-index: 111;
}

.side-menu li a:hover {
  text-decoration: none;
  background: darken($themecolor, 9%);
}

.side-menu li.active a {
  border-left: 4px solid $themebdcolor;
  background: darken($themecolor, 9%);
  margin-bottom: 1px;
}

.cursor {
  cursor: pointer;
}

.multiselect-dropdown[_ngcontent-c9] .dropdown-btn[_ngcontent-c9] .selected-item[_ngcontent-c9] {
  font-size: 12px
}

.multiselect-dropdown[_ngcontent-c9] .dropdown-btn[_ngcontent-c9] {
  border: 1px solid #FFF !important
}

.multiselect-dropdown[_ngcontent-c9] .dropdown-btn[_ngcontent-c9] {
  color: #8e8e8e;
}
.multiselect-dropdown[_ngcontent-c9] .dropdown-btn[_ngcontent-c9] .dropdown-down[_ngcontent-c9] {
  color: #757575 !important;
}

.mlt-slt-drp .multiselect-dropdown .dropdown-btn {
  border: none !important;
  padding-left: 0px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
/********* LOGIN CSS ********/
.login-capt {
  max-width: 100%;
  padding: 30px 40px;
  position: relative;
}

.login-capt h3 {
  font-size: $font-size-36;
  font-weight: $fontbold;
  color: #fff;
  text-transform: uppercase;
}

.login-capt p {
  font-size: $font-size-20;
  color: #fff;
}
/********* /LOGIN CSS ********/
/********* SIDEBAR CSS ********/
.side-menu li a {
  color: $navtextcolor;
}
/********* /SIDEBAR CSS ********/
/********* ORGANIZATION SETUP CSS ********/
.mat-stepper-horizontal, .mat-stepper-vertical {
  font-family: $fontfamily;
}

.mat-org {
  background: #3cd795;
  color: #fff !important;
  font-size: 13px;
}

.mat-org-st .col-sm-4 {
  margin-bottom: -5px;
}

.org-stp-acd .mat-expansion-panel-header-title {
  font-weight: $fontbold;
  color: lighten($title-color, 15%);
}

body .org-stp-acd {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -ms-box-shadow: none !important;
  margin-top: 20px !important;
}

.org-stp-acd .mat-expansion-panel-header {
  padding-left: 20px;
  padding-right: 20px;
  background: #f9f9f9 !important;
}

.org-stp-acd .mat-expansion-panel-header {
  height: 50px !important;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
}

.org-stp-acd .mat-expansion-panel-body {
  padding: 0px;
}

.org-head-in {
  font-size: 15px;
  color: #02a7fa;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 0px;
}

.org-stp-acd .mat-expansion-panel-content {
  font: inherit;
}

.org-stp-acd .mat-expansion-indicator {
  line-height: 3px;
  margin-top: -3px;
}

.modal-content {
  border: none;
}

.modal-body {
  padding-left: 20px;
  padding-right: 20px;
}

.modal-content .wrap-inx {
  padding: 0px;
}

.modal-title {
  font-size: $font-size-20;
}

.modal-body .col-sm-6 {
  margin-bottom: -10px;
}

.org-head-in {
  position: relative;
  font-size: 16px;
  color: #02a7fa;
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 0px;  padding-bottom: 2px;
}

.org-head-in:before {
  position: absolute;
  content: "";
  left: 0px;
  right: 20px;
  background: #02a7fa;
  height: 2px;
  bottom: -1px;
}
/********* CSS (03.12.2018) ********/
.dt-tp-spc {
  margin-top: 20px;
  margin-bottom: 8px;
}

.ad-stp-btn.mat-org {
  padding: 6px 16px !important
}

.day-list-wrp {
  list-style: none;
  padding-top: 14px;
  padding-left: 0px;
}

.day-list-wrp li {
  display: inline-block;
  margin-right: 25px;
}

.day-list-wrp li .mat-checkbox-layout {
  font-size: 14px;
  color: $greytxt;
}

.warnmsgblk {
  display: inline-block;
  max-width: 800px;
  padding: 10px 35px;
  color: #999;
  border: 1px solid #ccc;
  margin-top: 30px;
  background: #f2f2f2;
}

.time-label-blk {
  font-size: 13px;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
}
/********* CSS (03.12.2018) ********/
.non-react-drp {
  border-bottom: 2px solid #ddd;
}

.non-react-drp .mat-select-value-text {
  color: rgba(0, 0, 0, 0.54);
}

.inpt-frmt-time {
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  margin-top: 17px;
}

.clock-face__number > span.active, .timepicker__header {
  background: #02a7fa !important;
}

.timepicker-button {
  color: #02a7fa !important;
}
/********* / ORGANIZATION SETUP CSS ********/
.ad-stp-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
}

.rlt-pos {
  position: relative;
}

.stp-sb-rt {
  padding-right: 0px;
}

.stp-sb-rt .mat-btn {
  margin-left: 20px;
  margin-bottom: 25px;
}

.mt-srch-rp .mat-form-field-prefix {
  margin-right: 6px;
  color: #aaa;
}

.ad-rgn-mtbtn {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 8px;
}

.rgn-tbl-blk th:last-child {
  width: 120px;
  text-align: center;
}

.rgn-tbl-blk i {
  margin: 0px 8px;
  color: #999;
}

.rgn-tbl-blk td {
  vertical-align: middle !important;
}

.rgn-tbl-blk td:last-child {
  text-align: center;
}

.rgn-tbl-blk td:last-child .mat-checkbox {
  display: inline-block;
}

.rgn-tbl-blk th {
  background: #f9f9f9 !important;
  color: #555;
  font-size: 14px;
}

.sb-val-t {
  width: 6px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1px;
}

.sb-val-t i {
  line-height: 0px;
}

.stp-sb-rt .mat-btn[disabled] {
  opacity: 0.4;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.03);
  background-color: rgba(0,0,0,0.1);
}


.cdk-overlay-pane .sh-context-menu--item {
  padding: 5px 10px;
}

.cdk-overlay-pane .sh-context-menu--item:hover {
  background-color: transparent;
}

.cdk-overlay-pane .sh-context-menu--item ol {
  padding-left: 0;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 24px;
  list-style: circle;
  list-style-position: inside;
}

.cdk-overlay-pane .sh-context-menu--item ol li {
  padding: 2px 10px;
  color: #000000;
}

.cdk-overlay-pane .sh-context-menu--item ol li:hover {
  background-color: #4b8bec;
  color: #ffffff;
}

.table-summary .b-mark {
  white-space: nowrap;
  min-width: 100px;
}

.table-summary .b-mark > span {
  float: left;
  font-size: 10px;
  color: #eee;
  // color: #989898;
  width: 25%;
}

bs-daterangepicker-container {
  position: fixed !important;
  display: block;
  top: 207px;
  left: auto !important;
  width: 600px;
  right: 0 !important;
}

@media all and (max-width:991px) {
  .table-responsive .mat-table {
    min-width: 870px;
  }
}

@media all and (max-width:900px) {
  .hambrg-wrp {
    display: block !important;
  }

  .auth-ui .form__title {
    font-size: 20px !important;
  }

  .login-capt h3 {
    font-size: 28px;
  }

  .bg-lgon {
    min-width: 50% !important;
  }

  .login-capt {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-fxd {
    left: 0px !important;
  }

  body .side-nav {
    left: -270px !important;
  }

  body .main-wrap {
    margin-left: 0px !important;
    padding-left: 15px !important;
    padding-left: 15px !important;
  }

  .showsidebar .side-nav {
    left: 0px !important;
  }

  .showsidebar .main-wrap {
    width: 100%;
    margin-left: 240px !important;
  }

  .showsidebar .nav-fxd {
    left: 240px !important;
    width: 100%;
  }

  .showsidebar {
    overflow-x: hidden;
  }
}

@media all and (max-width:767px) {
  .dashui .mat-horizontal-stepper-header {
    padding-left: 10px;
    padding-right: 0px;
  }

  .auto-login-cell .display-cell {
    display: inline-block;
    width: 100%;
  }

  .auto-login-main {
    position: static;
  }

  .brandlogo img {
    max-width: 75px;
  }

  .brandlogo {
    padding: 10px 15px;
  }

  .log-bg-lgon {
    padding: 40px 0px;
  }

  .nav-fxd .form-inline {
    margin: 0px !important;
  }

  .nav-fxd ul.navbar-nav {
    margin-left: auto !important;
  }

  .frm-head .mat-form-field-infix {
    display: none;
    position: absolute;
    left: 28px;
    top: -9px;
    padding: 8px 15px;
    background: #fff;
    z-index: 1;
  }

  .frm-head .mat-form-field-flex:hover .mat-form-field-infix {
    display: block;
  }

  .frm-head .mat-form-field-prefix {
    padding-top: 10px;
  }

  .nav-fxd .navbar-nav li:first-child {
    margin-left: 0px;
  }

  .modal-dialog {
    padding-left: 10px;
    padding-right: 10px;
  }

  .table-ui {
    overflow-x: auto;
  }

  .table-ui .mat-table {
    min-width: 800px;
  }

  .fltr-blk-col-sp > .row > div {
    margin-top: 0px;
    margin-bottom: 7px;
  }

  .flt-blk-bx {
    padding-bottom: 0px !important;
  }

  .fltr-blk-col-sp select.mat-input-element {
    margin-bottom: 0px !important;
  }

  body .fltr-blk-col-sp .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
    margin-top: -6px;
  }
}

@media all and (max-width:600px) {
  .org-set .mat-step-header .mat-step-label {
    padding-left: 15px;
    padding-right: 15px;
  }

  .head-title h2 {
    font-size: 22px;
  }

  .head-title .col-sm-8 {
    margin-bottom: 10px;
  }
}

@media all and (max-width:480px) {
  .org-set .mat-step-header .mat-step-label {
    min-width: 1px;
  }

  .login-capt {
    padding-left: 20px;
    padding-right: 20px;
  }

  .login-capt h3 {
    font-size: 22px;
  }

  .login-capt p {
    font-size: 17px;
  }
}

@media all and (max-width:575px) {
  .org-set .tbl-fm .mat-cstm {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .clnc-srt-wrp {
    margin-bottom: 20px;
  }

  .clnc-srt-wrp .mat-select {
    margin-top: 0px !important;
  }

  .dt-tp-spc .col-sm-4 {
    margin-bottom: 20px;
  }

  .org-set .mat-horizontal-stepper-header {
    vertical-align: top;
    width: 50%;
    display: inline-block;
    margin-right: -2px;
    border: 1px solid #ddd;
  }

  .org-set .mat-horizontal-stepper-header .paddingAccordian {
    padding: 0px;
  }

  .org-set .mat-horizontal-stepper-header-container {
    white-space: normal;
    width: 100%;
    display: inline-block;
  }

  .fltr-blk-col-sp {
    padding-right: 15px !important;
  }

  .fltr-btn-sch {
    position: static !important;
  }

  .fltr-blk-col-sp .btn {
    margin-left: 0px !important;
    margin-right: 20px !important;
  }

  .fltr-blk-col-sp .btn:last-child {
    margin-right: 0px !important;
  }
}

@media all and (max-width:400px) {
  .nav-fxd .nm-avt-wrp {
    display: none !important;
  }

  .auth-ui .form__title {
    font-size: 20px !important;
  }

  .org-set .mat-horizontal-stepper-header-container {
    white-space: normal;
    width: 100%;
    display: inline-block;
  }

  body .auth__inner__section {
    padding: 0px 20px !important;
  }

  .auth-ui .col-7.text-right {
    padding-left: 0px;
  }

  body .modal-body .auth__inner__section {
    padding: 0px !important;
  }
}

@media all and (max-width:320px) {
  .modal-title {
    font-size: 18px;
  }
}

.cursor {
  cursor: pointer;
}

body .org-set .mat-reset {
  cursor: pointer;
}

.side_full_body {
  .nav-fxd {
    left: 40px !important;
  }

  .side-nav {
    left: -160px !important;

    .logo-wrap {
      padding: 8px 11px;
      text-align: right;

      img {
        width: 20px;
      }
    }

    .side-menu {
      a {
        padding: 16px 8px !important;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        left: 0;

        i {
          float: right;
          margin-right: 3px;
        }

        &:hover {
          left: calc(100% - 40px);

          i {
            float: none;
            margin-right: 8px;
          }
        }
      }
    }
  }

  .main-wrap {
    margin-left: 40px !important;
  }
}

.sidebarBtn {
  width: 56px;
  position: fixed;
  right: -10px;
  top: 48px;
  z-index: 11;
  cursor: pointer;
}

.selected-row {
  color: red;
}

.table-patient-list .mat-cell i {
  margin: 0 3px;
}

.side_full_body .side-menu .drpdwn-cstm {
  position: absolute !important;
  left: 100% !important;
  top: 0px !important;
}

.side_full_body .side-menu .drpdwn-cstm a:hover {
  left: 0px !important;
}



.slct-flt-lbl .mat-form-field {
  width: 100%;
}

.slct-flt-lbl .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.slct-flt-lbl .mat-form-field-type-mat-native-select .mat-input-element, .slct-flt-lbl input.mat-input-element {
  border: 1px solid #ccc;
  background: #fff;
  padding: 9px 12px;
  border-radius: 3px;
  top: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.slct-flt-lbl .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
  right: 10px;
}

.slct-flt-lbl .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.slct-flt-lbl .mat-form-field-appearance-legacy .mat-form-field-label {
  font-size: 14px;
  padding-top: 3px;
  padding-left: 11px;
}

.slct-clnt-ui label {
  width: 100px;
  float: left;
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
}

.slct-flt-lbl .mat-form-field-label-wrapper {
  top: -11px;
}

.slct-flt-lbl .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0;
  padding-top: 0;
  margin-top: 0 !important;
  border-top: none;
}

.fltr-blk-col-sp select.mat-input-element {
  color: rgba(0, 0, 0, 0.54);
}

.fltr-blk-col-sp .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
  margin-top: 1.5px;
}

.last-center {
  text-align: center !important;
}

.fltr-blk-col-sp .mat-form-field-type-mat-input {
  padding-top: 1px;
}


.tbl-patient-chart .sb-tbl-colps {
  padding: 0px !important;
}

.tbl-patient-chart .sb-tbl-colps .table-responsive {
  margin-top: -2px;
  background: #fff;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: -4px;
}

.tbl-patient-chart .sb-tbl-colps .table-responsive table {
  margin-bottom: 0px;
  border: 1px solid #eee;
}

.tbl-patient-chart .sb-tbl-colps .table-responsive table th {
  color: #FFF !important;
  background: #7f7f7f !important;
  // background: #439BFF !important;
}
/******* DASHBOARD CHANGES (02.04.2019) *******/
html body {
  background: #f7f7f7;
}

.main-wrap .white-box {
  max-width: 1400px;
  margin: 0 auto;
}
/****** PATIENT CHART (26.03.2019) *******/
.card-blk-inwrp {
  margin-bottom: 25px;
}

.card-blk-inwrp .nav-tabs {
  display: table;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.card-blk-inwrp .nav-tabs li {
  display: table-cell;
  padding-left: 8px;
  padding-right: 8px;
}

.card-blk-inwrp .nav-tabs li a.btn {
  margin: 11px 0px;
  width: 100%;
  box-shadow: none;
  background: #007bff;
  color: #fff !important;
  opacity: 0.6;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  padding: 8px 15px;
}

.card-cstm {
  padding: 20px;
}

.card-head h3 {
  font-size: 15px;
  margin: 0px;
  font-weight: bold;
  color: #4d4f5c;
}

.prdr-rw {
  display: inline-block;
  width: 100%;
}

.prdr-rw h3 {
  border-bottom: 1px solid #dfdfdf !important;
  padding-bottom: 15px !important;
}

.prdr-rw p {
  padding-left: 15px;
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 0;
}

body .hidethis-fornow {
  display: none;
}

.card-blk-inwrp .nav-tabs li.active a.btn {
  opacity: 0.8;
}

.min-gd-ht {
  min-height: 482px;
}
/****** /PATIENT CHART (26.03.2019) *******/
/****** TABLE COMMON (27.03.2019) *******/
.table-ux table.table > thead > tr > th {
  background: #676767;
  // color: #a3a6b4 !important;
  color: #fff !important;
  border-bottom: none !important;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 20px;
}

.table-ux table.table td {
  color: #7F818C;
  font-size: 13px;
  border-bottom: 1px solid #F1F1F3;
  padding: 10px 15px;
  // border-bottom: 1px solid #F1F1F3;
  font-weight: 400;
}

.table-ux table.table > tbody > tr > td {
  position: relative;
  font-weight: 400;
  color: #7F818C;
  border-left: none;
  border-right: none;
}

.table-ux table.table .table-ux-child td:first-child {
  padding-left: 34px;
}

.table-ux table.table .table-ux-child td {
  position: relative;
  background: #f5f6fa;
  // text-transform: uppercase;
  background: none;
  border: none;
  // text-transform: uppercase;
}

.table-ux table.table .table-ux-subchild td:first-child {
  padding-left: 80px;
  padding-left: 50px;
}

.toggle-row {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #4285f4;
  color: #4285f4 !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 6px !important;
}

.toggle-row .fa {
  font-size: 11px;
}

.inr-et-rw {
  display: inline-block;
  width: 100%;
}

.inr-et-rw p {
  margin-bottom: 0px;
}

.inr-et-chldrw:before {
  position: absolute;
  content: "";
  width: 52px;
  width: 35px;
  background: none;
  left: 0px;
  top: -2px;
  bottom: -2px;
}

.inr-et-subchldrw:before {
  width: 96px;
  width: 35px;
}

.table-ux table.table .table-ux-subchild td {
  position: relative;
  background: #edeff5;
  color: #7F818C;
  // color: #6b7186;
  background: none;
  font-weight: 400;
  border: none;
}

.action-sub-child:before {
  position: absolute;
  content: "";
  width: 60px;
  background: #f5f6fa;
  width: 35px;
  background: none;
  right: 0px;
  top: -2px;
  bottom: -2px;
  border-left: 1px solid #dfdfdf;
  border-left: none;
}

.action-child:before {
  position: absolute;
  content: "";
  width: 52px;
  background: none;
  right: 0px;
  top: -2px;
  bottom: -2px;
}

.table-ux-child .toggle-row {
  width: 18px;
  height: 18px;
  margin-top: 1px;
  margin-right: 6px !important;
  line-height: 15px;
}

.table-ux-child .toggle-row .fa {
  font-size: 9px;
}

.action-row a {
  width: 22px;
  margin-right: 8px !important;
  text-align: center;
  display: inline-block;
  height: 22px;
  // border: 1px solid #4285f4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
}

.action-row a:last-child {
  margin-right: 0px !important;
}

.action-row a .fa {
  font-size: 15px;
  color: #7F818C;
}

.cl-tbl-blx {
  padding: 0px !important;
}

.action-child .action-row {
  opacity: 1;
}

.action-child .action-row a .fa {
  color: #7F818C;
  font-size: 15px;
}


.action-child .action-row a {
  line-height: 16px;
  width: 18px;
  height: 18px;
  border-color: #555;
  // border-color: #555;
}

.action-sub-child .action-row {
  opacity: 1;
}

.action-sub-child .action-row a .fa {
  font-size: 15px;
  color: #777;
}
// .action-sub-child .action-row a .fa {
//   font-size: 10px;
//   color: #777;
// }

.action-sub-child .action-row a {
  width: 18px;
  width: 22px;
  line-height: 15px;
  height: 18px;
  border-color: #777;
}

.tr-chld-rpt {
  display: none;
}

.tr-subchld-rpt {
  display: none;
}

.head-title .btn.btn-primary {
  font-size: 13px;
}

.head-title .btn.btn-primary.ccda1 {
  background: #3cd795 !important;
}

.nav-fxd .navbar-nav .fa-comments ~ .badge {
  background: #ff692a !important;
}

.nav-fxd .navbar-nav .fa-bell ~ .badge {
  background: #ff692a !important;
}

.ptsrch-top-head .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.ptsrch-top-head .mat-form-field {
  width: 100%;
}

.ptsrch-top-head .mat-form-field-flex {
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.ptsrch-top-head .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-top: 0px !important;
}

.fltr-blk-col-sp > .row > div {
  padding-right: 0px;
}

.fltr-blk-col-sp > .row > div .col-sm-6 {
  padding-right: 0px;
}

.fltr-blk-col-sp {
  padding-right: 200px;
  position: relative;
}

.fltr-blk-col-sp .btn {
  PADDING: 8px 15px !important;
  margin-left: 15px;
  margin-right: 0px;
  box-shadow: none;
  font-weight: 600;
  background: #02a7fa;
}

.fltr-btn-sch {
  position: absolute;
  right: 0px;
  top: -6px;
}

.fltr-org-glblk {
  padding-right: 230px;
  margin-bottom: 6px;
}

.fltr-org-glblk > .row > div {
  padding-right: 8px;
}

.slct-flt-lbl .fltr-org-glblk input.mat-input-element {
  min-height: 37px;
}

.action-child .action-row a .fa {
  font-size: 15px;
}
// .action-child .action-row a .fa{ color: #555; font-size: 10px;}
.action-child .action-row a .fa-pencil, .action-sub-child .action-row a .fa-pencil {
  padding-left: 2px;
}

.action-child .action-row a {
  line-height: 14px;
  width: 18px;
  height: 18px;
  border-color: #555;
}

.action-child .action-row a {
  line-height: 14px;
  width: 22px;
  height: 18px;
  border-color: #555;
}

.action-sub-child .action-row a {
  width: 18px;
  line-height: 15px;
  height: 18px;
  border-color: #777;
}

.action-sub-child .action-row a {
  width: 22px;
  line-height: 15px;
  height: 18px;
  border-color: #777;
}

.tr-chld-rpt {
  display: none;
}

.tr-subchld-rpt {
  display: none;
}

.head-title .btn.btn-primary {
  font-size: 13px;
}

.head-title .btn.btn-primary.ccda1 {
  background: #3cd795 !important;
}

.table-goal-rpt td {
  border-top: none !important;
}

.tabset-wrap-ovt .tbl-patient-chart table {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border: 1px solid #ddd;
  border-top: none;
}
/****** /TABLE COMMON (27.03.2019) *******/
/****** DASHBOARD UPDATE (29.03.2019) *******/
.table-responsive.table-summary td a, .table-responsive.table-summary th h3, .table-responsive.table-summary td {
  font-size: 13px !important;
}

.table-summary .b-mark > span {
  font-size: 12px;
}

body .btn.btn-sm {
  font-size: 13px;
}
/****** /DASHBOARD UPDATE (29.03.2019) *******/
/****** SUB TABLE (04.04.2019) *******/
.expnd-table-sub {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -1px;
  background: #f4f4f4;
  padding-top: 20px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.expnd-table-sub .nav-tabs {
  margin-bottom: 15px;
}

.tabset-wrap .expnd-table-sub .tabset li a {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -ms-box-shadow: none !important;
  font-size: 13px !important;
  padding: 10px 22px !important;
  background: #fff;
  margin-right: -10px;
  color: #A3A6B4 !important;
  padding-top: 12px !important;
}

.tabset-wrap .expnd-table-sub .tabset li.active a {
  color: #fff !important;
  background: #439BFF !important;
}

.fltr-blk-col-sp .btn:hover {
  color: #fff;
}
/****** SUB TABLE (04.04.2019) *******/


.cstmz-gl-rw > td {
  // background: #fbfbfb !important;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.cstmz-gl-rw > td > table tr:last-child td table {
  // margin-bottom: 20px;
  border-bottom: none;
}

.table-ux-child > td {
  border: none;
}

.cl-tbl-blx {
  padding: 0px !important;
}

.inr-et-subchldrw:before {
  background: #f5f6fa;
  border-right: 1px solid #dfdfdf;
  width: 60px;
  background: none;
  border-right: none;
  width: 35px;
}

.table-overflow-hd {
  overflow-x: visible !important;
}

/********** PATIENT CHART PANEL TOGGLE***********/
.menu-bars {
  width: 38px;
  top: 8px;
  height: 30px;
  position: absolute;
  padding: 6px;
  right: 30px;
}

.menu-steps {
  width: 100%;
  margin: 5px 0px;
  height: 3px;
  opacity: 0.4;
  background: #007bff;
}

.menu-step2 {
  width: 80%;
}

.menu-step3 {
  width: 60%;
}

.hidesidepanel .side-panel-blck {
  display: block;
}

.hidesidepanel .side-drag {
  width: 100px;
  margin-top: -15px;
}

.hidesidepanel .content-drag {
  max-width: 100%;
  width: auto;
  float: none;
  display: block;
  margin-left: 0px;
}
// .hidesidepanel .side-drag .sm-content-bx{ display: none;}
.hidesidepanel .side-drag h3, .hidesidepanel .side-drag .more-info-wrap {
  display: none;
}

.hidesidepanel .menu-bars {
  left: 30px;
  right: auto;
  top: 10px;
  z-index: 1;
}

.hidesidepanel .card-blk-inwrp .nav-tabs {
  padding-left: 255px;
}

.hidesidepanel .user-info-bx img.img-rounded {
  top: 4px !important;
  width: 30px !important;
  height: 30px !important;
  left: 10px !important;
}

.hidesidepanel .user-info-bx {
  max-width: 192px;
  top: 11px;
  box-shadow: 0px 0px 5px 0px #ccc;
  background: #fff;
  border-radius: 30px;
  white-space: nowrap;
  padding: 6px 10px !important;
  padding-left: 50px !important;
  left: 75px;
  position: absolute !important;
  z-index: 1;
}

.hidesidepanel .user-info-bx .list-group .list-group-item:nth-child(2) {
  display: none;
}

.hidesidepanel .user-info-bx .list-group .list-group-item {
  font-size: 12px !important;
  margin-bottom: -4px !important;
}

.hidesidepanel .menu-bars:focus {
  outline: none;
}
/********** /PATIENT CHART PANEL TOGGLE***********/
body .dash-blk-top {
  margin-top: 8px;
  padding-right: 30px;
}

body .pt-blk-top {
  margin-top: -7px;
  padding-right: 40px;
}

.user-info-bx .list-group {
  margin-top: -3px;
}

.tbl-sort-icons .sort-nm-val {
  margin-top: -5px;
}

.tbl-sort-icons .org-nm-col .sort-nm-val .fa-sort-up {
  margin-top: 3px;
}

.tbl-sort-icons .sort-nm-val .fa-sort-up {
  margin-top: 8px;
}

.tbl-sort-icons .org-nm-col .sort-nm-val {
  margin-top: -1px;
}
/********** CHECKBOX CUSTOM ***********/
.chk-cstm .mat-checkbox-layout {
  margin-bottom: 0px;
}

.chk-cstm .mat-checkbox-frame {
  border-color: #bbb;
  border-width: 1px;
}

.chk-cstm-wt .mat-checkbox-frame {
  border-color: #fff !important;
  border-width: 1px;
}

.chk-cstm.mat-checkbox-checked .mat-checkbox-frame {
  border-color: #02a7fa;
}

.chk-cstm .mat-checkbox-layout .mat-checkbox-label, .chk-cstm-wt .mat-checkbox-layout .mat-checkbox-label {
  line-height: 20px;
}

.chk-cstm.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.chk-cstm.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.chk-cstm .mat-checkbox-checkmark-path {
  stroke: #02a7fa !important;
}

.chk-cstm-wt.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.chk-cstm-wt.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.chk-cstm-wt .mat-checkbox-checkmark-path {
  stroke: #fff !important;
}

.chk-cstm-wt .mat-checkbox-checkmark {
  top: 1px;
  left: 1px;
  right: 1px;
  width: auto;
}

.chk-cstm .mat-checkbox-checkmark {
  top: 1px;
  left: 1px;
  right: 1px;
  width: auto;
}
/********** /CHECKBOX CUSTOM ***********/
.sm-content-bx.scb-care {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}

.sm-content-bx.scb-care .scb-wrap {
  padding-top: 6px;
}

body .multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 5px solid #adadad !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}

.msrmnt-head-spc div {
  display: inline-block; padding-right:15px;
}

.msrmnt-head-spc {
  position: relative;
}

.msrmnt-head-spc .setting-icon-wrap {
  position: absolute;
  right: 10px; padding-right:0px;
}
/********* ORGANIZATION SETUP UPDATE *********/
.dc-ui-updt .tbl-fm {
  padding: 0px;
}

.dc-ui-updt .table-ui {
  padding: 0px;
}

.dc-ui-updt .wrap-inx {
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 5px 0px #ccc;
  -webkit-box-shadow: 0px 0px 5px 0px #ccc;
  -ms-box-shadow: 0px 0px 5px 0px #ccc;
}

.dc-ui-updt .mat-expansion-panel {
  margin-bottom: 15px;
}

.org-set-tab {
  background: none !important;
}

.org-set-tab li button {
  padding-bottom: 13px !important;
  padding-top: 13px !important;
  background: #fff !important;
  font-weight: 400 !important;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #ccc;
  color: #02A7FA !important;
}
/********* /ORGANIZATION SETUP UPDATE *********/
.body-scroll {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.body-scroll .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(156,163,182, 0.8) !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(156,163,182, 0.8) !important;
}

.inner-wrap .inner-wrap, .inner-wrap.inner-wrap-ovt {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}

.no-shadow-box {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
// .white-box .inner-wrap{ box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}
.shadow-box {
  box-shadow: 0px 0px 5px 0px #ccc;
  -webkit-box-shadow: 0px 0px 5px 0px #ccc;
  -ms-box-shadow: 0px 0px 5px 0px #ccc;
}

.wrap-inx .wrap-inx {
  padding: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
/********** SEARCH INPUT DESIGN ***********/
.dc-ui-updt .tbl-fm .mat-form-field-appearance-legacy .mat-form-field-infix {
  text-transform: capitalize;
  padding-top: 0px;
  border-top: none;
}

.org-set .dc-ui-updt .tbl-fm .mat-select {
  margin-top: 0px;
}

.inner-wrap .mat-elevation-z8 {
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}

.org-goal-fltr .form__input, .org-goal-fltr .mat-select {
  border: 1px solid #ccc;
  background: #fff;
  padding: 7px 12px;
  border-radius: 3px;
  top: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.org-goal-fltr .slct-al-bk {
  width: 100%;
}

.org-goal-fltr {
  position: relative;
  padding-left: 50px;
}

.add-org-pop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 16px;
}

.add-org-pop a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  padding-top: 7px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #02a7fa;
  color: #fff !important;
}

.org-goal-fltr-wrp {
  padding: 10px 15px;
  background: #f6f6f6;
  margin-bottom: 20px;
}

.head-title .slct-al-bk {
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

.mdl-slct-bd .slct-al-bk {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

body .mdl-spcrt {
  padding-left: 25px;
  padding-right: 25px;
}

.angular-editor-toolbar {
  display: none
}
/********** /SEARCH INPUT DESIGN ***********/
/********** GOAL POPUP DESIGN ***********/
.incdecqt .mat-cstm {
  padding: 10px 18px !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
}

.incdecqt .mat-form-field-underline {
  display: none;
}

.incdecqt .mat-input-element {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.incdecqt .mat-form-field-appearance-legacy .mat-form-field-label {
  text-align: center;
}

.incdecqt .mat-form-field-infix {
  border-top: none;
}

.incdecqt .mat-form-field-flex {
  border: 1px solid #02a7fa;
  border-radius: 3px;
}

body .mdl-slct-bd {
  margin-bottom: 25px;
  margin-top: 10px;
}
/********** /GOAL POPUP DESIGN ***********/
.btn-bl-set .mat-btn {
  padding: 0.5rem 1.6rem !important;
  border: none;
  background: #02a7fa !important;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 14px;
}

.org-set .tbl-fm .clnc-srt-wrp {
  margin-top: -7px;
}

.head-title .mat-org:hover {
  background: #02a7fa;
  opacity: 0.7;
  color: #fff !important;
}

.table-ui .mat-header-cell .mat-sort-header-arrow {
  color: #ffffff;
}

body .modal-header {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

button.apply_button {
  padding: 0.5rem 1.6rem;
}
/********** /GOAL POPUP DESIGN ***********/
/********** SEARCH INPUT DESIGN OVERIDE ***********/
/*body .cls-wrp[_ngcontent-c6] input.mat-input-element[_ngcontent-c6] {border-bottom: none !important;}
body .cls-wrp .mat-form-field-underline { display: block; width: auto; right:0px; bottom: -6px; background: #ccc; left: 23px;}
body .cls-wrp.mat-focused .mat-form-field-ripple{ background: #02A7FA !important;}*/
/********** /SEARCH INPUT DESIGN OVERIDE ***********/
.org-goal-ovt {
  display: inline-block;
  width: 100%;
}

.org-goal-bk {
  float: left;
}

.org-goal-ovt .org-goal-fltr {
  margin-left: 105px;
}

.org-goal-bk .mat-btn {
  cursor: pointer;
  background: #dbdce2;
  color: #43425d;
  border: none;
  font-size: 13px;
}

.org-goal-bk .mat-btn i {
  margin-right: 10px;
  margin-left: 0px;
}

body .fltr-btn {
  background-color: #3cd795 !important;
}

.mlt-slt-drp .multiselect-dropdown .dropdown-btn .selected-item {
  border-color: transparent !important;
  background: #6ac3e0 !important;
}



.dc-ui-updt .mat-expansion-panel {
  overflow: visible;
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div::before {
  background: #02A7FA !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div::before {
  color: #02A7FA !important;
  border-color: #02A7FA !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-up {
  border-bottom-width: 5px !important;
  border-left-width: 5px !important;
  border-right-width: 5px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #02a7fa;
}

.btn-bl-set {
  margin-bottom: 10px;
}

.sr-dlt-org {
  font-size: 19px;
  color: #999;
  margin-top: 10px;
}

.head-title svg {
  cursor: pointer;
}

.head-title svg:hover {
  opacity: 0.7;
}

body .theme-green .bs-datepicker-head {
  background-color: #06BDF9;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]::after, .theme-green .bs-datepicker-body table td[class*="select-"] span::after {
  background-color: #06BDF9;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #06BDF9;
}

.side_full_body .side-nav .side-menu a i {
  height: 20px;
  line-height: 20px;
}

.side_full_body .side-nav .side-menu a {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.mt-0 {
  margin-top: 0px;
}

.table-goal-rpt .table tbody + tbody {
  border-top: none;
}
/********** /GOAL POPUP DESIGN ***********/
/******* CARE PLANNING *******/
.tbl-ckbx .mat-checkbox-layout .mat-checkbox-label {
  line-height: 20px;
}

.tbl-ckbx .table {
  table-layout: fixed;
}

.tbl-ckbx .mat-checkbox-layout {
  white-space: normal;
  margin-bottom: 0px;
  align-items: flex-start;
}

.tbl-ckbx .fa-clock-o {
  font-size: 15px;
  color: #ababab;
}

.mat-act-lst {
  padding: 0px;
  list-style: none;
}

.mat-act-lst li {
  margin-bottom: 8px;
}

.mat-act-lst .mat-cstm {
  font-size: 13px;
  padding: 7px 20px !important;
  cursor: pointer;
  width: 100%;
  color: #02a7fa !important;
  border: 1px solid #02a7fa !important;
  background: #fff;
  border: none;
}

.mat-act-lst .mat-cstm:hover {
  background: #02a7fa !important;
  color: #fff !important;
}

.tbl-ckbx table.table > thead > tr > th {
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  background: #676767;
  color: #fff !important;
  // background: #f6f7fb;color: #8F9098 !important;
}

.tbl-ckbx table td a {
  color: #02a7fa;
  font-weight: 600;
}

.tbl-ckbx table td a .fa {
  font-size: 16px;
  margin-right: 3px;
  margin-top: 2px;
  vertical-align: top;
}

.table-ui .mat-header-cell .mat-sort-header-button {
  text-transform: uppercase;
}
/******* /CARE PLANNING *******/
.tbl-ckbx .mat-checkbox-inner-container {
  margin-top: 2px;
  margin-bottom: 0px;
}

.width42 {
  width: 37%;
}

.width20 {
  width: 20%;
}

.width12 {
  width: 12%;
}

.width26 {
  width: 31%;
}

.goal-width {
  width: 70px;
  text-align: center;
}

.blk-stc-head {
  width: 110px;
}

.stc-wdth60 {
  width: 60px;
}

.auth-ui .mat-btn:hover {
  background: #02a7fa;
  color: #fff;
  opacity: 0.7 !important;
}

.auth-ui .mat-btn {
  cursor: pointer !important;
  font-size: 14px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
}

.auth-ui .forget:hover {
  color: #02a7fa !important;
  text-decoration: underline !important;
}

.table-ui mat-row {
  min-height: 1px;
  align-items: flex-start;
}

.table-ui mat-cell {
  align-items: flex-start;
}

.table-ui .cdk-column-Action i {
  margin-top: 5px;
}

.table-summary td a {
  white-space: normal;
  max-width: 100%;
}

.clear-link {
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  right: 28px;
  font-size: 14px;
  top: 12px;
  color: #02a7fa;
  font-weight: 400;
  cursor: pointer;
}

.filter-height input.mat-input-element, .filter-height .mat-select-value-text {
  font-size: 14px;
}

.filter-height .mCSB_inside > .mCSB_container {
  margin-right: 25px;
}

.tbl-srch-fltr {
  margin-top: 0px;
}

.prvd-ovt-ui p {
  margin-bottom: 0px;
}

.org-head-in {
  margin-bottom: 0px;
}

.cls-wrp .mat-form-field-label-wrapper {
  top: -20px;
}

.dc-ui-updt .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-bottom: -0.9em;
}

.dc-ui-updt .org-head-in {
  margin-bottom: 15px !important;
}

.dc-ui-updt .mat-expansion-panel .mat-expansion-panel-header {
  max-height: 50px;
}

.dc-ui-updt .tbl-fm .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-bottom: 0px;
}

.mt-15 {
  margin-top: 15px;
}

.bk-btn-adst {
  margin-top: 15px;
  margin-bottom: -62px;
}

body .infobox {
  vertical-align: middle;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  padding-top: 2px;
  color: #bebebe;
  margin-left: 6px;
  position: absolute;
  right: 60px;
  font-size: 18px;
  color: #999;
}

.linkto-editOrganization {
  cursor: pointer;
}

.body-scroll .mCSB_scrollTools {
  margin-top: 0px;
  margin-bottom: 0px;
}

.org-goal-fltrovt .mat-btn {
  font-size: 14px !important;
}

.tb-pt-ui .table td {
  border: none !important;
  vertical-align: top !important;
}

.tb-pt-ui > .table > tbody > tr > td {
  border-bottom: 1px solid #F1F1F3 !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-pb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.filter-height .sbmt-pp {
  min-width: 94%;
}

.sngl-btn-bl-set .mat-btn {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.ind-wd-isc .mat-input-element {
  height: 23px;
}

.sure-dlt {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 25px;
  color: #777;
  margin-top: 15px;
}

body .max-input-sz {
  max-width: 250px;
}

.arrow-ptbtn {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 2px;
  font-size: 25px;
}

.arrow-ptbtn i {
  color: #aaa;
}

.tb-pt-ui td {
  position: relative;
}


.table-ux table.table .table-ux-subchild > td {
  border-top: 1px solid #F1F1F3 !important;
}

.table-ux table.table .table-ux-child > td {
  border-top: 1px solid #f1f1f3 !important;
}

.table-goal-rpt .table-ux .table tbody + tbody {
  border-top: 1px solid #f1f1f3;
}

.sidebarOuter .apply_button {
  background: #02a7fa;
  color: #fff;
}

.btn-bl-set.text-center .submit.mat-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.tb-pt-ui table table {
  display: none;
}

.tb-pt-ui table td.tableshow table {
  display: table;
}

.rotatearw.arrow-ptbtn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}


/***** INSTANT CHAT (18.04.2019) *****/
.mail-side-panel {
  width: 260px;
  float: left;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px #ccc;
}

.app-content {
  // margin: 30px;
  .action-panel {
    & > .list-group {
      margin-top: 15px;
      text-align: left;

      & > h4 {
        margin: 0px 10px 0px 5px;
        font-family: inherit;
        font-weight: 500;
        font-size: 20px;
        color: #6a6c6f;
      }

      & > a {
        color: #6a6c6f;
        font-size: 15px;
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;

        &:hover {
          background-color: #f5f7f9;
        }

        & > i {
          margin: 0px 10px 0px 15px;
        }
      }
    }
  }

  .action-panel-header > a {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    background: #02a7fa;
    box-shadow: 0 1px 3px #ccc;
    display: inline-block; vertical-align: top;
    text-align: center; min-height: 40px;

    &:hover {
      background-color: #02a7fa; opacity: 0.7;
    } 
  }

  .mail-toolbar {
    margin-bottom: 15px;

    & > .filter {
      display: inline;
      position: relative;

      & > button {
        padding: 8px 16px;
        box-shadow: 0 1px 3px #ccc;
        background: #fff;
        outline: none;
        border: none;
        position: relative;
        font-size: 15px;
        border-radius: 4px;
        cursor: pointer;
        color: #6a6c6f;

        &:hover {
          box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
          background-color: #e7e7e7;
          border-color: #adadad;
        }

        & > span > .fa-down {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px solid #6a6c6f;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
        }
      }

      & > .drop-down-filter {
        display: none;
        position: absolute;
        z-index: 1000;
        margin: 2px 0 0;
        min-width: 160px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        left: 0;

        & > li {
          list-style: none;

          & > a {
            text-decoration: none;
            font-size: 15px;
            color: #333;
            display: block;
            padding: 6px 16px;

            &:hover {
              background-color: #f5f7f9;
            }
          }
        }
      }
    }

    & > .delete {
      display: inline-block;
      margin-left: 15px;

      #trash {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        text-decoration: none;
      }

      #exclamation {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      & > a {
        padding: 8px 16px;
        box-shadow: 0 1px 3px #ccc;
        background: #fff;
        outline: none;
        border: none;
        position: relative;
        font-size: 15px;

        &:hover {
          background-color: #e7e7e7;
        }

        & > i {
          color: #6a6c6f;
        }
      }
    }

    & > .refresh {
      margin-left: 15px;
      padding: 8px 16px;
      box-shadow: 0 1px 3px #ccc;
      background: #fff;
      outline: none;
      border: none;
      position: relative;
      font-size: 15px;
      color: #6a6c6f;
      border-radius: 4px;
      border-radius: 4px;

      &:hover {
        background-color: #e7e7e7;
      }
    }

    & > .pull-right {
      display: inline-block;
      line-height: 33px;
      margin-right: 15px;

      & > #angle-l {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        text-decoration: none;
      }

      & > #angle-r {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        text-decoration: none;
      }

      & > a {
        padding: 8px 16px;
        box-shadow: 0 1px 3px #ccc;
        background: #fff;
        outline: none;
        border: none;

        &:hover {
          background-color: #e7e7e7;
        }

        & > i {
          color: #6a6c6f;
          font-size: 20px;
          font-weight: 900;
        }
      }
    }
  }

  .mail-item {
    & > .mail-list {
      background: #fff;
      margin-bottom: 6px;
      padding: 14px 16px;
      display: inline-block;
      width: 100%;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #eee;
      box-shadow: 0 0 1px rgba(0,0,0,.15);

      & > .mail-container {
        min-width: 100%;

        .avatar {
          float: left;
          width: 46px;
          height: 46px;
          margin-right: 15px;
          border-radius: 50%;
          overflow: hidden;
          border:2px solid #dadada;
          img {
            max-width: 100%;
            height: 100%;
          }
        }

        .center {
          display: inline-block;
          width: calc(100% - 185px);

          & > p {
            max-width: 100%;
            color: #777;
            margin-bottom: 0;
            font-size: 14px;
          }

          & > div {
            & > h4 {
              display: inline-block;
              margin: 0px 16px 15px 0; margin-right:40px;
              margin-bottom: 0px;
              font-size: 15px;
              font-weight: 400;
            }

            & > a {
              text-decoration: none;
              color: #fff;
            }
          }
        }

        & > .right {
          color: #999;
          padding-left: 24px;
          float: right;
          width: 80px;

          & > a > i {
            font-size: 12px;
            padding-left: 20px;
            padding-top: 15px;
          }

          p {
            margin-bottom: 0px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.mail-content-bx {
  margin-left: 280px;
}

.pt-inner-wrap .table-ui .mat-header-cell .mat-sort-header-arrow {
  color: #fff !important;
}

[data-marked="true"] {
  &:before {
    content: "\f005";
    color: #F9C851;
  }
}

[data-marked="false"] {
  &:before {
    content: '\f006';
    color: #000;
  }
}

[data-color="red"] {
  color: #ff5b5b;
}

[data-color="yellow"] {
  color: #f9c851;
}

[data-color="blue"] {
  color: #188ae2;
}

[data-color="green"] {
  color: #10c469;
}

[data-box="green"] {
  padding: 2px 4px 3px;
  font-size: 75%;
  border-radius: 4px;
  background-color: #10c469;
}

[data-box="red"] {
  padding: 2px 4px 3px;
  font-size: 75%;
  border-radius: 4px;
  background-color: #ff5b5b;
}

[data-box="yellow"] {
  padding: 2px 4px 3px;
  font-size: 75%;
  border-radius: 4px;
  background-color: #f9c851;
}

[data-box="blue"] {
  padding: 2px 4px 3px;
  font-size: 75%;
  border-radius: 4px;
  background-color: #188ae2;
}
/***** /INSTANT CHAT (18.04.2019) *****/
.tabset-wrap table th {
  background: #676767 !important;
  color: #fff !important;
}

.bmrk-prcnt-bx > span {
  width: 22.6% !important;
}

.fltr-blk-col-sp.fltr-blk-sp-lab .mat-form-field-suffix {
  position: absolute;
  right: 7px;
  top: 5px;
}

div.mat-calendar-controls {
  margin-top: 0px;
  margin-bottom: 0px;
}

div.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: #02a7fa;
  background: #02a7fa;
  color: #fff;
}
.prgrs-comn {
  border-top-left-radius: 5PX;
  border-BOTTOM-left-radius: 5PX;
}
.mat-calendar-body-today {
  background: #02a7fa !important;
  color: #fff !important;
}
div.mat-calendar-body-selected {
  background-color: #a1a1a1;
}
.od-blk-bx.mat-table input[type="checkbox"] {
  margin-top: 3px;
  margin-right: 5px;
}
.od-blk-bx .mat-column-TestPerformed {
  white-space: nowrap; flex: 0 0 20%;
}
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

.sms-list-bx {
  width:260px;
  float: left;
  
  .search {
    padding:0px; position: relative; margin-bottom: 15px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding:8px 14px;
    color: white; border: 1px solid #ddd;
    background: #fff;
    width: 100%;
    font-size: 14px;
  }
  
   .fa-search {
    position: absolute;
    right: 15px;
    top: 10px; color: #999;
}
  
  ul {
    padding: 20px;
    height: 770px;
 
    
    
    
    li {
      padding-bottom: 20px;
    }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}
.chat ul{
  list-style: none; padding:0px;
}
.sms-list-bx{
  padding: 15px;background: #fff; box-shadow: 0px 0px 5px 0px #ccc; -webkit-box-shadow: 0px 0px 5px 0px #ccc; -ms-box-shadow: 0px 0px 5px 0px #ccc;
}
.chat {
  background: #fff; box-shadow: 0px 0px 5px 0px #ccc; -webkit-box-shadow: 0px 0px 5px 0px #ccc; -ms-box-shadow: 0px 0px 5px 0px #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  color: #434651;
  
  .chat-header {
    padding:10px 20px;
    border-bottom: 1px solid #eee;
    
    img {
      float: left;
    }
    
    .chat-about {
      padding-left: 10px;
      margin-top: 0px;
      margin-left:45px;
      .mat-form-field{
        width: 100%;
      }
    }
    
    .chat-with {
      font-weight: 400;
      font-size: 16px;
      padding-top:3px;
    }
    
    .chat-num-messages {
      color: #92959E;
      font-size: 14px;
      margin-top: -5px;
    }
    
  }
  
  .chat-history {
    padding: 20px;
    border-bottom: 2px solid white;
    height: 400px;
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px; font-size: 14px;
    }
    
    .message {      
      color: #232323;
      padding: 10px 20px;
      line-height: 18px;
      font-size: 14px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #b7e7ff;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: #b7e7ff;
    }
    
    .other-message {
      background:#ccc;
      
      &:after {
        border-bottom-color: #ccc;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px; position: relative; padding-bottom: 0px; padding-top: 0px;    
    textarea {      width: 100%;      border: none;      padding: 10px 20px;      margin-bottom: 10px;      border-top:1px solid #eee;
      resize: none;      padding-left: 0; font-size: 14px;    padding-right: 0;    height: 80px; margin-bottom: 0px;      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
          font-size: 18px;
          text-transform: uppercase;
          border: none;
          cursor: pointer;
          font-weight: bold;
          background: #02a7fa;
          width:50px;
          height:50px; top:50%;
          right: 20px; padding:0px !important;
          border-radius: 50%;
          color: #fff; position: absolute;
          transform: translate(0, -50%);
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  


.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.bx-sms-panel .sms-list-bx {
    width: auto;
    float: none;
}
.message-data .fa{ color: #b7e7ff; }
.message-data.align-right .fa{ color: #ccc;}
.chat-avt{ width:40px; height: 40px; margin-top:4px; float: left; border-radius: 50%; -webkit-border-radius: 50%; -ms-border-radius: 50%; overflow: hidden;}
.chat-avt img{ max-width: 100%;}

.mat-calendar-body-today{ background: #02a7fa !important; color:#fff !important;}
div.mat-calendar-body-selected {background-color: #a1a1a1;}
.input-border .mat-form-field-infix{ padding: 0px; border:none; margin-top:6px;}
.input-border input.mat-input-element { height: 36px; padding: 8px 15px; border: 1px solid #ddd;border-radius: 3px; -webkit-border-radius: 3px; -ms-border-radius: 3px;}
.input-border .mat-form-field-underline{ display: none;}
.input-border.mat-form-field-appearance-legacy .mat-form-field-label{ padding-left:15px !important;}
.input-border.mat-form-field-appearance-legacy .mat-form-field-wrapper{ padding-bottom: 0px;}
.mail-content-bx .mCSB_inside > .mCSB_container{ margin-right:15px;}
.message-data-name { font-size: 14px; font-weight: 400;}
.tb-pt-ui table table td:last-child{ padding-right:34px !important;}
.content-drag .card-blk-inwrp .nav-tabs li{width:50%; display: inline-block; max-width: 240px;}
body .modal-md-md{ max-width:560px;}
.cp-frm-blk label{font-size:14px; color:#797979; margin-bottom:2px;}
.cp-frm-blk p{ font-size: 16px; margin-bottom:0px; font-weight:400; color:#555;}
.org-ms-mdl .mat-select-value{ font-size:14px; }
.ms-dfn-gl p{ text-transform: capitalize;}
.dfn-gl-lbl label{ padding-top: 5px;}
.dfn-gl-ipt{ max-width:140px;}
.mat-cmn-btn{padding: 0.5rem 1.6rem; border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; background: #02a7fa ; font-size: 14px; border:none; color:#fff;}
.cp-frm-fmgrp{ margin-bottom:-15px !important;}
/************ MESSAGE (26.04.2019) ************/
.mt-10{ margin-top:10px;}


.mdl-slct-msg .form-group{ margin-bottom:0px;}
.mdl-slct-msg .mat-form-field-appearance-legacy .mat-form-field-infix{font-size: 14px; padding: 12px 15px; padding-left:0px; border-bottom: 1px solid #ddd;}
.mdl-slct-msg .mat-form-field-appearance-legacy .mat-form-field-label {padding-top: 6px;padding-left: 0px;}
.mdl-slct-msg .mat-form-field-appearance-legacy .mat-form-field-underline{ display: none;}
.mdl-slct-msg h4 { font-size: 15px; font-weight: 400; color: #02a7fa;  border-bottom: 1px solid #02a7fa;
    display: inline-block; padding-bottom: 3px; margin-bottom: 0px; text-transform: uppercase;}
.mdl-slct-msg textarea{ height: 140px;}
body .mdl-slct-msg{ padding-left:25px; padding-right:25px;}
body .pt-mdl-mftr{ padding-top:0px; padding-left:25px; padding-right:25px; border:none;}
.mdl-slct-msg .mat-form-field-appearance-legacy .mat-form-field-wrapper{ padding-bottom: 0px;}
/************ /MESSAGE (26.04.2019) ************/
.box-card{ padding: 15px 25px; padding-bottom:25px; background: #fff; max-width:500px; margin:0 auto; }
.atrbt-ui{ margin-top:40px;}
.atrbt-ui .mat-form-field{ width: 100%;}
.atrbt-ui button{ margin-left:0px;}
.atrbt-ui .btn-success{margin-top:0px;  text-transform: inherit; box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; padding:8px 18px; background:#3cd795 !important; box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}
.atrbt-ui .btn-success:hover{box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}
.atrbt-ui .mat-cstm { padding-top:7px !important;  padding-bottom:7px !important;}
.atrbt-ui .mat-form-field-appearance-legacy .mat-form-field-label{ font-size:14px;}
.mb-rvrs-15{ margin-bottom:-15px;}
.mb-6{ margin-bottom:6px;}
.mat-outline-button{background: #fff;color: #02a7fa !important;border: 1px solid;}
.atrbt-ttl{margin-bottom: 0;font-weight: 400;margin-top: 6px;margin-bottom: 5px;font-size: 18px;}
/***** TOASTER CSS ******/
.toast{ opacity: 1 !important;}
/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .toast:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-container .toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-container .toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-container .toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-container .toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .toast,
.toast-container.toast-bottom-center .toast {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .toast,
.toast-container.toast-bottom-full-width .toast {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast-container .toast {
  background-color: #030303;
  pointer-events: auto;
}
.toast-container .toast-success {
  background-color: #51A351;
}
.toast-container .toast-error {
  background-color: #BD362F;
}
.toast-container .toast-info {
  background-color: #2F96B4;
}
.toast-container .toast-warning {
  background-color: #F89406;
}
.toast-container .toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/******* /TOASTER CSS *******/
.asg-cp-blk {margin-top:15px; margin-bottom:-18px;}
.mdl-slct-msg .frm-grp-mb15 .form-group{margin-bottom: 15px;}
.cr-gp-st-rmv p strong {
    font-weight: 400;
    color: #555;
}
.cr-gp-st-rmv p {
    font-size: 16px;
    text-transform: initial;
    font-weight: 400;
    color: #999;
}
.content-drag .card-blk-inwrp .table-ui .mat-cell, 
.content-drag .card-blk-inwrp .table-ui .mat-header-cell{ padding-left:7px; padding-right:7px;}
body .mat-menu-content .mat-menu-item:hover{ background:#f2f2f2;}
.natd-dt{text-align: left !important;padding-left: 20px !important; border-left:1px solid #dee2e6 !important;}
body .modal-dialog{ max-width:500px;}
body .modal-dialog.modal-lg{ max-width:800px;}
.btn-bl-set .mat-btn.btn-back{background: #dbdce2 !important;color: #43425d !important;}
.ma-wrap .mat-form-field{ max-width: 100%;}
.back-btn { font-size:14px; padding:10px 25px ; background: #dbdce2 !important;color: #43425d !important; border:none;}
/************ SEARCH (06.05.2019) ************/
.card-box{ padding: 20px; background: #fff; margin-bottom: 20px;}
.inpt-full .mat-form-field{ width:100%; }
.pt-adv-srch h4{font-size: 14px; color:#444; font-weight: 400;margin: 0; margin-bottom: 5px;}
.pt-adv-srch .mat-form-field{ font-size: 14px;}
.pt-adv-srch .mat-form-field-appearance-legacy .mat-form-field-infix{ border-top:none;}
.pt-adv-srch .mat-select-value { color: rgba(83, 83, 83, 0.87);}
.pt-adv-srch h3 { font-size: 16px; text-transform: uppercase; font-weight: 400; margin-bottom: 18px;
    color: #02a7fa; border-bottom: 1px solid #02a7fa; display: inline-block; padding-bottom: 2px;} 
.btn-footer .mat-cstm{ margin-right:20px;}
.cdk-overlay-container .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) { color: #02a7fa;}
/************ /SEARCH (06.05.2019) ************/
.cls-msr-dtl > .fa-plus {position: absolute; right: 0px;top: -40px; color: #aaa; cursor: pointer;}
.cls-msr-dtl > a{ background: #fff; right: 0px !important; top:-49px !important;}
.default-accordion .da-control li{border-right: 1px solid rgba(255,255,255,0.4);}
.fltrd-data{ margin-top:0px !important;}
/************ HEADER MESSAGE DROPDOWN (08.05.2019) ************/
.drp-hd-menu .mCSB_inside > .mCSB_container{ margin-right:0px;}
.dropdown-mg-footer{ text-align:center; padding:9px 15px; background:#f2f2f2; border-top:1px solid #ddd;}
.dropdown-mg-footer a{ color:#02a7fa !important; font-size:14px; font-weight:400;}
.item-list-wrap{ height:270px; overflow-y: auto; }
.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}
.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}
.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}
.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff;
}
.item-list-wrap{ list-style: none; padding:0px;}
.item-list-wrap li {
    border-bottom: 1px solid #eee; padding-left:0px !important; width:100% !important;
}
.item-list-wrap li a {
    padding: 12px 15px !important;
    text-decoration: none; vertical-align:top;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s; width:100%;
    transition: 0.5s;
}
.item-list-wrap li:nth-child(2n){ background:#fafafa;}
.item-list-wrap .icon-circle {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%; line-height:36px; font-size: 14px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%; 
    border-radius: 50%; float:left;
    color: #fff; 
    text-align: center; overflow:hidden;
    vertical-align: top;
}
.item-list-wrap .icon-circle img{ max-width:100%; }
.item-list-wrap .menu-info {
    margin-left:40px; padding-left:10px;
}
.item-list-wrap .menu-info h4 {
    margin: 0;
    font-size: 14px; font-weight:400; position:relative; padding-right:60px;
    color: #333;
}
.item-list-wrap li:last-child{ border-bottom:none;}
.item-list-wrap .menu-info p {
    margin: 0;
    font-size: 13px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.item-list-wrap .menu-info p .material-icons {
    font-size: 13px;
    color: #aaa;
    position: relative;
    top: 2px;
}
.drp-hd-menu{ position:relative;}
body .drp-hd-menu .dropdown-menu{ left:auto; right:-10px; width:300px; padding:0px;border: none;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12); -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12); -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12); margin-top:9px; border-radius:0px; -webkit-border-radius:0px; -ms-border-radius:0px;}
.tm-rt {
    position: absolute;
    right: 0px;
    top: 0px; font-weight:300;
    font-size: 12px;
    color: #aaa;
}
.dropdown-mg-header  {   
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 12px 15px;
}
.dropdown-mg-header h4 {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 400;
}
.ntfc-bx-wrp .menu-info h4{ padding-right: 0px;}
.ntfc-bx-wrp .menu-info h4 b{ font-weight:500;}
/************ /HEADER MESSAGE DROPDOWN (08.05.2019) ************/
.wa-table td{padding: 6px 13px !important;}
.msrp-lst-avt{ overflow: hidden; text-overflow: ellipsis;}
.pt-adv-srch{ min-height:280px; padding-bottom:0px; }
body .fltrd-data .tbl-hd-btns .mat-raised-button {color: #fff;font-weight: 400;font-size: 12px;padding: 9px 15px !important;
line-height: initial !important;border-radius: 16px !important;}
body .fltrd-data .tbl-hd-btns .mat-raised-button.mat-danger{ background: #fc7878 !important;}
body .fltrd-data .tbl-hd-btns .mat-raised-button.mat-primary{ background: #65c0b3 !important;}
body .fltrd-data .tbl-hd-btns .mat-raised-button:hover, .fltrd-data .tbl-hd-btns .mat-raised-button:focus{ outline:none;}    
.blk-pt-ttl .text-right.clr-fltr-pt{ padding-right: 30px;}
body.modal-open .modal{ overflow-y:auto;}
.more-info-wrap .prdr-rw{ display: none;}
.card-blk-inwrp .card-cstm .table-ux:nth-child(2) .table{ margin-bottom:0px;}

.tbl-rsp-md .mat-header-cell:last-child{flex: 0 0 100px;}
.tbl-rsp-md .mat-cell:last-child{flex: 0 0 100px;}
.card-scroll-wrap { margin-right: -15px; padding-right: 15px; max-height: 380px; overflow-y: auto;}
perfect-scrollbar .ps__rail-y{ width:2px !important;}
body perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
   right: 2px !important;
}
perfect-scrollbar .ps__rail-y .ps__thumb-y{ width:4px !important; right:-1px !important; background:rgba(156, 163, 182, 0.8) !important;}
.scb-wrap .cg-item.active-tag-pt{background: #64cbff !important;color: #fff;border-color: #64cbff !important;}
.user-info-bx .list-group-item input{width: 106px; border: none; font-size: 13px; color: #6c757d;
    font-family: roboto;}
.od-blk-bx .mat-cell.mat-column-TestPerformed{ white-space:normal;}   
.hidesidepanel .user-info-bx .list-group-item input{font-size:12px; background: none;} 
.cp-frm-blk p.adl-bms-st-bk{ font-weight:500;}
.adl-bms-st-bk span{font-size: 14px;color: #888;font-weight: 400;}
.side-drag .sm-content-bx{min-height: 482px;}
.hidesidepanel .side-drag .sm-content-bx{min-height: 0px;}
.org-head-in.pri-cntct-hd{margin-top: 1.25em; padding-top:0px;}
.content-drag .col-sm-3 .sm-content-bx.min-gd-ht .scb-inner{ padding-bottom: 0px;}
.content-drag .col-sm-3 .sm-content-bx.min-gd-ht h3{ margin-bottom:5px;}
/************ MEDIA (26.04.2019) ************/
@media all and (max-width:1199px){
 .sm-content-bx .tabset-wrap { padding:20px !important;}
.sm-content-bx .tabset-wrap .tabset li, .sm-content-bx .tabset-wrap .tabset li a{ margin:0 !important;}
.head-title .clr-fltr-pt .btn.btn-primary{ white-space: nowrap;}
.table-ui .mat-cell, .table-ui .mat-header-cell{ padding-left:7px; padding-right:7px;}
.table-ui .mat-header-cell{ white-space: nowrap;}
.table-goal-rpt .org-goal-fltr-wrp .org-goal-fltr{ padding-right: 0px !important;}
}
@media (min-width:992px) and (max-width:1100px){
 body .user-info-bx { padding-left: 10px !important; text-align: center; padding-right: 10px !important;}
 body .user-info-bx img.img-rounded{ position: static !important;}
 body .more-info-wrap .list-group-item{ padding:8px 0px;}
 body .more-info-wrap h3{ padding-left:0px !important; padding-right: 0px; padding-top:10px !important;}
 body .more-info-wrap{ padding-left: 15px !important; padding-right:15px !important;}
 .mat-act-lst .mat-cstm{ padding-left:10px !important; padding-right:10px !important;}
 .menu-bars { width: 30px; right: 18px; top:8px;}
 .hidesidepanel .user-info-bx img.img-rounded{ position: absolute !important;}
 .card-blk-inwrp .nav-tabs li a.btn{ padding-left:10px; padding-right:10px;}
 .hidesidepanel .card-blk-inwrp .nav-tabs {padding-left: 235px;}
 .hidesidepanel .user-info-bx{ left:62px;}
 .prdr-rw p{ padding-left:0px;}
}
@media all and (max-width:1100px){
.ma-wrap .col-sm-2{ max-width:20%;}
.ma-wrap .col-sm-8{ max-width:60%;}
.ma-wrap .col-sm-2.dash-blk-top{ padding-right:15px;}
.ma-wrap .col-sm-2.dash-blk-top .btn{ margin:0px !important; padding-left: 0; padding-right: 0; min-width: 100%;}
.user-info-bx{ padding-left:85px !important; padding-right:10px !important;}
.user-info-bx img.img-rounded{ left:10px !important;}
}
@media all and (max-width:1024px){
  .head-title .pt-blk-top .btn-sm.ccda1{ margin-left:0px !important;}
  .head-title .pt-blk-top{ padding-left: 0px;}
}
@media all and (max-width:991px){
  .blk-pt-ttl h2.pt-lst-cdn-ttl{ margin-bottom: 0px !important;}
  .action-row a{ margin-right:4px !important;}
  .table-patient-list { overflow-x:auto;}
  .table-patient-list .mat-table{ min-width: 1030px;}
  .msrp-lst-avt{ right:150px !important; }
  .head-title.blk-pt-ttl .row .row{ display: block;}
  .head-title.blk-pt-ttl .row .row .col-sm-9, .head-title.blk-pt-ttl .row .row .col-sm-3{ max-width: none;}
  .head-title.blk-pt-ttl .clr-fltr-pt{margin-top: 6px; text-align: left !important;}
  .head-title.blk-pt-ttl .clr-fltr-pt .msrp-lst-avt { right: auto !important; top: 0px; position: relative; display: inline-block;}
  body .side-panel-blck{ display: block;}
  body .side-drag, body .content-drag{ max-width:100%;}
  .fltr-blk-col-sp{ padding-right:210px !important;}
  .head-title.blk-pt-ttl .clr-fltr-pt .msrp-lst-avt{ vertical-align: middle;}
  .pt-adv-srch {min-height: 1px; padding-bottom: 15px;}
  .tbl-rsp-md .mat-table{ min-width: 1100px;}
  .tbl-rsp-md{ overflow-x:auto;}
}
@media (min-width:901px) and (max-width:991px){
  .nav-fxd .navbar-nav li{ padding-left: 16px !important;}
}
@media (min-width:768px) and (max-width:991px){
.scroll-bottom-sp > div > div > table{ min-width: 1000px;}
}
@media all and (max-width:767px){
.table-summary .scroll-bottom-sp th:first-child{ min-width: 160px;}
  .navbar-expand-md .navbar-collapse { margin-left:-15px; margin-right:-15px;}
  .ma-wrap .col-sm-2.dash-blk-top { padding-right: 0; padding-left: 0;}
  .ma-wrap .col-sm-2{ max-width:25%;}
.ma-wrap .col-sm-8{ max-width:50%;}
.navbar-nav li{ padding-left:15px !important; padding-top:5px; padding-bottom:5px;}
.navbar .navbar-nav.align-items-center li{ display:inline-block; width:auto;}
.navbar .navbar-nav.align-items-center{ display:inline-block;}
.table-goal-rpt td.pr-250, .table-goal-rpt th.pr-250 { padding-right: 50px !important;}
body .table-goal-rpt .max-input-sz { max-width: 100%;}
.table-goal-rpt .table-overflow-hd { overflow-x: auto !important;}
.table-goal-rpt .table-overflow-hd table{ min-width:600px;}
.table-goal-rpt .table-overflow-hd th:last-child,.table-goal-rpt .cstmz-gl-rw td:last-child{ width:20%;}
.blk-pt-ttl .col-sm-12 .row{ display: block;}
.blk-pt-ttl .col-sm-12 .row .col-sm-9, .blk-pt-ttl .col-sm-12 .row .col-sm-3{ max-width:100%;}
.blk-pt-ttl .col-sm-12 .row .col-sm-3.clr-fltr-pt{ text-align: left !important;}
.navbar .navbar-toggler{ padding-right: 0px;}
.default-accordion .da-control{ display: table; width:100%;}
.default-accordion .da-control li{ display: table-cell !important; min-width: 1px !important;}
.default-accordion .da-control li button{ padding-left:10px !important;padding-right:10px !important; }
.side_full_body .main-wrap { margin-left: 0px !important;}
.side_full_body .side-nav { left: -260px !important;}
.side_full_body .nav-fxd {left: 0px !important;}
body .side-nav {left: 0px !important; transform:none !important;}
.main-wrap { margin-left: 205px !important;}
.nav-fxd > .navbar > a{ margin-left:200px;}
.side_full_body .nav-fxd > .navbar > a{ margin-left:0px;}
.side_full_body .side-nav::before{ display: none; left:0px;}
.side-nav::before { content: ""; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -ms-transition: all 0.3s linear; left: 200px; top: 38px; bottom: 0px; right: 0px; background: #000;
    position: fixed; opacity: 0.5;}
body .row.hidethis-fornow { display: none;}    
.content-drag > .row{ display: block;}
.content-drag > .row > .col-sm-9, .content-drag > .row > .col-sm-3{ max-width:100%; } 
.min-gd-ht { min-height: 1px;}  
.mat-act-lst li { display: inline-block; margin-right: 10px;}
.sm-content-bx .tabset-wrap{ padding:20px !important;} 
.sm-content-bx .tabset-wrap .tabset li a{ padding:8px 7px; margin:0px; margin-bottom:8px;}
.navbar-collapse.collapse{ display: block !important;}
.navbar-collapse.collapse .header-top-menu{ display: none;}
.navbar-collapse.collapse.show .header-top-menu{ display: block !important;}
.navbar .navbar-nav.align-items-center {position: fixed; right: 45px; top: -2px;}
body .nav-fxd .nm-avt-wrp { display: inline-block !important;}
.navbar-nav .item-list-wrap li{ padding:0px !important;} 
.sidebarOuter{ top:39px !important;}
.org-goal-fltr-wrp .org-goal-fltr.org-goal-fltrovt .col-sm-3{flex: 0 0 50%;max-width: 50%;}
.nav-fxd > .navbar > a{ z-index: 1; padding: 0px 5px; background: #fff;}
body .mat-paginator-range-label{ margin:0px;}
.tbl-patient-chart.tb-pt-ui table{ min-width: 800px; table-layout:fixed; }
.tbl-patient-chart.tb-pt-ui > table > thead > tr th:last-child{ width:44%;}
.tbl-patient-chart.tb-pt-ui tr table{ min-width:1px; }
.tbl-patient-chart.tb-pt-ui tr table td:first-child{width:25%;}
.tbl-patient-chart.tb-pt-ui tr table td:nth-child(2){width:75%;}

}
@media all and (max-width:575px){
  .clear-filter-wrap .mat-form-field { width:100%;}
  .dash-blk-top{ text-align: center !important;}
  .slct-al-bk{ width:100%;}
  .ma-wrap .col-sm-2.dash-blk-top { padding-right:15px; padding-left: 15px;}
  .ma-wrap .col-sm-2{ max-width:100%;}
.ma-wrap .col-sm-8{ max-width:100%;}
.ma-wrap .mat-form-field{ width: 100%;}
.rgn-tbl-blk table th{ font-size:13px !important;}
// .pt-adv-srch .col-sm-6:nth-child(2n) h4{ display: none;}
body .modal-dialog{ margin-left:auto; margin-right:auto;}
.table-goal-rpt td.pr-250, .table-goal-rpt th.pr-250 { padding-right: 15px !important;}
.head-title .pt-blk-top{ padding-left: 15px;}
.dash-blk-top { margin-top: 0px !important;}
 .mat-paginator-page-size .mat-form-field { max-width: 80px;}
 .mat-paginator-page-size .mat-paginator-range-label{ margin-left: 0px; margin-right:0px;}
body .drp-hd-menu .dropdown-menu.dropdown-message{left: 50%;transform: translate(-50%, 0%) !important; -webkit-transform: translate(-50%, 0%) !important; -ms-transform: translate(-50%, 0%) !important;
position: fixed !important;top: 31px !important;}
.mdl-spcrt .col-sm-4.text-right{flex: 0 0 33.33333333%;max-width: 33.33333333%; padding-right:0px;}
.mdl-spcrt .col-sm-5.incdecqt {flex: 0 0 41.66666667%;max-width: 41.66666667%;}
.mdl-spcrt .col-sm-3.stp-sb-rt{flex: 0 0 25%;max-width: 25%; padding-left:0px;}
.hidesidepanel .content-drag .card-blk-inwrp{ padding-top:50px;}
.hidesidepanel .content-drag .card-blk-inwrp .nav-tabs li{ max-width:100%;}
.hidesidepanel .card-blk-inwrp .nav-tabs{ padding-left:8px;}
.tbl-ckbx .table{ min-width:600px;}
.flt-blk-bx.slct-flt-lbl .fltr-blk-col-sp { padding-right: 15px !important;}
.mdl-slct-msg h4{ margin-top:10px;}
.modal-body .col-sm-6 {margin-bottom: 0px;}
.mdl-slct-msg textarea {height: 80px;}
}
@media all and (max-width:480px){
  .default-accordion .da-control li {border: 1px solid rgba(255,255,255,0.15); display: inline-block !important;  width: 50%;   margin-right: -2px;}
  .default-accordion .da-control {display: inline-block; width: 100%;}  
  .atrbt-ui .col-7{ padding-left: 0px;}
  .atrbt-ui .btn-success{ padding-left: 10px; padding-right: 10px;}
  .mat-paginator-page-size .mat-form-field { max-width: 50px;}
  .mat-paginator-range-actions .mat-icon-button{ max-width:25px;}
  .content-drag .card-blk-inwrp .nav-tabs li{width:auto; display:table-cell;}
  .card-blk-inwrp .nav-tabs li a.btn{ padding-left:6px; padding-right:6px;}
}
@media all and (max-width:400px){
  .gl-mng-fltr > .row{ display: block;}
  .gl-mng-fltr > .row .col-sm-3.col-6 { max-width: 100%; margin: 8px 0;}
  .mdl-spcrt .col-sm-5.incdecqt{ max-width:120px;}
  .mdl-spcrt .col-sm-4.text-right{ max-width: 100px;}
  .org-goal-fltr-wrp .org-goal-fltr.org-goal-fltrovt .col-sm-3 { flex: 0 0 100%; max-width: 100%; margin-bottom: 8px;}
  .btn-bl-set .mat-btn{ font-size:13px;}
  .atrbt-ui .row{ display: block;}
  .atrbt-ui .row .col-5, .atrbt-ui .row .col-7{ max-width:100%; padding-left:15px; padding-right:15px;}
  .atrbt-ui .mat-cstm{ width:100%;}
  .atrbt-ui .btn-success{ width:100%; margin:0px; margin-top:15px;}
}
@media all and (max-width:360px){
body .crd-inp-pdvw { display: block;}
.crd-inp-pdvw .col-sm-4{ max-width:100%; margin-bottom:10px;}
.blk-pt-ttl .text-right.clr-fltr-pt { padding-right: 15px !important;}
.blk-pt-ttl .clr-fltr-pt .btn.btn-primary{ padding-left:16px; padding-right:16px; margin:0px !important; float: right; margin-top:0px !important;}
.mdl-spcrt .col-sm-4.text-right {max-width: 80px; padding: 0; font-size: 15px;}
.mdl-spcrt .col-sm-5.incdecqt { max-width: 100px;}
.blk-pt-ttl .clr-fltr-pt .btn.btn-primary{ padding-left:12px; padding-right:12px;}
.tbl-hd-btns li{ margin-bottom: 6px;}
body .mat-paginator-container{ padding: 0;}
body .mat-paginator-page-size{ margin-right:0;}
body .mat-paginator-page-size-label{ margin:0;}
body .mat-paginator-page-size-select{ margin:0;}
.mat-paginator-range-actions .mat-icon-button { max-width: 17px;}
.fltr-blk-col-sp .btn { margin-right: 10px !important; font-size: 12px;}
}
/************ /MEDIA (26.04.2019) ************/