.app-content .mail-item > .mail-list{position: relative;}
.mail-list .mat-checkbox { opacity: 0.7; position: absolute; top: 50%; left: 15px; transform: translate(0, -50%); -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%);}
.slct-all-chk .mat-checkbox{margin-top: 4px;display: inline-block;vertical-align: top;}

.sms-list-bx .mail-list > .mail-container .center{width: calc(100% - 64px); }
.sms-list-bx .mail-list > .mail-container .right{float: none;padding-left: 0px;position: absolute;
right:12px;top: 10px;width: auto;}
.sms-list-bx .mail-list > .mail-container .center > p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.sms-list-bx  .mail-list{padding-top:8px; padding-bottom:8px; margin-bottom:-6px;}


 .sms-list-bx input {
    border-radius: 6px;
    border: none;
    padding: 9px 14px;
    color: #555;
    background: #fff;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ddd;
}

.ibxsdbr-list {
    height: 466px;
    overflow-y: auto;
}
.chat-avt {
    background: #ff6c6c;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.no-chat{ display: inline-block; padding: 12px 45px; background: #f2f2f2; color: #888; margin-top: 15px; font-size: 15px;}
.cmpsmsg .chat-hst-bk-wrp{ display: none;}
.cmpsmsg .chat-cmps-bk-wrp{ display: block;}
.inbxmsg .chat-cmps-bk-wrp{ display: none;}
.inbxmsg .chat-hst-bk-wrp{ display: block;}
.cmpsmsg .action-panel-header > a{ min-height: 40px; vertical-align: top; position: relative; font-size: 0px;}
.cmpsmsg .action-panel-header > a:before{position: absolute; content:"Back to Inbox"; left: 0px; font-size: 15px; right: 0px; top:9px; height:40px;}
.chat .chat-history li:last-child .other-message{ margin-bottom:0px;}