<div class="head-title">
  <h2>SMS</h2>
</div>
<div class="app-content" [ngClass]="msgtgl ? 'cmpsmsg' : 'inbxmsg'">
  <div class="action-panel mail-side-panel">
      <div class="action-panel-header">
        <a class="mat-btn mat-cstm" href="javascript:void(0);" (click)="cmpsmsg()" >Compose message</a>
      </div>
      <div class="list-group">
        <a href="javascript:void(0);">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Inbox
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          Sent
        </a>   
        <a href="javascript:void(0);">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Drafts
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Trash
        </a>
  </div>
</div>
  <div class="mail-content-bx">
    <div class="row">
      <div class="col-sm-4 bx-sms-panel">
        <div class="sms-list-bx">
          <!--<div class="mail-toolbar">
            <div class="delete">
              <a class="slct-all-chk" matTooltip="Select All" matTooltipPosition="above" href="javascript:void(0);" >
                <mat-checkbox matTooltip="Select All" matTooltipPosition="above"></mat-checkbox>
              </a>
              <a matTooltip="Delete" matTooltipPosition="above" href="jabascript:void(0);" id="trash">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
            <a matTooltip="Delete" matTooltip="Refresh" matTooltipPosition="above" href="javascript:location.reload(true)" class="refresh" >
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
            <div class="pull-right">
              <a href="jabascript:void(0);" id="angle-l">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
              </a>
              <a href="jabascript:void(0);" id="angle-r">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>-->
          <div class="search">
              <input type="text" placeholder="Search">
              <i class="fa fa-search"></i>
        </div>
        <div class="ibxsdbr-list" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <div class="mail-item">
          <div class="mail-list">
              <div class="mail-container">
              <div class="avatar">
                <img src='assets/img/profile2.jpg' alt="" />
            </div>
              <div class="center">
              <div>
                <h4>Raluca Johnson</h4>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
              <div class="right">
              <p>2 hours</p>
            </div>
            </div>
          </div>
          <div class="mail-list">
            <div class="mail-container">
              <div class="avatar">
              <img src="assets/img/profile3.jpg" alt="" />
            </div>
              <div class="center">
              <div>
                <h4>Peter Johnson</h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo nemo sint
      </p>
            </div>
              <div class="right">
              <p>2 hours</p>
            </div>
            </div>
          </div>
          <div class="mail-list">
            <div class="mail-container">
              <div class="avatar">
                <img src='assets/img/profile4.jpg' alt="" />
            </div>
              <div class="center">
              <div>
                <h4>Michael Smith </h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quo nemo sint, animi sunt alias.
      </p>
            </div>
              <div class="right">
              <p>2 hours</p>
            </div>
            </div>
          </div>
          <div class="mail-list">
          <div class="mail-container">
              <div class="avatar">
              <img src='assets/img/profile1.jpg' alt="" />
            </div>
              <div class="center">
              <div>
                <h4>Michael Smith </h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nostrum rem, odio. A, mollitia, hic.
      </p>
            </div>
              <div class="right">
              <p>2 hours</p>
            </div>
            </div>
          </div>
          <div class="mail-list">
            <div class="mail-container">
              <div class="avatar">
              <img src='assets/img/profile5.jpg' alt="" />
            </div>
              <div class="center">
              <div>
                <h4>Michael Smith </h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum maxime, quas consecteturx fugiat sapiente cupiditate!
      </p>
            </div>
              <div class="right">
              <p>2 hours</p>
            </div>
            </div>
          </div>
          <div class="mail-list">
            <div class="mail-container">
              <div class="avatar">
                <img src='assets/img/profile6.jpg' alt="" />
            </div>
              <div class="center">
              <div>
                <h4>Michael Smith </h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati mollitia um! Ullam, nobis.
      </p>
            </div>
              <div class="right">
              <p>2 hours</p>
            </div>
            </div>
          </div>
          <div class="mail-list">
          <div class="mail-container">
              <div class="avatar">
                <img src='assets/img/profile7.jpg' alt="" />
            </div>
              <div class="center">
              <div>
                <h4>Michael Smith </h4>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis beatae, quo molestias? Quo iusto, facere!
      </p>
            </div>
              <div class="right">
              <p>2 hours</p>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col-sm-8">
            <div class="chat">
              <div class="chat-sb-wrp chat-hst-bk-wrp">
                <div class="chat-header clearfix">
                  <div class="chat-avt">
                    <img src="assets/img/profile3.jpg" alt="avatar" />
                  </div>
                  <div class="chat-about">
                    <div class="chat-with">Peter Johnson</div>
                    <div class="chat-num-messages">9 (1201) 12058</div>
                  </div>
                </div> <!-- end chat-header -->
                
                <div class="chat-history" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                  <ul>
                    <li>
                      <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> Peter Johnson</span>
                        <span class="message-data-time">10:12 AM, Today</span>
                      </div>
                      <div class="message my-message">
                         Good morning, Dr. Smith!
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="message-data align-right">
                        <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name" >Michael Smith</span> <i class="fa fa-circle me"></i>
                        
                      </div>
                      <div class="message other-message float-right">
                        Good morning! What’s wrong with you?
                      </div>
                    </li>
                    
                    <li>
                      <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> Peter Johnson</span>
                        <span class="message-data-time">10:12 AM, Today</span>
                      </div>
                      <div class="message my-message">
                         I have been suffering from fever since yesterday.
                      </div>
                    </li>
                    
                    <li class="clearfix">
                      <div class="message-data align-right">
                        <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name" >Michael Smith</span> <i class="fa fa-circle me"></i>
                        
                      </div>
                      <div class="message other-message float-right">
                         Do you have any other symptoms?
                      </div>
                    </li>
                    
                    <li>
                      <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i> Peter Johnson</span>
                        <span class="message-data-time">10:20 AM, Today</span>
                      </div>
                      <div class="message my-message">
                         I also feel headache and shivering.
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="message-data align-right">
                        <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
                        <span class="message-data-name" >Michael Smith</span> <i class="fa fa-circle me"></i>
                        
                      </div>
                      <div class="message other-message float-right">
                          I shall recommend at least two days rest for you.
                      </div>
                    </li>
                  
                  </ul>
                  
                </div> <!-- end chat-history -->
                
                <div class="chat-message clearfix">
                  <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                  <button class="mat-cstm mat-btn"><i class="fa fa-paper-plane"></i></button>

                </div> <!-- end chat-message -->
              </div>
              <div class="chat-sb-wrp chat-cmps-bk-wrp">
                  <div class="chat-header clearfix">
                    <div class="chat-avt">
                      AR
                    </div>
                    <div class="chat-about">
                      <div class="chat-with">
                          <mat-form-field floatLabel="never" class="input-border">
                            <input matInput placeholder="To">
                          </mat-form-field>
                      </div>
                    </div>
                  </div> <!-- end chat-header -->
                  <div class="chat-history" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <div class="text-center">
                      <div class="no-chat">
                        No previous chat history
                      </div>
                    </div>
                  </div>  
                  <div class="chat-message clearfix">
                  <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                  <button class="mat-cstm mat-btn"><i class="fa fa-paper-plane"></i></button>

                </div> <!-- end chat-message -->
              </div>
            </div> <!-- end chat -->
            
          

        <script id="message-template" type="text/x-handlebars-template">
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Michael Smith</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
              {{messageOutput}}
            </div>
          </li>
        </script>

        <script id="message-response-template" type="text/x-handlebars-template">
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Peter Johnson</span>
              <span class="message-data-time">{{time}}, Today</span>
            </div>
            <div class="message my-message">
              {{response}}
            </div>
          </li>
        </script>

      </div>
    </div>
   
</div>
</div>