.main-wrap { margin-left:200px;padding:60px 20px 15px 20px;min-height:650px;background-color:#f7f7f7;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.head-title h2 { font-size:24px;margin:0px;}
.head-title { margin-bottom:20px;}
.white-box { min-height:570px;}
:host /deep/ .inner-wrap .mat-paginator { margin-top:20px;}