
<!-- <app-sidebar></app-sidebar>
<p>
  super-admin dashbaord
</p>

<app-header></app-header> -->
<app-sidebar ></app-sidebar>
<app-header></app-header>
<div class="main-wrap">
  <div *ngIf="showDashboard=='true'">
   <!-- <app-dashboard></app-dashboard> -->
  </div>
  <div class="white-box">
    <router-outlet></router-outlet>
  </div>
  
  </div>
