
  <div class="auto-login-main" >
    <div class="mat-dscpl">
    <div class="auto-login-cell">
  <div class="display-table">
    <div class="display-cell bg-lgon">
      <div class="login-capt">
        <h3>KENTUCKY PRIMARY CARE ASSOCIATION</h3>
        <p>The Kentucky Primary Care Association was founded in 1976 as a not-for-profit 501(c)(3) corporation of community health centers, rural health clinics, primary care centers and all other organizations and individuals concerned about access to health care services for the state’s under-served rural and urban populations.</p>
      </div>

    </div>
    <div class="display-cell log-bg-lgon">
      <div class="auth-center auth-ui">
      <div class="auth__inner auth-size">
        <!-- <img src="../assets/img/Logo.png" class="logo"> -->
      <div class="">
        <div class="auth__form auth__inner__section">
          <div class="form">
          
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value) && loginForm.valid">
            <div class="rt-ux-bt">
              <div class="auto-logo-wrp">
                <div class="auto-logo-bk">
                  <a href="javascript:void(0);">
                    <img src="assets/img/logo.png" />
                  </a>
                </div>
              </div>
              <h1 class="form__title">KENTUCKY PRIMARY CARE ASSOCIATION</h1>
              <!--p>Welcome back!</p-->
            </div>
            <div class="row">
              <div class="col-sm-12">
                 <mat-form-field>
                  <input class="form__input" formControlName="Username" matInput #username  placeholder="Username">            
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <mat-form-field>
                  <input class="form__input" type="password"  formControlName="Password" matInput #password placeholder="Password">
                </mat-form-field>
              </div>
            </div>
            <div class="row rmb-blk">
              <div class="col-12">
                <mat-checkbox>Remember me</mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                 <input type="submit" class="submit mat-btn" value="SIGN IN" [disabled]="!loginForm.valid">
              </div>
              <div class="col-7 text-right">
                <a href="javascript:void(0);" class="forget">Forget Password ?</a>
              </div>
            </div>
           
           <!-- <button class="submit mat-btn" mat-button>Login</button> -->
          </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div>
  </div>



<div class="auto-login-main" style="display: none;">
  <div class="mat-dscpl">
    <div class="auto-login-cell">
  <div class="display-table">
    <div class="display-cell bg-lgon">
      <div class="login-capt">
        <h3>KENTUCKY PRIMARY CARE ASSOCIATION</h3>
        <p>The Kentucky Primary Care Association was founded in 1976 as a not-for-profit 501(c)(3) corporation of community health centers, rural health clinics, primary care centers and all other organizations and individuals concerned about access to health care services for the state’s under-served rural and urban populations.</p>
      </div>
      <!--div class="brandlogo">
        <a href="javascript:void(0);">
          <img src="assets/img/logo.png" />
        </a>
      </div -->
    </div>
    <div class="display-cell log-bg-lgon">
      <div class="auth-center auth-ui auth-ui-sq">
      <div class="auth__inner auth-size">
      <div class="">
        <div class="auth__form auth__inner__section">
          <div class="form">
          <form class="example-form">
            <div class="rt-ux-bt">
              <div class="auto-logo-wrp">
                <div class="auto-logo-bk">
                  <a href="javascript:void(0);">
                    <img src="assets/img/logo.png" />
                  </a>
                </div>
              </div>
              <div class="sq-qstn-bk">
                <h1 class="form__title">Security Questions</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna aliqua. Ut enim ad minim veniam,</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                 <mat-form-field>
                  <input matInput placeholder="Questions 1" value="">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput placeholder="Answer 1" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                 <mat-form-field>
                  <input matInput placeholder="Questions 2" value="">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput placeholder="Answer 2" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                 <mat-form-field>
                  <input matInput placeholder="Questions 3" value="">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput placeholder="Answer 3" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                 <mat-form-field>
                  <input matInput placeholder="Questions 4" value="">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <input matInput placeholder="Answer 4" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="javascript:void)(0);"> <i class="fa fa-question"></i> HELP</a>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button class="submit mat-btn mat-btn-rst" mat-button>Cancel</button>
              </div>
              <div class="col-6">
                <button class="submit mat-btn" mat-button>Submit</button>
              </div>
            </div>
           
          </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div>
  </div>  



<!--div class="auth-wrap-background" style="display: none;">
  <div class="auth-center">
    <div class="auth-blur auth-size">
      <div class="auth-wrap-background"></div>
    </div>
  </div>
   
</div -->
