.auth-wrap-background {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    background-size: cover;
    background-position: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .auth-center {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .auth-blur {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    overflow: hidden;
  }
  
  .auth-size {
    width: 30%;
  }
  
  
  
  .auth__inner__section {
    padding: 1.25rem 2rem;
  }
  
  .auth__sidebar {
    background: rgba(255, 255, 255, 0.5);
    flex: 40%;
  }
  
  .auth__form {
    background:rgba(255, 255, 255, 0.8);
    flex: 45%;
  }
  
  .form__title {
    color:rgb(82, 112, 212);
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  .form__label {
    padding-bottom: 1.25rem;
    display: block;
  }
  
  .form__label__text {
    color: #87909c;
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
  }
  
  .form__input {
    background: transparent;
    color: #333;
    border: 0;
    border-bottom: 2px solid transparent;
    display: block;
    outline: 0;
    position: relative;
    padding: 10px 0px;
    width: 100%;
  }
  .form__input:focus {
    border-color: 2px solid rgba(255, 255, 255, 0.5);
  }
  
  .form__input-border {
    border-bottom: 1px solid #87909c;
    display: block;
  }
  
  .button {
    background: #5270d4;
    border-radius: 46px;
    border: 0;
    color: #fff;
    display: block;
    line-height: 40px;
    margin:0 auto 30px;
    outline: 0;
    width: 100%;
  }
  
  .form__meta {
    font-size: 0.6875rem;
    padding: 10px 0;
  }
  .logo{height: 200px;
    width: 225px;
    margin:  auto 0;
    display: block;}
  .forget{   
    font-size: 14px;
    font-weight: bold;
    /* text-transform: uppercase; */
    float: right;
    text-decoration: none;
    margin: 15px 0 30px;}
    .forget:hover{color:#5270d4;}

/******* SECURITY QUESTION ********/
.auth-ui-sq{ max-width: 800px;}
.sq-qstn-bk { border-bottom: 1px solid #ccc;}
.sq-qstn-bk h1{ text-align: left;}
.sq-qstn-bk p{ text-align: left;}
/******* /SECURITY QUESTION ********/