<div>
  <div class="head-title blk-pt-ttl">
    <div class="row">
      <div class="col-sm-12">
          <h2>
          Patient List
          </h2>
          <div class="row">
          <div class="col-sm-9">
            <div class="scb-care">
              <!-- <div class="scb-wrap" *ngIf="CareGap">
                <span (click)="FilterPatientAsPerFlag('1')" class="cg-item cg-item-danger cursor">Past Due</span>
            <span (click)="FilterPatientAsPerFlag('2')" class="cg-item cg-item-warning cursor">Deadline within 90
              days</span>
            <span (click)="FilterPatientAsPerFlag('4')" class="cg-item cg-item-warning cursor">End of Year Deadline
              </span>
            <span (click)="FilterPatientAsPerFlag('3')" class="cg-item cg-item-success cursor">In-compliance</span>
          </div> -->
          <div class="col-sm-2">
            <!-- <img _ngcontent-c5="" id="sidebar" alt="" class="sidebarBtn" src="../assets/img/sidebar-control.png" (click)="showAndHideFilters('true')"> -->
          </div>
        </div>
        <div class="tbl-srch-fltr">
            <div class="row">
              <div class="col-sm-8" *ngIf="Filter" style="margin-top: 8px;">
                <ul class="tbl-hd-btns">
                  <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger" (click)="FilterPatientAsPerSearch('1')">Search</button></li>
                  <li> <button mat-raised-button color="accent" class="mat-raised-button mat-primary" (click)="FilterPatientAsPerSearch('2')">Care Gaps</button></li>
                  <li> <button mat-raised-button color="accent" class="mat-raised-button mat-warn fltr-actv-sort" (click)="FilterPatientAsPerSearch('3')">Attribution</button></li>
                </ul>
              </div>
              <div class="col-sm-4 clr-fltr-tbl">
                <ul class="tbl-hd-btns text-right">
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="inner-wrap"  *ngIf="isMatGrid">
<div class="table-ui table-patient-list">
  <!-- This is used for Showing Mat Table -->
  <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PatientName',$event)">
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('OrganizationName',$event)">
        Organization
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Organization}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DOB">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('DOB',$event)">
        DOB
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOB | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Gender',$event)">
        Gender
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PCP Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('ProviderName',$event)">
            PCP Name 
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ProviderName}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="Ethnicity">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('EthnicityName',$event)">
          Ethnicity
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.EthnicityName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Race">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Race',$event)">
        Race
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.RaceName}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Gap">
      <mat-header-cell *matHeaderCellDef mat-sort-header  (click)="sortData('Gap',$event)"> Care GapS 
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Gap}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i [routerLink]="['/Admin/patientchart']" style="cursor:pointer" [queryParams]="{id:element.PatientId}"
          class="fa fa-user-circle" aria-hidden="true" title="Patient Chart"></i>
        &nbsp; &nbsp;
        <i *ngIf="element.FileName" class="fa fa-eye" style="cursor:pointer" aria-hidden="true" aria-hidden="true" title="View Patient CCDA"
          (click)="fnGetPatientCDA(element)"></i>
      </mat-cell>
      <mat-cell *matCellDef="let element"> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <!-- END -->

  <!-- This is used for Showing No record found -->
  <div class="clearfix" *ngIf="Emptylist  && isMatGrid">
    <p style="padding: 10px;background-color: #f5f6fa;margin-top: 5px;text-align: center;color: #A3A6B4;">
      No record Found
    </p>
  </div>
  <!-- END -->
</div>
</div>

<!-- This COde is used for Pagination -->
<mat-paginator *ngIf="!Emptylist  && isMatGrid" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
(page)="getServerData($event)" (ngModelChange)="getServerData($event)">
</mat-paginator>
<!-- END -->
<!-- This is used for showing Attribution Pannel -->
<div class="inner-wrap" *ngIf="!isMatGrid">
  <app-attribution-management></app-attribution-management>
</div>
<!-- END -->
</div>