<div class="head-title">
<h2 (click)="backClicked()" class="cursor"><svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <defs>
      <style>
        .a {
          fill: #fff;
          stroke: #707070;
          opacity: 0;
        }

        .b {
          fill: #4d4f5c;
        }

        .c,
        .e {
          fill: none;
        }

        .c {
          stroke: #4d4f5c;
          stroke-width: 2px;
        }

        .d {
          stroke: none;
        }
      </style>
    </defs>
    <g transform="translate(-81 -171)">
      <g class="a" transform="translate(81 171)">
        <rect class="d" width="24" height="24" />
        <rect class="e" x="0.5" y="0.5" width="23" height="23" />
      </g>
      <g transform="translate(-1 -0.5)">
        <g transform="translate(261 20.5) rotate(90)">
          <path class="b" d="M8.6,12.6l-6-6.353L4.156,4.6,8.6,9.306,13.044,4.6,14.6,6.247Z" transform="translate(154.4 163.4)" />
        </g>
        <line class="c" x2="15" transform="translate(87.5 183.5)" />
      </g>
    </g>
  </svg>
  {{measureDetails.name}}({{measureDetails.abbreviation}})
</h2>
</div>
<!-- <div class="row">
  <div class="col-sm-6">
    <div class="ma-bx ma-bx-hf">
      <label>Measure Rule ID:</label>
      <span>{{measureDetails.measureId}}</span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="ma-bx ma-bx-hf">
      <label>Measure Rule ID:</label>
      <span>{{measureDetails.measureId}}</span>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-6">
    <div class="ma-bx ma-bx-hf">
      <label >Entity</label>
      <!-- {{measureDetails.entityId}} -->
      <span>{{measureDetails.measureName}}</span>
      <!-- {{htmlContent}} -->
      <div class="ang-txt-bx">
        <!-- <a href="javascript:void(0);" [hidden]="this.measureNameEditor" (click)="DisableMeasureEditor('measureName')"><i class="fa fa-times"></i></a> -->
        <!-- <angular-editor id="editor1" [(ngModel)]="measureDetails.measureName" [hidden]="this.measureNameEditor"></angular-editor> -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="ma-bx ma-bx-hf">
      <label>Measure Year</label>
      <span >{{measureDetails.measureYear}}</span>
      <!-- <div class="ang-txt-bx">
          <a href="javascript:void(0);" [hidden]="this.measureYearEditor" (click)="DisableMeasureEditor('measureYear')"><i class="fa fa-times"></i></a>
      <span (click)="EnableMeasureEditor('measureYear')" [hidden]="this.measureYear">{{measureDetails.measureYear}}</span>
      <angular-editor id="editor2" [(ngModel)]="measureDetails.measureYear" [hidden]="this.measureYearEditor" ></angular-editor>
      </div> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="ma-bx ma-bx-hf">
      <label>Tracking Ends</label>
      <!-- <span>12/31/2018</span> -->
      <span >{{measureDetails.trackingEnds|date:'MM/dd/yyyy'}}</span>
      <!-- <span>{{measureDetails.trackingEnds | date:'MM/dd/yyyy'}}</span> -->
      </div>

  </div>
    </div>
<div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Description</label>
      <div class="mbf-inner">
         
          <div class="ang-txt-bx cls-msr-dtl">
              <i class="fa fa-plus" style="float: right;" *ngIf="IsNewMeasure"  (click)="EnableMeasureEditor('description')"></i>
              <i class="fa fa-pencil" style="float: right;" *ngIf="!IsNewMeasure" [hidden]="!this.descriptionEditor" (click)="EnableMeasureEditor('description')"></i>
              <a href="javascript:void(0);" [hidden]="this.descriptionEditor" (click)="DisableMeasureEditor('description')"><i class="fa fa-times"></i></a>
          <span  [hidden]="this.description">
              <div [innerHTML]="measureDetails.description | safehtml"></div></span>
        <!-- <p>{{measureDetails.description}}</p> -->
        <angular-editor id="editor4" [(ngModel)]="measureDetails.description" [hidden]="this.descriptionEditor" ></angular-editor>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Reference Codes</label>
      <div class="mbf-inner">
          <div class="ang-txt-bx cls-msr-dtl">
              <i class="fa fa-plus" style="float: right;" *ngIf="IsNewMeasure"  (click)="EnableMeasureEditor('cptCodeHeader')"></i>
              <i class="fa fa-pencil" *ngIf="!IsNewMeasure" [hidden]="!this.cptCodeHeaderEditor" style="float: right;" (click)="EnableMeasureEditor('cptCodeHeader')"></i>
              <a href="javascript:void(0);" [hidden]="this.cptCodeHeaderEditor" (click)="DisableMeasureEditor('cptCodeHeader')"><i class="fa fa-times"></i></a>
          <span [hidden]="this.cptCodeHeader">
              <div [innerHTML]="measureDetails.cptCodeHeader  | safehtml"></div></span>
          <angular-editor id="editor5" [(ngModel)]="measureDetails.cptCodeHeader" [hidden]="this.cptCodeHeaderEditor"  ></angular-editor>
          </div>
        <!-- {{measureDetails.referenceCodes}} -->
        <!-- <b *ngIf="measureDetails.cptCodeHeader!='NA'">
            {{measureDetails.cptCodeHeader}}
        </b>
        <p *ngIf="measureDetails.cptCodeHeader!='NA'">
            {{measureDetails.cptCodeBody}}
        </p>
        <b *ngIf="measureDetails.icdCodeHeader!='NA'">
            {{measureDetails.icdCodeHeader}}
        </b>
        <p *ngIf="measureDetails.icdCodeHeader!='NA'">
            {{measureDetails.icdCodeBody}}
        </p>
        <b *ngIf="measureDetails.hcpcsHeader!='NA'">
            {{measureDetails.hcpcsHeader}}
        </b>
        <p *ngIf="measureDetails.hcpcsHeader!='NA'">
            {{measureDetails.hcpcsBody}}
        </p>
        <p *ngIf="measureDetails.hcpcsHeader=='NA' && measureDetails.icdCodeHeader=='NA' && measureDetails.cptCodeHeader=='NA'">
            NA
        </p> -->
      </div>
      <!-- <table>
        <tr>
          <td width="200"><strong>CPT Codes</strong></td>
          <td width="150">64343-47938</td>
          <td></td>
        </tr>
      </table> -->
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Inclusion codes:</label>
      <div class="mbf-inner">
        <p>{{measureDetails.measureId}}</p>
      </div>
      <table>
        <tr>
          <td width="200"><strong>CPT Codes</strong></td>
          <td width="150">64343-47938</td>
          <td width="150">64343-47938</td>
          <td width="150">64343-47938</td>
          <td width="150">64343-47938</td>
          <td width="150">64343-47938</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>HCPCS</strong></td>
          <td>64343-79387</td>
          <td>64343-79387</td>
          <td>64343-79387</td>
          <td>64343-79387</td>
          <td>64343-79387</td>
          <td></td>
        </tr>
        <tr>
          <td><strong>ICD-9CM-Procedure</strong></td>
          <td>87,36,87,37</td>
          <td colspan="5"></td>
        </tr>
      </table>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Exclusion Codes</label>
      <div class="mbf-inner">
          <div class="ang-txt-bx cls-msr-dtl">
              <i class="fa fa-plus" style="float: right;" *ngIf="IsNewMeasure"  (click)="EnableMeasureEditor('exclusionRules')"></i>
              <i class="fa fa-pencil" style="float: right;"  *ngIf="!IsNewMeasure"  [hidden]="!this.exclusionRulesEditor" (click)="EnableMeasureEditor('exclusionRules')"></i>
              <a href="javascript:void(0);" [hidden]="this.exclusionRulesEditor" (click)="DisableMeasureEditor('exclusionRules')"><i class="fa fa-times"></i></a>
          <span  [hidden]="this.exclusionRules">
              <div [innerHTML]="measureDetails.exclusionRules  | safehtml"></div></span>
           
        <!-- {{measureDetails.exclusionRules}}  -->
        <angular-editor id="editor8" [(ngModel)]="measureDetails.exclusionRules" [hidden]="this.exclusionRulesEditor" ></angular-editor>
        </div>
      </div>
      <!-- <table>
        <tr>
          <td width="200" rowspan="2"><strong>Bilateral Mastectomy</strong></td>
          <td width="250">ICD-9-CM Procedure</td>
          <td width="350">85,42,85,44,85,46,85,48</td>
          <td></td>
        </tr>
        <tr>
          <td>ICD-10-CM Procedure</td>
          <td>OHTV0ZZ</td>
          <td></td>
        </tr>
        <tr>
          <td width="200" rowspan="3"><strong>Unilateral Mastectomy</strong></td>
          <td>ICD-9-CM-Procedure</td>
          <td>85,41,85,43,85,45,85,47</td>
          <td></td>
        </tr>
        <tr>
          <td>ICD-10 Procedure</td>
          <td>Right Unilateral Mastectomy: OHTT0ZZ<br>Right Unilateral Mastectomy: OHTT0ZZ</td>
          <td></td>
        </tr>
        <tr>
          <td>CPT</td>
          <td>19180, 19200, 19220, 19240, 19303-19307</td>
          <td></td>
        </tr>
      </table> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Denominator Rules</label>
      <div class="mbf-inner">
          <div class="ang-txt-bx cls-msr-dtl">
              <i class="fa fa-plus" style="float: right;" *ngIf="IsNewMeasure"  (click)="EnableMeasureEditor('denominatorRules')"></i>
              <i class="fa fa-pencil" style="float: right;" *ngIf="!IsNewMeasure"  [hidden]="!this.denominatorRulesEditor" (click)="EnableMeasureEditor('denominatorRules')"></i>
              <a href="javascript:void(0);" [hidden]="this.denominatorRulesEditor" (click)="DisableMeasureEditor('denominatorRules')"><i class="fa fa-times"></i></a>
          <span  [hidden]="this.denominatorRules">
              <div [innerHTML]="measureDetails.denominatorRules  | safehtml"></div></span>
        <!-- {{measureDetails.denominatorRules}} -->
        <angular-editor id="editor7" [(ngModel)]="measureDetails.denominatorRules"  [hidden]="this.denominatorRulesEditor"></angular-editor>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">                                  
      <label>Denominator SQL</label>
      <div class="mbf-inner">
        {{measureDetails.denominatorSQL}}
      </div>

    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Exclusion Rules</label>
      <div class="mbf-inner">
          <div class="ang-txt-bx cls-msr-dtl">
              <i class="fa fa-plus" style="float: right;" *ngIf="IsNewMeasure"  (click)="EnableMeasureEditor('exclusionRules')"></i>
              <i class="fa fa-pencil" style="float: right;" *ngIf="!IsNewMeasure" [hidden]="!this.exclusionRulesEditor"  (click)="EnableMeasureEditor('exclusionRules')"></i>
              <a href="javascript:void(0);" [hidden]="this.exclusionRulesEditor" (click)="DisableMeasureEditor('exclusionRules')"><i class="fa fa-times"></i></a>
          <span [hidden]="this.exclusionRules">
              <div [innerHTML]="measureDetails.exclusionRules  | safehtml"></div></span>
        <!-- {{measureDetails.exclusionRules}}  -->
        <angular-editor id="editor8" [(ngModel)]="measureDetails.exclusionRules" [hidden]="this.exclusionRulesEditor" ></angular-editor>
        </div>
        <!-- <p>Women 50-74 years of age on or between October 1st two years prior to the measurement year, and December 31
          of the measurement year who are not subject to the following exclusion criteria.</p>
        <br>
        <h3>Any of the following meet criteria for bilateral mastectomy:</h3>
        <ul>
          <li>Bilateral mastectomy code (Bilateral Mastectomy Value Set)</li>
          <li>Unilateral Mastectomy with a bilateral modifier</li>
        </ul>
        <h3>Two unilateral mastectomies with service dates 14 days or more apart</h3>
        <ul>
          <li>Unilateral mastectomy with right-side modifier with same date of service.</li>
          <li>Unilateral mastectomy with left-side modifier with same date of service.</li>
        </ul>
        <p><strong>Note:</strong> For Medical Codes being used for Exclusion Refer to exclusion Codes</p> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Numerator Rules <i matTooltip="You can use formating shortcut key for format the paragraph"
  class="fa fa-info-circle infobox"></i></label>
      <div class="mbf-inner">
          <div class="ang-txt-bx cls-msr-dtl">
              <i class="fa fa-plus" style="float: right;" *ngIf="IsNewMeasure"  (click)="EnableMeasureEditor('numeratorRules')"></i>
              <i class="fa fa-pencil" style="float: right;" *ngIf="!IsNewMeasure"  [hidden]="!this.numeratorRulesEditor" (click)="EnableMeasureEditor('numeratorRules')"></i>
              <a href="javascript:void(0);" [hidden]="this.numeratorRulesEditor" (click)="DisableMeasureEditor('numeratorRules')" ><i class="fa fa-times"></i></a>
          <span [hidden]="this.numeratorRules">
              <div [innerHTML]="measureDetails.numeratorRules  | safehtml"></div></span>
        <!-- {{measureDetails.numeratorRules}} -->
        <angular-editor id="editor9" [(ngModel)]="measureDetails.numeratorRules" [hidden]="this.numeratorRulesEditor" ></angular-editor>
        </div>
        <!-- <strong>patientYoungerthen20 = </strong>
        We find the snomedcode for the above patient, if the patient is less than 20 on the date of the service:<br>

        Then we check whether the snomed code mapped to the BMI Percentile value set or not, if it is there we include that patient also find the number of patient whose BMI Percentile calculated. <br><br>
        <strong>patientOlderthen20 = </strong>

        If the patient is older than 20 then we check whether the snomed code mapped to the BMI value set or not, if it is there we include that patient also find the number of patient whose BMI calculated. <br><br>

        Numerator = patientYoungerthen20 + patientOlderthen20 -->
        <!-- <p><em>From the above list of patients (denominator)</em></p>
          <p>Any enrollment, claim or encounter transaction any time during the measurement year and the year prior to
            the measurement year.</p> -->
      </div>
    </div>
  </div>
</div>
<!-- <button _ngcontent-c15=""  *ngIf="IsButtonDisable" [disabled]="measureDetails.description.length <=4" class="submit mat-btn cursor" mat-button="" type="submit" (click)="SetMeasureDetails()" > Save </button> -->
<button _ngcontent-c15=""  *ngIf="IsButtonDisable"  class="submit cursor mat-cmn-btn" mat-button="" type="submit" (click)="SetMeasureDetails()" > Save </button>
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="ma-bx ma-bx-full">
      <label>Numerator SQL</label>
      <div class="mbf-inner">
        {{measureDetails.numeratorSQL}}
      </div>
    </div>
  </div>
</div> -->
