.ma-bx { background-color:#ffffff;padding:10px 15px;margin-bottom:20px;}
.ma-bx label { color:#5f7bd7;font-size:14px;font-weight:300;width:180px;margin:0;}
.ma-bx span { color:#4D4F5C; font-size:14px;}
.ma-bx.ma-bx-full { padding:0;}
.ma-bx.ma-bx-full .mbf-inner { padding:10px 15px;}
.ma-bx.ma-bx-full label { display:block;padding:10px 15px;border-bottom:1px solid #EBEEF3;width:100%;}
.ma-bx.ma-bx-full p { font-size:14px;margin-bottom:0;}
.ma-bx.ma-bx-full table { width:100%;}
.ma-bx.ma-bx-full table tr { border-bottom:1px solid #EBEEF3;}
.ma-bx.ma-bx-full table td { border-right:1px solid #EBEEF3;padding:12px 15px;color:#4D4F5C;font-size:14px;}
.ma-bx.ma-bx-full table td strong { font-weight:bold;}
.ma-bx.ma-bx-full h3 { color:#4D4F5C;font-size:14px;font-weight:bold;}
.ma-bx.ma-bx-full ul li { color:#4D4F5C;font-size:14px;font-style:italic;}
.ang-txt-bx { position: relative;}
.ang-txt-bx > a{position: absolute;right: 3px; top: -27px;}
.cls-msr-dtl > a{ top:-48px;color: #999;}
.cls-msr-dtl > .fa-pencil{position: absolute; right: 0px;top: -40px;color: #aaa; cursor: pointer;}





