<div class="side-nav scrollbar-primary" id="show-side-navigation1">
  <div class="logo-wrap">
    <img src="assets/img/logo.png" class="cursor" [routerLink]="['/Admin/dashboard']" />
  </div>
  <div class="heading">
    <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
      alt="">
    <div class="info">
      <h3>
        <a href="#">Mostafa Omar</a>
      </h3>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
  <!-- <ul class="side-menu">
      <li class="active"><a href="javascript:void(0);"><i class="fa fa-home"></i> Dashboard</a></li>
      <li><a href="javascript:void(0);"><i class="fa fa-signal"></i> Organization</a></li>
      <li><a href="javascript:void(0);"><i class="fa fa-user"></i> Users</a></li>
      <li><a href="javascript:void(0);"><i class="fa fa-dollar"></i> Subscribe Us</a></li>
      <li><a href="javascript:void(0);"><i class="fa fa-comment"></i> Testimonial</a></li>
    </ul> -->
  <ul class="side-menu">
    <li class="active">
      <a href="javascript:void(0);" [routerLink]="['/Admin/dashboard']">
        <i class="fa fa-home"></i> Dashboard</a>
    </li>
    <li class="active" *ngFor="let menuItem of mainMenus"  >
        <!-- href="{{menuItem.mainMenuUrl}}" -->
      <span *ngIf="menuItem.subMenus.length!=0">
        <a class="toggle">
          <i class="{{menuItem.menuIcon}}"></i>
          {{menuItem.mainMenuName}}</a>
          <div id="submenu" class="drpdwn-cstm">
            <!-- <div><a href="{{menuItem.mainMenuUrl}}">{{menuItem.mainMenuName}}</a></div> -->
              <li *ngFor="let item of menuItem.subMenus"><div><a href="{{item.subMenuUrl}}">{{item.subMenusName}}</a></div></li>
              <!-- <div><a href="javascript:void(0);">Dropdown Link 1</a></div>
              <div><a href="javascript:void(0);">Dropdown Link 1</a></div>
              <div><a href="javascript:void(0);">Dropdown Link 1</a></div> -->
            </div>  
      </span>
      <span *ngIf="menuItem.subMenus.length==0">
            <a href="{{menuItem.mainMenuUrl}}"><i class="{{menuItem.menuIcon}}" ></i> {{menuItem.mainMenuName}}</a>
            <!-- <ul class="side-nav-dropdown">
                <li></li>
                <li  *ngFor="let item of menuItem.subMenus"><a href="{{item.subMenuUrl}}">{{item.subMenusName}}</a></li>
                
              </ul> -->
        </span>
      <!-- <span *ngIf="menuItem.subMenus.length!=0">
            <a> {{menuItem.mainMenuName}}</a>
            <ul class="side-nav-dropdown">
                <li></li>
                <li  *ngFor="let item of menuItem.subMenus"><a href="{{item.subMenuUrl}}">{{item.subMenusName}}</a></li>
                
              </ul>
        </span> -->
      
    </li>
   <!-- <li>
       <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>Button</mat-icon>
      </button> 
    
    </li>-->
  </ul>
</div>
