.logo-wrap { padding: 25px 0px; text-align: center;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.logo-wrap img { max-height: 100px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.side-menu{ list-style: none; padding: 0px;}
.side-menu li a{ padding: 14px 15px; font-size: 15px; display: inline-block; width: 100%; color: #fff;}
.side-menu li a:hover{ text-decoration: none;background: #0192db;;}
.side-menu li.active a{ border-left: 4px solid #42c300; background: #0192db;; margin-bottom: 1px;}
.side-menu li a i{ width: 18px; text-align: center;}
.side-nav {
float: left;
height: auto; bottom: 0px;
width: 200px;
background-color: #02a7fa ;
color: #333;
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
transform: translateX(0);
-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;
position: fixed;
top:0px;
left:0;
overflow: visible;
z-index: 9999999
}
.side-nav .close-aside {
position: absolute;
top: 7px;
right: 7px;
cursor: pointer;
color: #EEE;
}
.side-nav .heading { background-color: #ebeef3;padding: 15px 15px 15px 30px;overflow: hidden;border-bottom: 1px solid #2a2b3c}
.side-nav .heading > img { border-radius: 50%;float: left;width: 28%;}
.side-nav .info { float: left;width: 69%;margin-left: 3%;}
.side-nav .search, .side-nav .heading{ display: none;}
.side-nav .heading .info > h3 {margin: 0 0 5px}
.side-nav .heading .info > h3 > a { color: #333;font-weight: 100;margin-top: 4px;display: block;text-decoration: none;font-size: 18px;}
.side-nav .heading .info > h3 > a:hover {
color: #FFF;
}
.side-nav .heading .info > p {
color: #BBB; margin-bottom: 0px;
font-size: 13px;
}
.side-nav .search {
text-align: center;
padding: 15px 30px;
margin: 15px 0;
position: relative;
}
.side-nav .search > input {
width: 100%;
background-color: transparent;
border: none;
border-bottom: 1px solid #23262d;
padding: 7px 0 7px;
color: #DDD
}
.side-nav .search > input ~ i {
position: absolute;
top: 22px;
right: 40px;
display: block;
color: #2b2f3a;
font-size: 19px;
}
.side-nav .categories > li {
padding: 17px 40px 17px 30px;
overflow: hidden;
border-bottom: 1px solid rgba(255, 255, 255, 0.02);
cursor: pointer;
}
.side-nav .categories > li > a {
color: #333;
text-decoration: none;
}
.side-nav .categories > li > a > .num {
line-height: 0;
border-radius: 3px;
font-size: 14px;
color: #FFF;
padding: 0px 5px
}
.dang {background-color: #f35959}
.prim {background-color: #0275d8}
.succ {background-color: #5cb85c}
.side-nav .categories > li > a:hover {
color: #5270d4;
}
.side-nav .categories > li > i {
font-size: 18px;
margin-right: 5px
}
.side-nav .categories > li > a:after {
content: "\f053";
font-family: fontAwesome;
font-size: 11px;
line-height: 1.8;
float: right;
color: #AAA;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.side-nav .categories .opend > a:after {
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
transform: rotate(-90deg);
}
.side-nav .categories .side-nav-dropdown {
padding-top: 0px;
padding-left: 0px;
list-style: none;
display: block;
}
.side-nav .categories .side-nav-dropdown > li > a { color: #AAA;text-decoration: none;padding: 7px 0;display: block;}
.side-nav .categories p { margin-left: 30px;color: #535465;margin-top: 10px;}
.side-nav .mat-expansion-panel-header{ padding: 0px;}
.side-nav .mat-expansion-panel{ background: none; box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;}
.show-side-nav { -webkit-transform: translateX(-290px);-moz-transform: translateX(-290px);transform: translateX(-290px);}
.side-nav .mat-expansion-panel-body{ padding-top:0px; padding-bottom: 0px; }
.categories{padding:0;}
.side-menu li{ border:none; position: relative;}
.side-menu li .drpdwn-cstm { transform: none; -webkit-transform: none; -ms-transform: none; width:100%; top:0px; padding:0px; left:0; margin-left:0px; position: static; display: none}
.side-menu li .drpdwn-cstm li a{ margin-bottom:0px; color:#fff; font-size:15px; padding:16px 25px; width:100%; border:none !important; display: inline-block; border-bottom:1px solid #3aafea !important; }
.side-menu li .show-sb-dropdown{ display: block;}
.side-menu li:hover .drpdwn-cstm{ display: block;}

  
@media (max-width: 767px) {
.side-nav .categories > li {
padding-top: 12px;
padding-bottom: 12px;
}
.side-nav .search {padding: 10px 0 10px 30px
}
}