<!-- <div class="head-title">
    <div class="row">
      <div class="col-sm-12">
        <h2>Organization List </h2>
      </div>    
    </div>
  </div>
  <div class="inner-wrap">
    <div class="row">
      <div class="col-sm-8">
        <div class="tbl-fm">
         
          <div class="row">
            <div class="col-sm-5">
              
         
              <mat-select placeholder="All">
                <mat-option *ngFor="let organization of OrganizationDropDown" [value]="organization.id" (click)="getFilteredList(organization.id)">
                  {{organization.name}}
                </mat-option>
              </mat-select>
                
                
            </div>
            <div class="col-sm-5">

                  <input matInput placeholder="search" (input)="getSearchedData($event)"[(ngModel)]="search">
            </div>  
         
          </div>
       
        </div>
      </div>
      <div class="col-sm-4 text-right">
         <a class="mat-org" mat-raised-button [routerLink]="['/home/setUp']" > Add Organization </a>
      </div>
    </div>
   
 
 

<div class="table-ui">      
<mat-table #table [dataSource]="dataSource" (matSortChange)="sortData($event)">
    <ng-container matColumnDef="OrganizationId">
        <mat-header-cell *matHeaderCellDef> OrganizationId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.OrganizationId}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="OrganizationName">
      <mat-header-cell *matHeaderCellDef > OrganizationName <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationName','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationName','desc')"></i></div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="GlobalType">
        <mat-header-cell *matHeaderCellDef> Type <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('GlobalType','asc')"></i><i class="fa fa-sort-down" (click)="sortData('GlobalType','desc')"></i></div></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.GlobalType}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="OrganizationAddress">
      <mat-header-cell *matHeaderCellDef> OrganizationAddress <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationAddress','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationAddress','desc')"></i> </div> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationAddress}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="OrganizationPhoneNumber">
      <mat-header-cell *matHeaderCellDef> OrganizationPhoneNumber <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationPhoneNumber','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationPhoneNumber','desc')"></i> </div></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationPhoneNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="OrganizationFax">
      <mat-header-cell *matHeaderCellDef> OrganizationFax <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('OrganizationFax','asc')"></i><i class="fa fa-sort-down" (click)="sortData('OrganizationFax','desc')"></i></div> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OrganizationFax}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
        
          <i class="fa fa-cogs" style="cursor:pointer"  aria-hidden="true" title="Add SFTP/FHIR Configuration" (click)="setOrganizationConfiguration(element,template)"></i>
     
        </mat-cell>
        <mat-cell *matCellDef="let element"> </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </div>

  
    <mat-paginator [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageEvent = getServerData($event)"
                  (ngModelChange)="getServerData($event)"
                  >

    </mat-paginator>
     </div>

    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">SFTP Configuration</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="auth-wrap-background">
                <div class="auth-center">
                  <div class="auth-blur auth-size">
                    <div class="auth-wrap-background"></div>
                  </div>
                </div>
                <div class="auth-center">
                  <div class="auth__inner auth-size">
                   
                   <div class="">
                    <div class="auth__form auth__inner__section">
                      <div class="form">
                        <form [formGroup]="orgConfigModel" (ngSubmit)="onSftpFormSubmit(orgConfigModel.value) && orgConfigModel.valid">
                
                        <label class="form__label"><span class="form__label__text">Host</span>      
                          <input class="form__input" formControlName="Name" matInput #Name  placeholder="Host Name">            
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">Port No.</span>
                          <input class="form__input"   formControlName="Port" matInput #Port placeholder="Port">
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">User Name</span>      
                          <input class="form__input" formControlName="UserName" matInput #UserName  placeholder="Host Name">            
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">Password</span>
                          <input class="form__input"   formControlName="Password" matInput #Password placeholder="Port">
                          <div class="form__input-border"></div>
                        </label>
                        <label class="form__label"><span class="form__label__text">Active</span>      
                         
                          <input type="checkbox" formControlName="IsActive" matcheckbox #IsActive>
                          <div class="form__input-border"></div>
                        </label>
                       
                      
                        <div class="clearfix"></div>
                        <input type="submit" class="submit" value="Submit" [disabled]="!orgConfigModel.valid">
                      </form>
                      </div>
                    </div>
                   </div>
                  </div>
                </div>
              </div>
        </div>
      </ng-template> -->


<div (click)="RemoveFilterSection($event)">
      <div class="head-title blk-pt-ttl">
        <div class="row">
          <div class="col-sm-12">
            <h2 *ngIf="IsDetailPage" [ngClass]="CareGap?'':'pt-lst-cdn-ttl'"> 
              <!--<i class="fa fa-arrow-left" aria-hidden="true"  ></i>-->
            <svg routerLink="/Admin/dashboard"  viewBox="0 0 17.5 11" width="18">
              
                <defs>
                  <style>
                    .cls-1 {
                      fill: #4d4f5c;
                    }
              
                    .cls-2 {
                      fill: none;
                      stroke: #4d4f5c;
                      stroke-width: 2px;
                    }
                  </style>
                </defs>
                <g id="Group_287" data-name="Group 287" transform="translate(-85 -178)">
                  <g id="icon_down-arrow-small" transform="translate(260 21) rotate(90)">
                    <path id="Path_361" data-name="Path 361" class="cls-1" d="M8.1,11.6,2.6,6.041,4.026,4.6,8.1,8.718,12.174,4.6,13.6,6.041Z" transform="translate(154.4 163.4)"/>
                  </g>
                  <line id="Line_74" data-name="Line 74" class="cls-2" x2="15" transform="translate(87.5 183.5)"/>
                </g>
              </svg>
              Patient List
              </h2>
              <h2 *ngIf="!IsDetailPage">
              Patient List
            </h2>
             
          
            <div class="row">
              <div class="col-sm-9 col-md-8">
                <div class="scb-care">
                  <div class="scb-wrap" *ngIf="CareGap">
                    <span (click)="FilterPatientAsPerFlag('1')" class="cg-item cg-item-danger cursor" [ngClass]="dynamicclass==1?'active-tag-pt':''">Past Due</span>
                   
                <span (click)="FilterPatientAsPerFlag('2')" class="cg-item cg-item-warning cursor" [ngClass]="dynamicclass==2?'active-tag-pt':''">Deadline within 90
                  days</span>
                <span (click)="FilterPatientAsPerFlag('4')" class="cg-item cg-item-warning cursor" [ngClass]="dynamicclass==4?'active-tag-pt':''">End of Year Deadline
                  </span>
                <span (click)="FilterPatientAsPerFlag('3')" class="cg-item cg-item-success cursor" [ngClass]="dynamicclass==3?'active-tag-pt':''">In-compliance</span>
              </div>
              <div class="col-sm-2">
                <!--<button (click)="ClearFilter()" class="btn btn-primary btn-sm ccda2 mt-0" style="margin-right:10px;">Clear Filters</button>-->
                <!-- <i class="fa fa fa-sliders btn btn-primary sidebarBtn"  aria-hidden="true" style="padding:7px 10px;" (click)="showAndHideFilters('true')"></i> -->
                <img _ngcontent-c5="" id="sidebar" alt="" class="sidebarBtn" src="../assets/img/sidebar-control.png" (click)="showAndHideFilters('true')">
              </div>
            </div>
            <div class="tbl-srch-fltr">
                <div class="row">
                  <div class="col-sm-8" *ngIf="Filter" style="margin-top: 8px;">
                    <ul class="tbl-hd-btns">
                      <!-- <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger"><i
                            class="fa fa-search" (click)="FilterPatientAsPerSearch('1')"></i> Search</button></li> -->
                      <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger" (click)="FilterPatientAsPerSearch('1')"><i class="fa fa-search" style="margin-right: 4px;"></i>Search</button></li>
                      <li> <button mat-raised-button color="accent" class="mat-raised-button mat-primary" (click)="FilterPatientAsPerSearch('2')">Care Gaps</button></li>
                      <li> <button mat-raised-button color="accent" class="mat-raised-button mat-warn fltr-actv-sort" (click)="FilterPatientAsPerSearch('3')">Attribution</button></li>
                      <!-- <li> <button mat-raised-button color="accent" class="mat-raised-button mat-default" (click)="FilterPatientAsPerSearch('4')">Reconciliation</button>
                      </li>
                      <li> <button mat-raised-button color="accent" class="mat-raised-button mat-accent" (click)="FilterPatientAsPerSearch('5')">MPI Issue</button></li> -->
                    </ul>
                  </div>
                  <div class="col-sm-4 clr-fltr-tbl">
                    <ul class="tbl-hd-btns text-right">
                      <!-- <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger">Clear filter</button>
                      </li>
                      <li> <button mat-raised-button color="accent" class="mat-raised-button mat-primary">Export</button></li> -->
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-3 text-right clr-fltr-pt col-md-4">
              <div class="msrp-lst-avt">
                  <i class="fa fa-bar-chart"></i>
                  
                  {{MeasureName}}
                </div>
            <button (click)="ClearFilter()" class="btn btn-primary btn-sm ccda2" style="margin-right:10px;">Clear
              Filters</button>
            <!-- <i class="fa fa fa-sliders btn btn-primary sidebarBtn"  aria-hidden="true" style="padding:7px 10px;" (click)="showAndHideFilters('true')"></i> -->
            <img _ngcontent-c5="" id="sidebar" alt="" class="sidebarBtn" src="../assets/img/sidebar-control.png"
              (click)="showAndHideFilters('true')">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-wrap" *ngIf="isMatGrid">
    <div class="row">
      <div class="col-sm-12">
        <div class="tbl-fm">
          <div class="row">
            <div class="col-sm-4">
              <!-- <mat-form-field class="cls-wrp">
                     <span matPrefix class="fa fa-search"></span>
                      <input matInput placeholder="Search" (input)="getSearchedData()"[()]="search">
                      </mat-form-field> -->
            </div>
            <div class="col-sm-5"></div>


          </div>

        </div>
      </div>
      <div class="col-sm-4 text-right">

      </div>
    </div>
    <div class="table-ui table-patient-list">
      <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PatientName',$event)">
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="DOB">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('DOB',$event)">
            DOB
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.DOB | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ClinicName">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('ClinicName',$event)">
            Clinic Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ClinicName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ProviderName">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('ProviderName',$event)">
                Physician 
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ProviderName}} </mat-cell>
          </ng-container>
        <ng-container matColumnDef="LastVisit">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('LastVisit',$event)">
            Last Visit
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.LastVisit | date:'MM/dd/yyyy'}} </mat-cell>
          <!-- <mat-header-cell *matHeaderCellDef> Last Visit <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('LastVisit','asc')"></i><i class="fa fa-sort-down" (click)="sortData('LastVisit','desc')"></i></div> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.LastVisit  | date:'MM/dd/yyyy'}} </mat-cell> -->
        </ng-container>
        <!-- <ng-container matColumnDef="NextVisit">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('NextVisit',$event)">
            Next Visit
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.NextVisit | date:'MM/dd/yyyy'}} </mat-cell>
           <mat-header-cell *matHeaderCellDef> Next Visit <div class="sort-nm-val"><i class="fa fa-sort-up" (click)="sortData('NextVisit','asc')"></i><i class="fa fa-sort-down" (click)="sortData('NextVisit','desc')"></i></div> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NextVisit   | date:'MM/dd/yyyy'}} </mat-cell> -->
         <!--</ng-container> -->
        <ng-container matColumnDef="Days">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Days',$event)">
            Days
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Days}} </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="Gap">
          <mat-header-cell *matHeaderCellDef mat-sort-header  (click)="sortData('Gap',$event)"> Care GapS  -->
             <!-- <div class="sort-nm-val">  -->
              <!-- <i class="fa fa-sort-up" (click)="sortData('NextVisit','asc')">

          </i><i class="fa fa-sort-down" (click)="sortData('NextVisit','desc')"></i> -->
            <!-- </div> -->
          <!-- </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Gap}} </mat-cell>
        </ng-container> -->
          <!-- <mat-cell *matCellDef="let element">

            <div class="scb-wrap wrapword">
              <!-- <li class="nav-item dropdown">
                  <a [matMenuTriggerFor]="menu" class="nav-link" href="javascript:void(0);">
              
                  </a>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>Account</button>
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item>Notification</button>
                    <button mat-menu-item (click)="logOut()">Logout</button>
                  </mat-menu>
                </li> -->
             <!-- <span *ngIf="element.Status==0" class="cg-item cg-item-danger">Past Due</span>
              <span *ngIf="element.Status==1 && element.Gap>65 && element.Gap<=90 "
                class="cg-item cg-item-warning">Within 90 days</span>
              <span *ngIf="element.Status==1 && element.Gap>90" class="cg-item cg-item-warning">Within 1 year</span>
              <span *ngIf="element.Status==1 && element.Gap<65 " class="cg-item cg-item-success">In-compliance</span>

            </div>
          </mat-cell>

        </ng-container> -->

        <ng-container matColumnDef="Note">
          <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16" width="18">
              <g transform="translate(-187 -91)">
                <path data-name="Path 102" fill="#ced1d6"
                  d="M14,0H2A.945.945,0,0,0,1,1V16l3-2,2,2,2-2,2,2,2-2,3,2V1A.945.945,0,0,0,14,0ZM12,10H4V8h8Zm0-4H4V4h8Z"
                  transform="translate(186 91)" />
              </g>
            </svg>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <i [routerLink]="['/Admin/patientchart']" style="cursor:pointer" [queryParams]="{id:element.PatientId}"
              class="fa fa-user-circle" aria-hidden="true" title="Patient Chart"></i>
            &nbsp; &nbsp;
            <i class="fa fa-eye" style="cursor:pointer" aria-hidden="true" aria-hidden="true" title="View Patient CCDA"
              (click)="fnGetPatientCDA(element)"></i>
          </mat-cell>
          <mat-cell *matCellDef="let element"> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="clearfix" *ngIf="Emptylist  && isMatGrid">
        <p style="padding: 10px;background-color: #f5f6fa;margin-top: 5px;text-align: center;color: #A3A6B4;">
          No record Found
        </p>
      </div>
    </div>
  </div>
  <mat-paginator *ngIf="!Emptylist  && isMatGrid" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="getServerData($event)" (ngModelChange)="getServerData($event)">
  </mat-paginator>
  <div class="inner-wrap" *ngIf="!isMatGrid">
  <div class="fltrd-data"  style="margin-top: 8px;">
      <ul class="tbl-hd-btns">
        <li> <button mat-raised-button color="accent" class="mat-raised-button mat-danger" (click)="FilterPatientAsPerMismatch('1')">Mismatch</button></li>
        <li> <button mat-raised-button color="accent" class="mat-raised-button mat-primary" (click)="FilterPatientAsPerMismatch('2')">Not Confirmed</button></li>
      </ul>
      <div class="table-ui table-patient-list">
          <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="Name">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PatientName',$event)">
                Name
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="DOB">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('DOB',$event)">
                DOB
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.DOB | date:'MM/dd/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="PCPName">
                <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PrimaryProvider',$event)">
                    PCPName 
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.PrimaryProvider}} </mat-cell>
              </ng-container>
            <ng-container matColumnDef="Ethnicity">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('EthnicityName',$event)">
                  Ethnicity
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.EthnicityName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Race">
              <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Race',$event)">
                Race
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.RaceName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Note">
              <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
              <mat-cell *matCellDef="let element">
    
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16" width="18">
                  <g transform="translate(-187 -91)">
                    <path data-name="Path 102" fill="#ced1d6"
                      d="M14,0H2A.945.945,0,0,0,1,1V16l3-2,2,2,2-2,2,2,2-2,3,2V1A.945.945,0,0,0,14,0ZM12,10H4V8h8Zm0-4H4V4h8Z"
                      transform="translate(186 91)" />
                  </g>
                </svg>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <i [routerLink]="['/Admin/patientchart']" style="cursor:pointer" [queryParams]="{id:element.PatientId}"
                  class="fa fa-user-circle" aria-hidden="true" title="Patient Chart"></i>
                &nbsp; &nbsp;
                <i class="fa fa-eye" style="cursor:pointer" aria-hidden="true" aria-hidden="true" title="View Patient CCDA"
                  (click)="fnGetPatientCDA(element)"></i>
              </mat-cell>
              <mat-cell *matCellDef="let element"> </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedAttributeColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedAttributeColumns;"></mat-row>
          </mat-table>
          <div class="clearfix" *ngIf="Emptylist  && isMatGrid">
            <p style="padding: 10px;background-color: #f5f6fa;margin-top: 5px;text-align: center;color: #A3A6B4;">
              No record Found
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
<!--Model Pop-up-->
<div *ngIf="showfilter=='true'">
  <app-filter (messageEvent)="receiveMessage($event)"></app-filter>
</div>