/* .fiter_sidebar_btn{
  position: absolute;
  right: 15px;
  background: #5270D4;
  font-size: 25px;
}
.expandedSidebar{
  right: 0;
} */
@import "~@angular/cdk/overlay-prebuilt.css";
/* .fiter_sidebar_btn{
position: absolute;
right: 15px;
background: #5270D4;
font-size: 25px;
}
.expandedSidebar{
right: 0;
} */
.default-scroll-ui{ overflow-x:auto !important;}
.prc-rt-pl{ margin-right:-7px;}
.table-summary { overflow:visible;}
.table-summary table { width:100%;}
.table-summary .summary-head th { background-color:#ffffff;color:#676974;font-size:13px;font-weight:500;white-space:nowrap;}
.table-summary .summary-head th strong { font-weight:500;}
.table-summary th { vertical-align:bottom;padding:10px 14px;background-color:#676767; color: #fff;} 
.table-summary h3 { text-transform:uppercase;font-size:11px;font-weight:bold;color:#fff;margin-bottom:0;}
.table-summary h4 { font-size:16px;color:#5f7bd7;}
.table-summary td { padding:10px 14px;background-color:#ffffff;font-size:11px;white-space:nowrap;font-weight:500;color:#7F818C;}
.clear-filter-wrap { margin-bottom:15px;}
.table-summary .border-left { border-left:1px solid #efefef;}
.p-arrow { width:10px;}
.table-summary td .met-wrap td { padding:0 2px;}
.setting-icon-wrap { display:inline-block;margin-left:5px;}
.progress-hedis { position:relative;overflow:visible;}
.progress-hedis .progress-bar:first-child { position:relative;z-index:2;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.progress-hedis .progress-bar:last-child { position:absolute;z-index:1;left:0;top:0;bottom:0;width:100%;background-color:rgb(233, 236, 239);}
:host /deep/ .progress-hedis popover-container { margin-top:-10px;width:300px;}
:host /deep/ .progress-hedis popover-container .btn { padding:10px;font-size:12px;}
:host /deep/ #organizationForm .mat-expansion-panel-header:not([aria-disabled=true]) { border-bottom:1px solid #dfdfdf;background-color:#ebebeb;border-bottom-left-radius:0;border-bottom-right-radius:0;}
/* .cg-item { display:inline-block;border:1px solid #e1e1e1;padding:5px 8px;border-radius:20px;font-size:11px;margin-right:10PX;}
.cg-item:before { content:'';width:16px;height:7px;border-radius:15px;background-color:#35cc6d;display:inline-block;margin-right:5px;}
.cg-item-rangefirst:before { background-color:#FFC300;}
.cg-item-rangesecond:before { background-color:#008000;}
.cg-item-rangethird:before { background-color:#8b0000;}
.cg-item-rangefinal:before { background-color:#6495ED;} */
.msl-cnt-wrap { position:relative;}
.msl-cnt-wrap .clear-filter-wrap { position:absolute;right:0;top:-10px;}
.cg-item { display:inline-block;border:1px solid #e1e1e1;padding:5px 8px;border-radius:20px;font-size:11px;margin-right:10PX;}
.cg-item:before { content:'';width:16px;height:7px;border-radius:15px;background-color:#35cc6d;display:inline-block;margin-right:5px;}

.cg-item-rangefirst:before { background-color:#ffc300;}
.cg-item-rangesecond:before { background-color:#008000;}
.cg-item-rangethird:before { background-color:#8b0000}
.cg-item-rangefinal:before { background-color:#6495ED;} 

.clr-flt-ovt .cg-item{background:#fff; margin-top:9px; vertical-align:top;}
.clr-flt-ovt {margin-bottom: 5px;margin-top: -28px;}


.table-summary .b-mark.lst-bk-rw > span{ width:20%; margin-right:0px !important; text-align:left !important;}
.prgrs-comn{position: absolute !important; height: 100%;}
.prgrs-index1{ z-index: 2 !important;}
.prgrs-index2{ z-index: 3 !important;}
.table-summary .bmrk-prcnt-bx > span.lst-spn-bmrk{ width:auto !important; margin-right:-100px !important;}
.paddingright{
  padding-right: 40px;
}
/* .natd-dt{text-align: left !important;padding-left: 20px !important; border-left:1px solid #dee2e6 !important;} */