.wa-table { width:100%;font-family:"Roboto", sans-serif;}
.wa-table th { color:#ffffff;font-size:13px;padding:11px 13px;white-space:nowrap;background-color:#676767;text-transform:uppercase;font-weight:500;}
.wa-table td { color:#7b7b7b;font-size:15px;padding:5px;font-weight:400;}
.wa-table td:nth-child(3) { text-align:center;}
.wa-table td strong { font-weight:bold;color:#888888;}