<!-- <div class="table-ui table-patient-list tbl-sort-icons">
  <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="MPI">
    <mat-header-cell *matHeaderCellDef> MPI </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.MPI}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('OrganizationName',$event)">
        Organization
      </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.OrganizationName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Account">
    <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.AccountNumber}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('PatientStatus',$event)">
        Status
      </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.PatientStatus}} </mat-cell>
 
  </ng-container>
  <ng-container matColumnDef="Reason">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('Reason',$event)">
        Reason
      </mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.Reason}}</mat-cell>

  </ng-container>
  <ng-container matColumnDef="Queue">
      <mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortData('QueueStatus',$event)">
        Queue
      </mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.QueueStatus}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
(page)="getServerData($event)" (ngModelChange)="getServerData($event)">

</mat-paginator> -->

<table class="wa-table" *ngIf="needAttentionList">
  <tr>
    <th>Workflow Activities</th>
    <th>Identified</th>
    <th>Days Since</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td colspan="4"></td>
  </tr>
  <tr *ngFor="let item of AttentionPatient;index as i;">
    <td><strong>{{item.PatientStatus}}</strong> - {{item.Reason}}</td>
    <td>{{item.CreatedDate |  date: 'MM/dd/yyyy'}}</td>
    <td>{{item.DaysPassed}}</td>
    <td>
        <!-- <mat-checkbox (change)="changeStatus($event,item)"></mat-checkbox>    -->
        <mat-checkbox (change)="changeStatus($event,item)" value="{{item.AttentionFlag}}" [checked]="item.AttentionFlag" [(ngModel)]="item.AttentionFlag"></mat-checkbox>   
    </td>
  </tr>
</table>