<div class="head-title">
  <h2>Gap Analysis</h2>
</div>
<div class="inner-wrap inner-wrap-15">
  <div class="sub-head-blk"> 
    <h3>Payer Exceptions</h3>
  </div>
  <div class="table-responsive table-ux table-ux-rvrsbd ">
    <table class="table">
      <thead>
        <tr>
          <th>
            Patient
          </th>
          <th>
            DOB
          </th>
          <th>
            Issue Source
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td colspan="4" class="head-table">
              <h4>Aetna</h4>
            </td>        
        </tr>
        <tr>
          <td>
              Chris Sanford
          </td>
          <td>
            <span>
              01/01/1990
            </span>
          </td>
          <td>
            <div class="asgn-lbl">
                <label class="blue-circle"></label>
                Not assigned by payer 
            </div>
          </td>
        </tr>
        <tr>
          <td>
              Chris Sanford
          </td>
          <td>
            <span>
              01/01/1990
            </span>
          </td>
          <td>
            <div class="asgn-lbl">
                <label class="red-circle"></label>
                Assigned Incorrectly
            </div>
          </td>
        </tr>
        <tr>
          <td>
              Chris Sanford
          </td>
          <td>
            <span>
              01/01/1990
            </span>
          </td>
          <td>
            <div class="asgn-lbl">
                <label class="ylw-circle"></label>
                Claim Inconsistency Flagged
            </div>
          </td>
        </tr>
        <tr>
            <td colspan="4" class="head-table">
              <h4>Wellcare</h4>
            </td>        
        </tr>
        <tr>
          <td>
              Chris Sanford
          </td>
          <td>
            <span>
              01/01/1990
            </span>
          </td>
          <td>
            <div class="asgn-lbl">
                <label class="grey-circle"></label>
                Not within Geomap Zone
            </div>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
</div>