<div class="table-responsive table-ux table-ux-rvrsbd tbl-ckbx">
    <table class="table" *ngIf="Emptylist">
      <thead>
        <tr>
          <th class="width42">
            Identified Care Gaps
          </th>
          <th class="width20">
            Deadline
          </th>
          <th class="width12">
            Days
          </th>
          <th class="width26">
            Action Plan
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let items of EligiblePatient">
        <tr>
          <td>
              <mat-checkbox (change)="changeStatus($event,items)" value="{{items.CareGapFlag}}" [checked]="items.CareGapFlag" [(ngModel)]="items.CareGapFlag"> {{items.Name}} </mat-checkbox>
          </td>
          <td>
            {{items.Deadline| date:'MM/dd/yyyy'}}
          </td>
          <td>
            {{items.Gap}} 
          </td>
          <td>
            Next visit on 05/15/19
          </td>
        </tr>
      <tbody>
    </table>
  </div>
   <div class="table-responsive table-ux table-ux-rvrsbd tbl-ckbx">
    <table class="table">
      <thead>
        <tr>
          <th class="width42">
            Reported Care Gaps
          </th>
          <th class="width20"></th>
          <th class="width12"></th>
          <th class="width26"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <mat-checkbox> Controlling High Blood Pressure (CHBP) </mat-checkbox>
          </td>
          <td>
            12/31/2019
          </td>
          <td>
            201 
          </td>
          <td>
            Next visit on 05/15/19
          </td>
        </tr>
      <tbody>
    </table>
  </div>
  <div class="table-responsive table-ux table-ux-rvrsbd tbl-ckbx">
    <table class="table" *ngIf="ImmunizationList">
      <thead>
        <tr>
          <th class="width42">
            Immunizations
          </th>
          <th class="width20">
            Date
          </th>
          <th class="width12">
             Dose 
          </th>
          <th class="width26">
              Units
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of ImunizationData">
          <td>
              <mat-checkbox value="">{{element.Immunization}}</mat-checkbox>
          </td>
          <td>
           {{element.ImmunizationDate | date:'MM/dd/yyyy'}}
          </td>
          <td>
           {{element.ImmunizationDose}}
          </td>
          <td>
            {{element.ImmunizationUnits}}
           </td>
        </tr>
      <tbody>
    </table>
      </div>

