<div class="head-title">
  <h2 > Attribution Panel</h2>
</div>  
<div class="box-card shadow-box atrbt-ui">
  <h4 class="atrbt-ttl">Attribution Panel</h4>
  <div class="row">
    <div class="col-sm-12 mb-rvrs-15">
      <mat-form-field>
        <mat-label>Select Organization</mat-label>
        <mat-select [(ngModel)]="OrganizationId">
          <mat-option *ngFor="let org of Organization" [value]="org.OrganizationId">
            {{org.OrganizationName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12 mb-6">
       <mat-form-field>
          <mat-label>Select Payer</mat-label>
          <mat-select [(ngModel)]="PayerId">
            <mat-option *ngFor="let payer of Payer" [value]="payer.PayerId">
              {{payer.PayerName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
   
    <div class="col-md-6 col-5">
      <input type="file" #file placeholder="Choose file" accept=".xls,.xlsx" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button"  class="mat-btn mat-cstm mat-cmn-btn cursor" (click)="file.click()">Upload File</button>
    </div>
    <div class="col-md-6 text-right col-7">
      <a type="button" download class="btn btn-success" href="../../../assets/ExcelTemplate/Download Attribution Template.xlsx">Download Sample Excel File</a>
    </div>  
  </div>
</div>
