
<div class="sidebarOuter" id="sidebarMain" *ngIf="hide">
    <form
    [formGroup]="filterForm"
    (ngSubmit)="
      onFilterFormSubmit(filterForm.value)
    ">
    <div class="filter_section">

        <i class="fa fa-sliders filter_icon" aria-hidden="true"></i> <span>Filters</span>
        <!-- <button (click)="ClearFilter()" class="clear-link" style="margin-right:10px;">Clear Filters</button> -->
        <button (click)="sidebarCollapse()" class="sidebarBtn close_filter" > <i class="fa fa fa-times close_filter" aria-hidden="true"></i> </button>

        </div>
 <div class="filter-height" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">       
    <div class="row">
        <div class="col-sm-12 sidebar_div mt-top-30" [hidden]="!showMeasureDropDown">
            <mat-form-field class="example-full-width">
                <mat-select
                  placeholder="Measure"
                  name="Type"
                  formControlName="MeasureId"
               
                >
                  <mat-option
                    *ngFor="
                      let measure of MeasureList
                    "
                    [value]="measure.id"
                  > 
                    {{ measure.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

          <!-- <div class="col-sm-6 sidebar_div">
              <mat-form-field class="example-full-width">
                  <mat-select
                    placeholder="Vendor"
                    name="Vendor"
                    formControlName="VendorId"
                 
                  >
                    <mat-option
                      *ngFor="
                        let vendor of VendorList
                      "
                      [value]="vendor.id"
                    > 
                      {{ vendor.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div> -->
          <div class="col-sm-12 sidebar_div">
          <mat-form-field class="example-full-width">
              <input
                class="form__input"
                formControlName="AgeRange"
                matInput
                placeholder="Age Range"
                [patterns]="customPatterns" mask="00-000"
              />
            </mat-form-field>
            </div>
            <div class="col-sm-12 sidebar_div">
                <mat-form-field class="example-full-width">
                    <input type="text"
                    placeholder="Date Range"
                    class=""
                    formControlName="DateRange"
                    matInput
                    bsDaterangepicker 
               
                    >
                </mat-form-field>
                </div>
             <div class="col-sm-12 sidebar_div">
              <mat-form-field class="example-full-width">
                  <mat-select
                    placeholder="Race"
                    name="Type"
                    formControlName="RaceID"
                  >
                    <mat-option
                      *ngFor="
                        let race of RaceList
                      "
                      [value]="race.id"
                    >
                      {{ race.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-sm-12 sidebar_div">
              <mat-form-field class="example-full-width">
                  <mat-select
                    placeholder="Organization"
                    name="Type"
                    formControlName="OrganizationID"
                    aria-describedby="emailHelp"
                  >
                    <mat-option
                      *ngFor="
                        let organization of OrganizationList
                      "
                      [value]="organization.id" (click)="GetClinicdata(organization.id)"
                    >
                      {{ organization.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>



          <div class="col-sm-12 sidebar_div">
            <mat-form-field class="example-full-width">
                <mat-select
                  placeholder="Clinics"
                  name="Type"
                  formControlName="ClinicID"
                  aria-describedby="emailHelp"
                >
                  <mat-option
                    *ngFor="
                      let clinic of ClinicList"   
                    
                    [value]="clinic.id" (click)="GetProviderdata(clinic.id)"
                  >
                    {{ clinic.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="col-sm-12 sidebar_div">
          <mat-form-field class="example-full-width">
              <mat-select
                placeholder="Providers"
                name="Type"
                formControlName="ProviderID"
                aria-describedby="emailHelp"
              >
                <mat-option
                  *ngFor="
                    let provider of ProviderList
                  "
                  [value]="provider.id"
                >
                  {{ provider.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>

      <div class="col-sm-12 sidebar_div">
        <mat-form-field class="example-full-width">
            <mat-select
              placeholder="Payers"
              name="Type"
              formControlName="PayerID"
              aria-describedby="emailHelp"
            >
              <mat-option
                *ngFor="
                  let payer of PayerList
                "
                [value]="payer.id" 
              >
                {{ payer.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

          <div class="col-sm-12 sidebar_div">
            <mat-form-field class="example-full-width">
                <mat-select
                  placeholder="Gender"
                  name="Type"
                  formControlName="GenderID"
                  aria-describedby="emailHelp"
                >
                  <mat-option
                    *ngFor="
                      let gender of GendorList
                    "
                    [value]="gender.id"
                  >
                    {{ gender.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm-12 sidebar_div">
            <mat-form-field class="example-full-width">
                <mat-select
                  placeholder="Ethnicity"
                  name="Ethnicity"
                  formControlName="EthnicityId"
               
                >
                  <mat-option
                    *ngFor="
                      let ethnicity of EthinicityList
                    "
                    [value]="ethnicity.id"
                  > 
                    {{ ethnicity.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
          <div class="sbmt-pp stp-sb-rt">
            <button
              type="submit"
              class="btn btn-primary apply_button"
              mat-button
            >
              Apply
            </button>
          </div>
    </div>
 </div>
  </form>
</div>
