.sidebarOuter{
    right: 0;
    position: fixed;
    width: 300px;
    height:calc(100% - 42px);
    background: #ffffff;
    z-index: 32;
    transition: all 0.5s ease-out;
    top:42px;
    overflow-y: auto; overflow-x:hidden;
    padding-bottom:15px;
    border-left: 1px solid #dfdfdf;
    box-shadow: -15px 5px 25px 0 rgba(0,0,0,0.1);
  }
  .filter_section{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-left: 17px;
    margin-bottom: 15px;
  }
  button.close_filter{
    background: none;
    border: none;
    float: right;
  }
  button.apply_button{
    width: 100%; margin-left:0px;
    background: #02a7fa !important; margin-right:0px;
    border-radius: 8px;
  }
.sidebarOuter .sbmt-pp.stp-sb-rt{ padding-left:15px;}

  button.apply_button:hover{
    background: #ffffff;
    border: 1px solid #5270D4;
    color: #5270D4;
  }
  .filter_icon{
    margin-right: 15px;
    color: #02a7fa;
    font-size: 22px;
  }
  .close_filter{
    font-size: 20px;
  }
:host /deep/ .sidebar_div .mat-form-field-infix { width:230px;}
:host /deep/ .mat-form-field-type-mat-select .mat-form-field-label { font-size:14px;}
:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-label { font-size:14px;}
:host /deep/ .cdk-text-field-autofill-monitored:not(:-webkit-autofill):focus { box-shadow:none;}
:host /deep/ .sidebar_div .mat-form-field-infix { margin-top:-10px;}
:host /deep/ .bs-datepicker-container { white-space:nowrap;}
button.close_filter.sidebarBtn { margin-right:12px; z-index: 1;} 


.filter-height{padding-left:25px; position: absolute; left: 0px; right:0px; top:55px; bottom: 0px;}
.filter-height .stp-sb-rt{ margin-bottom:15px;}
.filter-height .mat-form-field{width:100%;}
.mt-top-30{ margin-top:20px;}

